//
block content
    script(src="/js/biz/navi/addNaviForm.js")
    script(src="/js/biz/navi/selectInstForm.js")
    script(src="/js/biz/navi/navi.js")
    div(ng-app="naviApp")
        //通知区域
        //内容区域
        div(ng-view)
            //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 导航列表
            //功能按钮区域
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 导航管理

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 机构角色
                    div.col-xs-6.col-md-6
                        a.btn.btn-primary.pull-right(href="",ng-click="vm.relateRoleInstNavi()") 关联导航
            div.page-body
                ul.media.media-list
                    li.media(ng-repeat="instrole in vm.instRoles")
                        div.media-body
                            a.list-group-item(ng-click="vm.selectNavi(instrole)")
                                div.row
                                    div.col-xs-6.col-md-6
                                        span {{instrole.name}}
                                    div.col-xs-6.col-md-6
                                        span(ng-if="!instrole.selected").pull-right.glyphicon.glyphicon-unchecked
                                        span(ng-if="instrole.selected").pull-right.glyphicon.glyphicon-ok

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 机构导航
                    div.col-xs-6.col-md-6
                        button.btn.btn-primary.pull-right(type="button",data-toggle="collapse",data-target="#instNavi",aria-expanded="false",aria-controls="collapseExample") 选择机构
            div.page-body
                div.container-fluid
                    div#instNavi.collapse
                        div.panel.panel-default
                            div.panel-body
                                div(npt-form="vm.selectInstFormOptions" model="vm.inst")
                ul.media.media-list
                    li.media(ng-repeat="instnavi in vm.instNavis")
                        div.media-body
                            a.list-group-item(ng-click="vm.selectNavi(instnavi)")
                                div.row
                                    div.col-xs-6.col-md-6
                                        span {{instnavi.name}}
                                    div.col-xs-6.col-md-6
                                        span(ng-if="!instnavi.selected").pull-right.glyphicon.glyphicon-unchecked
                                        span(ng-if="instnavi.selected").pull-right.glyphicon.glyphicon-ok

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 基础导航
                    div.col-xs-6.col-md-6
                        a.btn.btn-primary.pull-right(href="#/add/0") 添加顶级导航
                        a.btn.btn-primary.pull-right(type="button",data-toggle="collapse",data-target="#relateInstNavi",aria-expanded="false",aria-controls="collapseExample") 关联机构
            div.page-body(ng-if="vm.navis")
                div.container-fluid
                    div#relateInstNavi.collapse
                        div.panel.panel-default
                            div.panel-body
                                div(npt-form="vm.selectInstFormOptions" model="vm.inst")
                                a.btn.btn-primary.pull-left(href="",ng-click="vm.relateInstAndNavi(vm.inst)") 确定

                ul.media.media-list
                    li.list-group-item.media(ng-repeat="navi in vm.navis")
                        div.media-body
                            div.row
                                a.btn.npt-btn-gray-danger.btn-sm.pull-right(type="button",ng-click="vm.toAddView(navi.id)",style="margin-right:15px;") 添加子导航
                            a.list-group-item(ng-click="vm.selectNavi(navi)")
                                div.row
                                    div.col-xs-6.col-md-6
                                        span {{navi.name}}-{{navi.device}}
                                    div.col-xs-6.col-md-6
                                        span(ng-if="!navi.selected").pull-right.glyphicon.glyphicon-unchecked
                                        span(ng-if="navi.selected").pull-right.glyphicon.glyphicon-ok
                            ul.media.media-list
                                li.media(ng-repeat="child in navi.children")
                                    div.media-left(style="padding-right: 50px")
                                    div.media-body
                                        a.list-group-item(ng-click="vm.selectNavi(child)")
                                            div.row
                                                div.col-xs-6.col-md-6
                                                    span {{child.name}}-{{child.device}}
                                                div.col-xs-6.col-md-6
                                                    span(ng-if="!child.selected").pull-right.glyphicon.glyphicon-unchecked
                                                    span(ng-if="child.selected").pull-right.glyphicon.glyphicon-ok
        script(type="text/ng-template",id="add.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 合同管理
                li.active 新增导航
            //功能按钮区域
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 导航管理

                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-right(ng-if="vm.addContract.loading()")
                            li
                                a(href="") 正在保存,请稍后...
                        ul.nav.navbar-nav.navbar-right(ng-if="!vm.addContract.loading()")
                            li
                                a(href="",ng-disabled="vm.nptFormApi.form.$invalid", ng-click="vm.save(vm.navi)") 保存
                            li
                                a(href="",ng-click="vm.reset()") 重置
                            li
                                a(href="#/list") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp
            div.page-body
                div(npt-form="vm.addNaviOptions",model="vm.navi")

Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage
block titleContent
    title 导航管理

