//
   Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage
block titleContent
    title 工单管理
block content
    script(src="/js/biz/workorder/workorderListGrid.js")
    script(src="/js/biz/workorder/workorderForm.js")
    script(src="/js/biz/workorder/workorderAttachmentGrid.js")
    script(src="/js/biz/workorder/workorderCommentGrid.js")
    script(src="/js/biz/workorder/workorder.js")
    div(ng-app="workorderApp")
        //通知区域
        //内容区域
        div(ng-view)

        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 工单列表
            //功能按钮区域
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 工单列表
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li(ng-if="vm.queryService.workorderList.loading() || vm.workorderUnreadService.queryWorkordersUnread.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.queryService.workorderList.loading() && !vm.workorderUnreadService.queryWorkordersUnread.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 工单查询 - {{vm.queryService.currQuery.label}}
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat="queryItem in vm.queryService.queryList")
                                        a(href="",ng-click="vm.queryService.selectQuery(queryItem)") {{queryItem.label}}
                            li.dropdown(ng-if='!vm.queryService.workorderList.loading()')
                                a(href="",ng-if="vm.queryService.workorderList.loading()") 正在检查...
                                a.dropdown-toggle(href="",ng-if="!vm.queryService.workorderList.loading()",data-toggle="dropdown") 检查新工单[已检查{{vm.workorderUnreadService.count}}次] - {{vm.workorderUnreadService.currSchedule.label}}
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat="schedule in vm.workorderUnreadService.schedules")
                                        a(href="",ng-click="vm.workorderUnreadService.selectSchedule(schedule)") {{schedule.label}}
                            li(ng-if="vm.workorderUnreadService.hasNewWorkorders && !vm.queryService.workorderList.loading()")
                                button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.showNewWorkorders()") 显示新工单
            div(npt-grid="vm.workorderListGridOptions",model="vm.queryService.workorderList.data")
        //详情模版
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li.active 工单详情
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 工单详情
                    ul.nav.navbar-nav.navbar-right
                        li(ng-if="vm.workorderInfo.loading()")
                            a(href="") 正在查询,请稍后...
                        li(ng-if="!vm.workorderInfo.loading()")
                            a(href="",ng-click="vm.previous(vm.workorderInfo.data.workOrder)",ng-show="vm.workorderList.previous(vm.workorderInfo.data.workOrder)") 上一单
                        li(ng-if="!vm.orderInfo.loading()")
                            a(href="",ng-click="vm.next(vm.workorderInfo.data.workOrder)",ng-show="vm.workorderList.next(vm.workorderInfo.data.workOrder)") 下一单
                        li
                            a(href="#/startWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isUnstart()") 开始做
                        li
                            a(href="#/completeWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isInservice()") 完成
                        li
                            a(href="#/deliverWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isNotComplete()") 转交
                        li
                            a(href="/biz/order/#detail/{{vm.workorderInfo.data.workOrder.sourcevalue}}" target="_blank") 查看订单
                        li
                            a(href="#/list") 返回
            div.page-header
                h4 基本信息
            div.page-body
                dl.dl-horizontal
                    dt 工单编号:
                    dd {{vm.workorderInfo.data.workOrder.sn}}
                    dt 工单名称:
                    dd {{vm.workorderInfo.data.workOrder.name}}
                    dt 客户机构:
                    dd {{vm.workorderInfo.data.workOrder.clientinstid | cacheFilter:'inst':'instname':'instid'}}
                    dt 工单来源:
                    dd {{vm.workorderInfo.data.workOrder.source | ctrlCodeFilter:'sourcetype':'name':'no'}}
                    dt 工单来源值:
                    dd {{vm.workorderInfo.data.workOrder.sourcevalue}}
                    dt 工单描述:
                    dd {{vm.workorderInfo.data.workOrder.descr}}
                    dt 工单状态:
                    dd {{vm.workorderInfo.data.workOrder.state | ctrlCodeFilter:'workstate':'name':'no'}}
                    dt 分配人:
                    dd {{vm.workorderInfo.data.workOrder.processid | cacheFilter:'user':'name':'id'}}
                    dt 处理人:
                    dd {{vm.workorderInfo.data.workOrder.assignedid | cacheFilter:'user':'name':'id'}}
                    dt 分配日期:
                    dd {{vm.workorderInfo.data.workOrder.assigneddate | timestampFilter}}
                    dt 计划开始日期:
                    dd {{vm.workorderInfo.data.workOrder.processdate | timestampFilter:"yyyy-MM-dd"}}
                    dt 实际开始日期:
                    dd {{vm.workorderInfo.data.workOrder.doactiondate | timestampFilter}}
                    dt 计划完成日期:
                    dd {{vm.workorderInfo.data.workOrder.expirydate | timestampFilter:"yyyy-MM-dd"}}
                    dt 实际完成日期:
                    dd {{vm.workorderInfo.data.workOrder.completedate | timestampFilter}}
                    dt 职责:
                    dd {{vm.workorderInfo.data.workOrder.duty | timestampFilter}}
                    dt 创建日期:
                    dd {{vm.workorderInfo.data.workOrder.createdate | timestampFilter}}
            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 工单资料
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelAttachment")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    h5 {{item.attachname}}
                                    div(ng-if="item.inputtype === 'image'", style="width:200px;height:100px;",npt-image="item.inputvalue")
                                    p(ng-if="item.inputtype === 'text'")
                                        {{item.inputvalue}}
                        div.list-group-item-text

                            p 资料交接类型:{{item.transfertype | ctrlCodeFilter:'transfertype':'name':'no'}}
                            p 资料类型:{{item.inputtype | ctrlCodeFilter:'inputtype':'name':'no'}}

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 工单评论
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelComment")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    h5 {{item.displayName}}
                        div.list-group-item-text
                            span 评价内容:{{item.commenttext}} 评论时间:{{item.createdate | ctrlCodeFilter:'inputtype':'name':'no'}}

        script(type="text/ng-template",id="startWorkorder.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li
                    a(href="#/detail/{{vm.modelWorkorder.id}}")
                        span 工单详情
                li.active 开始工单
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 开始工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.startWorkorder()",ng-disabled="vm.nptFormApi.form.$invalid") 立即开始
                        li
                            button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.nptFormApi.reset()") 重置
                        li
                            button.btn.btn-warning.navbar-btn(type="button",ng-click="vm.toDetail()") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp
            div.well
                span 请核对以下工单信息!
                dl.dl-horizontal
                    dt 工单编号:
                    dd {{vm.workorderInfo.data.workOrder.sn}}
                    dt 工单名称:
                    dd {{vm.workorderInfo.data.workOrder.name}}
                    dt 客户机构:
                    dd {{vm.workorderInfo.data.workOrder.clientinstid | cacheFilter:'inst':'instname':'instid'}}
                    dt 工单来源:
                    dd {{vm.workorderInfo.data.workOrder.source | ctrlCodeFilter:'sourcetype':'name':'no'}}
                    dt 工单来源值:
                    dd {{vm.workorderInfo.data.workOrder.sourcevalue}}
                    dt 工单描述:
                    dd {{vm.workorderInfo.data.workOrder.descr}}
                    dt 工单状态:
                    dd {{vm.workorderInfo.data.workOrder.state | ctrlCodeFilter:'workstate':'name':'no'}}
                    dt 分配人:
                    dd {{vm.workorderInfo.data.workOrder.processid | cacheFilter:'user':'name':'id'}}
                    dt 处理人:
                    dd {{vm.workorderInfo.data.workOrder.assignedid | cacheFilter:'user':'name':'id'}}
                    dt 分配日期:
                    dd {{vm.workorderInfo.data.workOrder.assigneddate | timestampFilter}}
                    dt 计划开始日期:
                    dd {{vm.workorderInfo.data.workOrder.processdate | timestampFilter:"yyyy-MM-dd"}}
                    dt 实际开始日期:
                    dd {{vm.workorderInfo.data.workOrder.doactiondate | timestampFilter}}
                    dt 计划完成日期:
                    dd {{vm.workorderInfo.data.workOrder.expirydate | timestampFilter:"yyyy-MM-dd"}}
                    dt 职责:
                    dd {{vm.workorderInfo.data.workOrder.duty | timestampFilter}}
                    dt 创建日期:
                    dd {{vm.workorderInfo.data.workOrder.createdate | timestampFilter}}

            div(npt-form="vm.startWorkorderOptions",model="vm.model")
        script(type="text/ng-template",id="completeWorkorder.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li
                    a(href="#/detail/{{vm.workorderid}}")
                        span 工单详情
                li.active 开始工单
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 完成工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#/detail/{{vm.workorderid}}") 返回
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 完成工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.completeWorkorder()",ng-disabled="vm.nptFormApi.form.$invalid") 立即完成
                        li
                            button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.nptFormApi.reset()") 重置
                        li
                            button.btn.btn-warning.navbar-btn(type="button",ng-click="vm.toDetail()") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp
            div.well
                span 请核对以下工单信息!
                dl.dl-horizontal
                    dt 工单编号:
                    dd {{vm.workorderInfo.data.workOrder.sn}}
                    dt 工单名称:
                    dd {{vm.workorderInfo.data.workOrder.name}}
                    dt 客户机构:
                    dd {{vm.workorderInfo.data.workOrder.clientinstid | cacheFilter:'inst':'instname':'instid'}}
                    dt 工单来源:
                    dd {{vm.workorderInfo.data.workOrder.source | ctrlCodeFilter:'sourcetype':'name':'no'}}
                    dt 工单来源值:
                    dd {{vm.workorderInfo.data.workOrder.sourcevalue}}
                    dt 工单描述:
                    dd {{vm.workorderInfo.data.workOrder.descr}}
                    dt 工单状态:
                    dd {{vm.workorderInfo.data.workOrder.state | ctrlCodeFilter:'workstate':'name':'no'}}
                    dt 分配人:
                    dd {{vm.workorderInfo.data.workOrder.processid | cacheFilter:'user':'name':'id'}}
                    dt 处理人:
                    dd {{vm.workorderInfo.data.workOrder.assignedid | cacheFilter:'user':'name':'id'}}
                    dt 分配日期:
                    dd {{vm.workorderInfo.data.workOrder.assigneddate | timestampFilter}}
                    dt 计划开始日期:
                    dd {{vm.workorderInfo.data.workOrder.processdate | timestampFilter:"yyyy-MM-dd"}}
                    dt 实际开始日期:
                    dd {{vm.workorderInfo.data.workOrder.doactiondate | timestampFilter}}
                    dt 计划完成日期:
                    dd {{vm.workorderInfo.data.workOrder.expirydate | timestampFilter:"yyyy-MM-dd"}}
                    dt 职责:
                    dd {{vm.workorderInfo.data.workOrder.duty | timestampFilter}}
                    dt 创建日期:
                    dd {{vm.workorderInfo.data.workOrder.createdate | timestampFilter}}

            div(npt-form="vm.completeWorkorderOptions",model="vm.model")



        script(type="text/ng-template",id="deliverWorkorder.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li
                    a(href="#/detail/{{vm.workorderid}}")
                        span 工单详情
                li.active 转交工单
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 转交工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.deliverWorkorder()",ng-disabled="vm.nptFormApi.form.$invalid") 确认转交
                        li
                            button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.nptFormApi.reset()") 重置
                        li
                            button.btn.btn-warning.navbar-btn(type="button",ng-click="vm.toDetail()") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp
            div.well
                span 请核对以下工单信息!
                dl.dl-horizontal
                    dt 工单编号:
                    dd {{vm.workorderInfo.data.workOrder.sn}}
                    dt 工单名称:
                    dd {{vm.workorderInfo.data.workOrder.name}}
                    dt 客户机构:
                    dd {{vm.workorderInfo.data.workOrder.clientinstid | cacheFilter:'inst':'instname':'instid'}}
                    dt 工单来源:
                    dd {{vm.workorderInfo.data.workOrder.source | ctrlCodeFilter:'sourcetype':'name':'no'}}
                    dt 工单来源值:
                    dd {{vm.workorderInfo.data.workOrder.sourcevalue}}
                    dt 工单描述:
                    dd {{vm.workorderInfo.data.workOrder.descr}}
                    dt 工单状态:
                    dd {{vm.workorderInfo.data.workOrder.state | ctrlCodeFilter:'workstate':'name':'no'}}
                    dt 分配人:
                    dd {{vm.workorderInfo.data.workOrder.processid | cacheFilter:'user':'name':'id'}}
                    dt 处理人:
                    dd {{vm.workorderInfo.data.workOrder.assignedid | cacheFilter:'user':'name':'id'}}
                    dt 分配日期:
                    dd {{vm.workorderInfo.data.workOrder.assigneddate | timestampFilter}}
                    dt 计划开始日期:
                    dd {{vm.workorderInfo.data.workOrder.processdate | timestampFilter:"yyyy-MM-dd"}}
                    dt 实际开始日期:
                    dd {{vm.workorderInfo.data.workOrder.doactiondate | timestampFilter}}
                    dt 计划完成日期:
                    dd {{vm.workorderInfo.data.workOrder.expirydate | timestampFilter:"yyyy-MM-dd"}}
                    dt 职责:
                    dd {{vm.workorderInfo.data.workOrder.duty | timestampFilter}}
                    dt 创建日期:
                    dd {{vm.workorderInfo.data.workOrder.createdate | timestampFilter}}

            div(npt-form="vm.deliverWorkorderOptions",model="vm.model")