//
   Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage
block titleContent
    title 工单管理
block content
    script(src="/js/biz/workorder/workorderListGrid.js")
    script(src="/js/biz/workorder/workorderForm.js")
    script(src="/js/biz/workorder/workorderAttachmentGrid.js")
    script(src="/js/biz/workorder/workorderCommentGrid.js")
    script(src="/js/biz/workorder/workorder.js")
    div(ng-app="workorderApp")
        //通知区域
        //内容区域
        div(ng-view)

        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 工单列表
            //功能按钮区域
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 工单列表
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li(ng-if="vm.workorderList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.workorderList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 订单查询 - {{vm.queryName}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="",ng-click="vm.queryByState('','全部')") 全部
                                    li
                                        a(href="",ng-click="vm.queryByState('unstart','未处理')") 未处理
                                    li
                                        a(href="",ng-click="vm.queryByState('inservice','处理中')") 处理中
                                    li
                                        a(href="",ng-click="vm.queryByState('complete','已完成')") 已完成
                                    li
                                        a(href="") 条件查询
                            //li.dropdown(ng-if='!vm.workorderList.loading()')
                            //    a(href="",ng-if="vm.ordersIsUnread.loading()") 正在检查...
                            //    a.dropdown-toggle(href="",ng-if="!vm.ordersIsUnread.loading()",data-toggle="dropdown") 检查新订单[已检查{{vm.count}}次] - {{vm.scheduleLabel}}
                            //        span.caret
                            //    ul.dropdown-menu
                            //        li(ng-repeat="schedule in vm.schedules")
                            //            a(href="",ng-click="vm.selectSchedule(schedule)") {{schedule.label}}
                            //li(ng-if="vm.hasNewOrders")
                            //    button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.showNewOrders()") 显示新订单
            div(npt-grid="vm.workorderListGridOptions",model="vm.workorderList.data")
        //详情模版
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li.active 工单详情
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 工单详情
                    ul.nav.navbar-nav.navbar-right
                        li(ng-if="vm.workorderInfo.loading()")
                            a(href="") 正在查询,请稍后...
                        li(ng-if="!vm.workorderInfo.loading()")
                            a(href="",ng-click="vm.previous(vm.workorderInfo.data.workOrder)",ng-show="vm.workorderList.previous(vm.workorderInfo.data.workOrder)") 上一单
                        li(ng-if="!vm.orderInfo.loading()")
                            a(href="",ng-click="vm.next(vm.workorderInfo.data.workOrder)",ng-show="vm.workorderList.next(vm.workorderInfo.data.workOrder)") 下一单
                        li
                            a(href="#/startWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isUnstart()") 开始做
                        li
                            a(href="#/completeWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isInservice()") 完成
                        li
                            a(href="#/deliverWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isNotComplete()") 转交
                        li
                            a(href="#/completeWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isInservice()") 查看订单
                        li
                            a(href="#/list") 返回
            div.page-header
                h4 基本信息
            div.page-body
                //div(npt-form="vm.workorderFormOptions",model="vm.model.data.workOrder")
                ul
                    li
                        strong 工单编号:&nbsp
                        span {{vm.workorderInfo.data.workOrder.sn}}
                    li
                        strong 工单名称:&nbsp
                        span {{vm.workorderInfo.data.workOrder.name}}
                    li
                        strong 工单描述:&nbsp
                        span {{vm.workorderInfo.data.workOrder.descr}}
                    li
                        strong 工单状态:&nbsp
                        span {{vm.workorderInfo.data.workOrder.state | ctrlCodeFilter:'workstate':'name':'no'}}
                    li
                        strong 分配人:&nbsp
                        span {{vm.workorderInfo.data.workOrder.processid | cacheFilter:'user':'name':'id'}}
                    li
                        strong 处理人:&nbsp
                        span {{vm.workorderInfo.data.workOrder.assignedid | cacheFilter:'user':'name':'id'}}
                    li
                        strong 分配日期:&nbsp
                        span {{vm.workorderInfo.data.workOrder.processdate | timestampFilter}}
            div.page-header
                h4 工单资料
            div.page-body
                div(npt-grid="vm.workorderAttachmentOptions",model="vm.modelAttachment")

            div.page-header
                h4 工单评价
            div.page-body
                div(npt-grid="vm.workorderAttachmentOptions",model="vm.modelComment")

        script(type="text/ng-template",id="startWorkorder.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li
                    a(href="#/detail/{{vm.modelWorkorder.id}}")
                        span 工单详情
                li.active 开始工单
            //nav.navbar.navbar-default.navbar-fixed-top
            //    div.container-fluid
            //        div.navbar-header
            //            a.navbar-brand(href="") 开始工单
            //        ul.nav.navbar-nav.navbar-right
            //            li
            //                a(href="#/detail/{{vm.modelWorkorder.id}}") 返回
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 开始工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.startWorkorder()",ng-disabled="vm.nptFormApi.form.$invalid") 立即开始
                        li
                            button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.nptFormApi.reset()") 重置
                        li
                            button.btn.btn-warning.navbar-btn(type="button",ng-click="vm.toDetail()") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp
            div.well
                span 请核对以下工单信息!
                ul
                    li 工单编号:{{vm.modelWorkorder.sn}}
                    li 工单名称:{{vm.modelWorkorder.name}}
                    li 工单描述:{{vm.modelWorkorder.descr}}
                    li 工单状态:{{vm.modelWorkorder.state | ctrlCodeFilter:'workstate':'name':'no'}}

            div(npt-form="vm.startWorkorderOptions",model="vm.model")
        script(type="text/ng-template",id="completeWorkorder.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li
                    a(href="#/detail/{{workorderid}}")
                        span 工单详情
                li.active 开始工单
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 完成工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#/detail/{{workorderid}}") 返回
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 完成工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.completeWorkorder()",ng-disabled="vm.nptFormApi.form.$invalid") 立即完成
                        li
                            button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.nptFormApi.reset()") 重置
                        li
                            button.btn.btn-warning.navbar-btn(type="button",ng-click="vm.toDetail()") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp
            div.well
                span 请核对以下工单信息!
                ul
                    li 工单编号:{{vm.modelWorkorder.sn}}
                    li 工单名称:{{vm.modelWorkorder.name}}
                    li 工单描述:{{vm.modelWorkorder.descr}}
                    li 工单状态:{{vm.modelWorkorder.state | ctrlCodeFilter:'workstate':'name':'no'}}

            div(npt-form="vm.completeWorkorderOptions",model="vm.model")



        script(type="text/ng-template",id="deliverWorkorder.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li
                    a(href="#/detail/{{workorderid}}")
                        span 工单详情
                li.active 转交工单
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 转交工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.deliverWorkorder()",ng-disabled="vm.nptFormApi.form.$invalid") 确认转交
                        li
                            button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.nptFormApi.reset()") 重置
                        li
                            button.btn.btn-warning.navbar-btn(type="button",ng-click="vm.toDetail()") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp
            div.well
                span 请核对以下工单信息!
                ul
                    li 工单编号:{{vm.modelWorkorder.sn}}
                    li 工单名称:{{vm.modelWorkorder.name}}
                    li 工单描述:{{vm.modelWorkorder.descr}}
                    li 工单状态:{{vm.modelWorkorder.state | ctrlCodeFilter:'workstate':'name':'no'}}

            div(npt-form="vm.deliverWorkorderOptions",model="vm.model")