//
   Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage
block titleContent
    title 工单管理
block content
    script(src="/js/biz/workorder/workorderListGrid.js")
    script(src="/js/biz/workorder/workorderForm.js")
    script(src="/js/biz/workorder/workorderAttachmentGrid.js")
    script(src="/js/biz/workorder/workorderCommentGrid.js")
    script(src="/js/biz/workorder/workorder.js")
    div(ng-app="workorderApp")
        //通知区域
        //内容区域
        div(ng-view)

        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 工单列表
            //功能按钮区域
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 工单列表
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li(ng-if="vm.workorderList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.workorderList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 订单查询 - {{vm.queryName}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="",ng-click="vm.queryByState('','全部')") 全部
                                    li
                                        a(href="",ng-click="vm.queryByState('unstart','未处理')") 未处理
                                    li
                                        a(href="",ng-click="vm.queryByState('inservice','处理中')") 处理中
                                    li
                                        a(href="",ng-click="vm.queryByState('complete','已完成')") 已完成
                                    li
                                        a(href="") 条件查询
            div(npt-grid="vm.workorderListGridOptions",model="vm.workorderList.data")
        //详情模版
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li.active 工单详情
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 工单详情
                    ul.nav.navbar-nav.navbar-right
                        li(ng-if="vm.workorderInfo.loading()")
                            a(href="") 正在查询,请稍后...
                        li(ng-if="!vm.workorderInfo.loading()")
                            a(href="",ng-click="vm.previous(vm.workorderInfo.data.workOrder)",ng-show="vm.workorderList.previous(vm.workorderInfo.data.workOrder)") 上一单
                        li(ng-if="!vm.orderInfo.loading()")
                            a(href="",ng-click="vm.next(vm.workorderInfo.data.workOrder)",ng-show="vm.workorderList.next(vm.workorderInfo.data.workOrder)") 下一单
                        li
                            a(href="#/startWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isUnstart()") 开始做
                        li
                            a(href="#/completeWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isInservice()") 完成
                        li
                            a(href="#/completeWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isInservice()") 转交
                        li
                            a(href="#/completeWorkorder/{{vm.workorderInfo.data.workOrder.id}}",ng-show="vm.isInservice()") 查看订单
                        li
                            a(href="#/list") 返回
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.workorderFormOptions",model="vm.model.data.workOrder")

            div.page-header
                h4 工单资料
            div.page-body
                div(npt-grid="vm.workorderAttachmentOptions",model="vm.modelAttachment")

            div.page-header
                h4 工单评价
            div.page-body
                div(npt-grid="vm.workorderAttachmentOptions",model="vm.modelComment")

        script(type="text/ng-template",id="startWorkorder.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li
                    a(href="#/detail/{{vm.model.data.workOrder.id}}")
                        span 工单详情
                li.active 开始工单
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 开始工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#/detail/{{vm.model.data.workOrder.id}}") 返回
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 开始工单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.startWorkorder()",ng-disabled="vm.nptFormApi.form.$invalid") 立即开始
                        li
                            button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.nptFormApi.reset()") 重置
                        li
                            button.btn.btn-warning.navbar-btn(href="#detail/{{workorderid}}") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp
            div.well
                span 请核对以下工单信息!
                ul
                    li 工单编号:{{vm.modelWorkorder.sn}}
                    li 工单名称:{{vm.modelWorkorder.name}}
                    li 工单描述:{{vm.modelWorkorder.descr}}
                    li 工单状态:{{vm.modelWorkorder.state | ctrlCodeFilter:'workstate':'name':'no'}}

            div(npt-form="vm.startWorkorderOptions",model="vm.model")
        script(type="text/ng-template",id="completeWorkorder.html")
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#/list")
                                span 工单列表
                        li
                            a(href="#/detail/{{workorderid}}")
                                span 工单详情
                        li.active 完成工单
            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 完成工单
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#detail/{{workorderid}}") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp
            div.row
                div.col-md-12
                    div.panel.panel-primary
                        div.panel-heading 工单信息
                        div.panel-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单编号:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.sn}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单名称:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.name}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单描述:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.descr}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单状态:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.state}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="postscript") 附言:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",ng-model="postscript")


                                div.form-group
                                    div.col-sm-offset-2.col-md-10
                                        button.btn.btn-primary(type="button",ng-click="completeWorkorder()") 确认完成
                                        | &nbsp &nbsp
                                        a.btn.btn-default(type="button",href="#/detail/{{workorderid}}") 返回



        script(type="text/ng-template",id="deliverWorkorder.html")
            div.row
                div.col-md-12
                    //功能导航区域
                    div.row
                        div.col-md-12
                            ul.breadcrumb
                                li
                                    a(href="/home")
                                        span.glyphicon.glyphicon-home
                                        span 首页
                                li
                                    a(href="#list")
                                        span 工单列表
                                li
                                    a(href="#detail/{{orderid}}")
                                        span 工单详情
                                li.active 转交工单

                    nav.navbar.navbar-default
                        div.navbar-header
                            a.navbar-brand(href="") 转交工单
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#detail/{{workorderid}}") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp

                    //工单转发--用户选择模块
                    npt-select-tree(name="selectAdviser",select-type="selectUser",on-select="onSelect(type,item,index)")

                    div.row
                        div.col-md-12
                            div.panel.panel-primary
                                div.panel-heading 转交信息
                                div.panel-body
                                    form.form-horizontal(name="deliverForm")
                                        div.form-group
                                            label.col-md-2.control-label(for="deliverName") 转交用户:
                                            div.col-md-10
                                                div.input-group
                                                    span.input-group-btn
                                                        button.btn.btn-primary(type="button",ng-click="openSelectUser()") 选择专属顾问
                                                    input.form-control(type="text",id="deliverName",name="deliverName",placeholder="请选择专属顾问",ng-model="deliverName",required,disabled)
                                                    //span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="deliverForm.deliverName.$dirty")
                                        div.form-group
                                            label.col-md-2.control-label(for = "postscript") 附言:
                                            div.col-md-10
                                                input.form-control(type="text",id="postscript",name="postscript",ng-model="postscript")
                                        div.form-group
                                            div.col-sm-offset-2.col-md-10
                                                button.btn.btn-primary(type="button",ng-click="deliver()") 确认转交
                                                | &nbsp &nbsp
                                                a.btn.btn-default(type="button",href="#/detail/{{workorderid}}") 返回