//
   Created by leon on 15/12/21.


extends ../../layout/layout-mobile
block title
    p 产品详情
block content
    script(src="/js/mobile/common/productDesc.js")
    div(ng-app="ProductDescApp")
        div(ng-view)
        script(id="productDesc.html",type="text/ng-template")
            H3 产品详情
            div(ng-repeat="product in vm.model")
                div
                    h3(ng-bind="product.descr", style="line-height:200%;margin-left:-15px;padding-left:10px;color:white;font-size:16px;border:0;background: -webkit-linear-gradient(left,rgba(233, 75, 53,1),rgba(233, 75, 53,0));" +
                                                "background: -o-linear-gradient(right,rgba(233, 75, 53,1),rgba(233, 75, 53,0));" +
                                                "background: -moz-linear-gradient(right,rgba(233, 75, 53,1),rgba(233, 75, 53,0));" +
                                                "background: linear-gradient(to right, rgba(233, 75, 53,1), rgba(233, 75, 53,0));")
                div.page-body
                    p(style="line-height:200%", ng-if="product.type==='text'", ng-bind-html="product.descrvalue")
                    img(ng-if="product.type==='img'", npt-image="product.descrvalue", npt-image-options="vm.imageOptions")