//
   Created by leon on 15/12/21.


extends ../../layout/layout-mobile
block title
    p 产品详情
block content
    script(src="/js/mobile/common/productDesc.js")
    div(ng-app="ProductDescApp")
        div(ng-view)
        script(id="productDesc.html",type="text/ng-template")
            H1 产品详情 {{vm.productid}}
            div(ng-repeat="product in vm.model")
                div.page-header
                    pre(ng-bind="product.descr", style="color:white;font-size:14px;border:0;background: -webkit-linear-gradient(left,rgba(217,83,79,1),rgba(217,83,79,0));" +
                                                "background: -o-linear-gradient(right,rgba(217,83,79,1),rgba(217,83,79,0));" +
                                                "background: -moz-linear-gradient(right,rgba(217,83,79,1),rgba(217,83,79,0));" +
                                                "background: linear-gradient(to right, rgba(217,83,79,1), rgba(217,83,79,0));")
                div.page-body
                    p(ng-if="product.type==='text'", ng-bind-html="product.descrvalue")
                    img(ng-if="product.type==='img'", npt-image="product.descrvalue", npt-image-options="vm.imageOptions")