doctype html
html(lang="zh_CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block titleContent
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/angular-ui-tree/angular-ui-tree.min.css')
        link(rel='stylesheet', href='/stylesheets/bizpage.css')
    body.container-fluid

        script(src="/vendor/jQuery/jQuery-2.1.4.min.js")
        script(src="/vendor/angular/angular.min.js")
        script(src="/vendor/angular/angular-route.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.min.js")
        script(src="/vendor/ui-bootstrap/ui-bootstrap-tpls-0.14.2.min.js")
        script(src="/vendor/angular-ui-tree/angular-ui-tree.min.js")
        script(src="/vendor/angular-formly/api-check.js")
        script(src="/vendor/angular-formly/formly.js")
        script(src="/vendor/angular-formly-templates-bootstrap/angular-formly-templates-bootstrap.js")
        script(src="/vendor/neptune/neptune-1.0.0.js")
        script(src="/js/config/index.js")
        script(src="/js/config/select-tree.js")
        block content