//
   Created by Leon on 15/10/15.

doctype html
html(lang="zh_CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block titleContent
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-theme.css')
        link(rel='stylesheet',href= '/stylesheets/app.css')
        link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet", href="/stylesheets/skin-blue.min.css")
        link(rel="stylesheet", href="/stylesheets/AdminLTE.min.css")
        script(src="/vendor/jQuery/jQuery-2.1.4.min.js")
        script(src="/vendor/angular/angular.min.js")
        script(src="/vendor/angular/angular-route.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.min.js")
        script(src="/js/app.js")
        script(src="/js/nav-util.js")
    body.body-master.main-container


        //导航条
        nav.navbar.navbar-inverse.navbar-fixed-top
            div.navbar-header
                button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",
                aria-expanded="false", aria-controls="navbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") 顶聚科技
            div.navbar-right
                ul.nav.navbar-nav
                    li
                        a(href="#")
                            span.glyphicon.glyphicon-envelope
                    li.dropdown
                        a.dropdown-toggle(href="#",data-toggle="dropdown")
                            img.img-circle(src="http://www.placehold.it/20x20",alt="User Image")
                            span.hidden-xs
                                small 黄黎
                            span.caret
                        ul.dropdown-menu
                            li
                                a(data-toggle="modal" data-target="#changeInst")
                                    i.glyphicon.glyphicon-resize-horizontal
                                    span 切换机构
                            li
                                a(href="#")
                                    i.glyphicon.glyphicon-cog
                                    span 修改密码
                            li
                                a(href="#")
                                    i.glyphicon.glyphicon-user
                                    span 用户信息
                            li.divider(role="separator")
                            li
                                a(href="#")
                                    i.glyphicon.glyphicon-off
                                    span 退出
        aside.main-sidebar.skin-blue.sidebar-mini(style="background-color: #222")
            section.sidebar
                // Sidebar Menu
                ul.sidebar-menu
                    li.treeview
                        a(href="#")
                            span 工单管理
                        ul.treeview-menu(style="display: none;")
                            li
                                a(href="#") 工单列表
                    li.treeview
                        a(href="#")
                            span 订单管理
                        ul.treeview-menu(style="display: none;")
                            li
                                a(href="#") 订单列表
                    li.treeview
                        a(href="#")
                            span 产品管理
                        ul.treeview-menu(style="display: none;")
                            li
                                a(href="#") 产品列表
                    li.treeview
                        a(href="#")
                            span 文件管理
                        ul.treeview-menu(style="display: none;")
                            li
                                a(href="#") 素材管理
                            li
                                a(href="#") 系统文件
                            li
                                a(href="#") 用户文件
        .content-wrapper
            #changeInst.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel2")
                .modal-dialog(role="document")
                    .modal-content
                        form
                            .modal-header
                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                    span(aria-hidden="true") &#215;
                                h4#myModalLabel2.modal-title &#20999;&#25442;&#26426;&#26500;
                            .modal-body
                                input.form-control(type="text")
                            .modal-footer
                                button.btn.btn-default(type="button", data-dismiss="modal") Close
                                button.btn.btn-primary(type="button") Save changes
            block content


