doctype html
html(lang="zh_CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block titleContent
        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href= '/stylesheets/app.css')
    body.container-fluid
        script(src="/node_modules/jquery/dist/jquery.min.js")
        script(src="/node_modules/angular/angular.min.js")
        script(src="/node_modules/angular-route/angular-route.min.js")
        script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
        //script(src="/vendor/ui-bootstrap/ui-bootstrap-tpls-0.14.2.min.js")
        block content
