//
   Created by Y9 on 2015/10/20.
extends ../layout/layout-nav

block titleContent
   title 顶聚科技

block content
   .row
      // 当前页面导航。同时表达本页面功能名称
      .col-md-12
         ul.breadcrumb(style="margin-bottom: 8px;")
            li
               a(href="#/home")
                  span.glyphicon.glyphicon-home
                  | &#39318;&#39029;
            li
               a(href="#/workorder/workorder-list") &#24037;&#21333;&#21015;&#34920;
            li.active &#24037;&#21333;&#35814;&#24773;
   .row
      .col-md-12
         nav.nav.navbar-default
            .navbar-header
               p.navbar-brand &#24037;&#21333;&#35814;&#24773;
            .navbar-right(style="margin-right: 0px;")
               ul.nav.navbar-nav
                  li
                     // Button trigger modal
                     a(href="#")
                        | &#19979;&#19968;&#21333;
                  li
                     // Button trigger modal
                     a(data-toggle="modal", data-target="#start")
                        | &#24320;&#22987;&#20570;
                     // Modal
                     #start.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
                        .modal-dialog(role="document")
                           .modal-content
                              form(action="./workorder-detail.html", method="get")
                                 .modal-header
                                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                                       span(aria-hidden="true") &#215;
                                    h4#myModalLabel.modal-title &#38468;&#35328;
                                 .modal-body
                                    input.form-control(type="text")
                                 .modal-footer
                                    button.btn.btn-default(type="button", data-dismiss="modal")
                                       | &#20851;&#38381;
                                    button.btn.btn-primary(type="button submit") &#30830;&#35748;
                  li
                     a(href="/order/orderDetail") 查看订单
                  li
                     a(href="/workorder") 返回
   .row
      .col-md-10
         .row
            .col-md-12
               .page-header
                  h5#baseinfo &#22522;&#26412;&#20449;&#24687;
               form.form-horizontal
                  .form-group
                     label.col-sm-2.control-label &#24037;&#21333;&#32534;&#21495;&#65306;
                     .col-sm-10
                        p.form-control-static 10000002316105
                     label.col-sm-2.control-label &#24037;&#21333;&#21517;&#31216;&#65306;
                     .col-sm-10
                        p.form-control-static &#21672;&#35810;&#26381;&#21153;-&#21069;&#26399;
                     label.col-sm-2.control-label &#24037;&#21333;&#25551;&#36848;&#65306;
                     .col-sm-10
                        p.form-control-static &#21069;&#26399;
                     label.col-sm-2.control-label &#24037;&#21333;&#29366;&#24577;&#65306;
                     .col-sm-10
                        p.form-control-static &#26410;&#24320;&#22987;
                     label.col-sm-2.control-label &#22788;&#29702;&#20154;&#65306;
                     .col-sm-10
                        p.form-control-static &#40644;&#40654;
                     label.col-sm-2.control-label &#24037;&#21333;&#20998;&#37197;&#20154;&#65306;
                     .col-sm-10
                        p.form-control-static &#40644;&#40654;
                     label.col-sm-2.control-label &#20998;&#37197;&#26085;&#26399;&#65306;
                     .col-sm-10
                        p.form-control-static 2015-09-17
                     label.col-sm-2.control-label &#24037;&#21333;&#23436;&#25104;&#26085;&#26399;&#65306;
                     .col-sm-10
                        p.form-control-static
         .row
            .col-md-12
               .page-header
                  h5#workorderinfo &#24037;&#21333;&#36164;&#26009;
               .table-responsive(style="margin: 20px 20px 20px;")
                  // table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格
                  table.table.table-striped.table-bordered.table-hover.table-condensed(style="margin-bottom: 5px;")
                     tbody
                        tr
                           th.text-center #
                           th.text-center &#36164;&#26009;&#21517;&#31216;
                           th.text-center &#36164;&#26009;&#20132;&#25509;&#31867;&#22411;
                           th.text-center &#36164;&#26009;&#31867;&#22411;
                           th.text-center &#25805;&#20316;
                        tr
                           td.text-center 1
                           td.text-center &#36523;&#20221;&#35777;&#27491;&#38754;
                           td.text-center &#32447;&#19979;
                           td.text-center &#19981;&#28165;&#26970;
                           td.text-center &#26597;&#30475;
                  br
                  br
                  br
         .row
            .col-md-12
               .page-header
                  h5#workordercomment &#24037;&#21333;&#35780;&#20215;
               .table-responsive(style="margin: 20px 20px 20px;")
                  table.table.table-striped.table-bordered.table-hover.table-condensed
                     tr
                        th &#35780;&#20215;&#20869;&#23481;
                        th &#35780;&#20215;&#32773;
                     tr
                        td &#26381;&#21153;&#24456;&#21040;&#20301;,&#25928;&#29575;&#39640;
                        td &#23567;&#29577;
                     tr
                        td &#26381;&#21153;&#24456;&#21040;&#20301;,&#25928;&#29575;&#39640;
                        td &#23567;&#29577;
                     tr
                        td &#26381;&#21153;&#24456;&#21040;&#20301;,&#25928;&#29575;&#39640;
                        td &#23567;&#29577;
         .row
            .col-md-12
               .page-header
                  h5#msglist &#27807;&#36890;&#35760;&#24405;
                  blockquote
                     p
                        | &#35746;&#21333;&#25552;&#37266;
                        | 2015-09-01
                        | &#23562;&#25964;&#30340;&#23458;&#25143;&#65306;
                        | &#24744;&#36141;&#20080;&#30340;&#21672;&#35810;&#26381;&#21153;&#26381;&#21153;&#24050;&#32463;&#30830;&#35748;&#12290;
                        | &#35746;&#21333;&#21495;&#65306;(10000002310674)
                        | &#35746;&#21333;&#37329;&#39069;&#65306;1100.0&#20803;&#12290;
                        | &#26381;&#21153;&#26085;&#26399;&#65306;2015-01-01--&#62;2015-06-30)
                        | &#24744;&#21487;&#20197;&#22312;&#36825;&#37324;&#22238;&#22797;&#20320;&#30340;&#38382;&#39064;&#21644;&#24314;&#35758;&#12290;
                        | &#25105;&#20204;&#23558;&#31469;&#35802;&#20026;&#20320;&#26381;&#21153;&#65281;&#12304;&#39030;&#32858;&#31185;&#25216;&#12305;
               div
                  .row
                     .col-md-1
                     .col-md-10.text-right
                        p 2015-09-01 18:17:15
                        .bg-info 6666
                     .col-md-1(style="margin-bottom: 5px;")
                        img.img-responsive.center-block(src="http://www.placehold.it/70x70", alt="Responsive image")
                  .row
                     .col-md-1(style="margin-bottom: 5px;")
                        img.img-responsive.center-block(src="http://www.placehold.it/70x70", alt="Responsive image")
                     .col-md-10
                        p 2015-09-01 18:17:15
                        .bg-info 6666
                     .col-md-1
                  .row
                     .col-md-1
                     .col-md-10
                        p.text-right 2015-09-01 18:17:15
                        .bg-info.text-right 6666
                     .col-md-1(style="margin-bottom: 5px;")
                        img.img-responsive.center-block(src="http://www.placehold.it/70x70", alt="Responsive image")
                  .col-md-12
                     form(action="#", method="post")
                        p &#21457;&#34920;&#35780;&#35770;
                        input.form-control(type="text")
                        button.btn.btn-default(type="button") &#35780;&#35770;
         br
         br
         br
         br
         br
         br
         br
         br
      #navScrollspy.col-md-2
         div(data-spy="affix", data-offset-top="200", data-offset-bottom="10")
            ul.nav.nav-pills.nav-stacked
               li.active
                  a(href="", data-target="#baseinfo") &#22522;&#26412;&#20449;&#24687;
               li
                  a(href="#workorderinfo") &#24037;&#21333;&#36164;&#26009;
               li
                  a(href="#workordercomment") &#24037;&#21333;&#35780;&#20215;
               li
                  a(href="#msglist") &#27807;&#36890;&#35760;&#24405;
   

