//
   Created by rxy on 15/11/3.
extends ../../layout/layout-bizpage
block content
    script(src="/js/biz/receivable/receivableListGrid.js")
    script(src="/js/biz/receivable/receivable.js")
    div(ng-app="receivableApp")
        //通知区域
        //内容区域
        div(ng-view)
        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 收款列表
            //功能导航
            nav.navbar.navbar-default
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 收款列表
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li(ng-if="vm.receivableList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.receivableList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 收款查询 - {{vm.queryName}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="",ng-click="vm.queryByState('all','全部')") 全部
                                    li
                                        a(href="",ng-click="vm.queryByState(0,'已收款')") 已收款
                                    li
                                        a(href="",ng-click="vm.queryByState(1,'未收款')") 未收款
                                    li
                                        a(href="") 条件查询
            div(npt-grid="vm.receivableListGridOptions",model="vm.receivableList.data")

        script(type="text/ng-template",id="detail.html")
            //功能导航区
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 收款列表
                        li.active 收款详情

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 订单详情
                    ul.nav.navbar-nav.navbar-right
                        li(ng-if="vm.orderInfo.loading()")
                            a(href="") 正在查询,请稍后...
                        li(ng-if="!vm.orderInfo.loading()")
                            a(href="",ng-click="vm.previous(vm.orderInfo.data.order)",ng-show="vm.orderList.previous(vm.orderInfo.data.order)") 上一单
                        li(ng-if="!vm.orderInfo.loading()")
                            a(href="",ng-click="vm.next(vm.orderInfo.data.order)",ng-show="vm.orderList.next(vm.orderInfo.data.order)") 下一单
                        li
                            a(href="#/confirm/{{vm.orderInfo.data.order.id}}",ng-show="vm.isConfirm()") 确认订单
                        li
                            a(href="",ng-click="vm.adviser()") 分配顾问
                        li
                            a(href="#/list") 返回

            //数据表格区域
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.orderFormOptions",model="vm.model.order")
            div.page-header
                h4 产品列表
            div.page-body
                div(npt-grid="vm.orderProductGridOptions",model="vm.modelProducts")
