//
   Created by leon on 15/12/9.

extends ../layout/layout-mobile
block title
    p 下载移办通
block content
    div.jumbotron
        div.row
            div.col-xs-4
                img(src="/image/yun9logo.png",style="width:60px;")
            div.col-xs-8
                h3 下载移办通
    div
        a.thumbnail(href="https://itunes.apple.com/app/id951006600")
            img(src="/image/ios@3x.png")

        a.thumbnail(href="http://app-package.oss-cn-shenzhen.aliyuncs.com/%E7%A7%BB%E5%BA%97%E9%80%9A.apk")
            img(src="/image/android@3x.png")



