//
   Created by Shirley on 2016/1/19.

extends ../layout/layout-mobile
block titleContent
    link(rel="stylesheet", href="/stylesheets/myOrder.css")
    title 我的订单
block content
    script(src="/js/mobile/myOrder.js")
    div(ng-app="MyOrderApp")
        div(ng-view)
        script(type="text/ng-template", id="myOrder.html")
            div.row
                div#head
                    div.media
                        div.media-left
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                                span.sr-only
                        div.media-body.text-center
                            h4.media-heading 我的订单
                            div.btn-group(role="group").btn-group-xs
                                button.btn(type="button",
                                 ng-repeat="state in vm.queryOrderGroups.data", ng-bind="(state.nums>0)?(state.statename + '(' + state.nums + ')'):(state.statename)"
                                 ng-click="vm.queryOrderByState(state.state)")
                div#body(ng-repeat="order in vm.queryOrder.data", ng-click="vm.toOrderDetail(order.id)")
                    div.order-title
                        span.small 订单号:{{order.id}}
                        span.small.pull-right.font-red {{order.state | ctrlCodeFilter:'orderstatetype':'name':'no'}}
                    hr
                    div.media
                        div.media-left.media-middle
                            a(href="")
                                img.media-object.img-rounded(npt-image="order.imgid", npt-image-options="vm.imageOptions")
                        div.media-body
                            p.small.font-grey {{order.instid | cacheFilter:'inst':'instname':'instid'}}
                            p.small {{order.name}}
                            p.small {{order.introduce}}
                            p
                                span.small {{order.orderamount}} 元
                                span.pull-right.small.font-grey {{order.createdate | timestampFilter}}
                        div.media-right.media-middle
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only
        script(type="text/ng-template", id="orderDetail.html")
            div.row
                div#head-orderDetail
                    div.media
                        div.media-left
                            a(href="#/", role="button", ng-click="vm.toOrderList()")
                                span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                                span.sr-only
                        div.media-body.text-center.media-middle
                            h4.media-heading 订单详情
                            a.pull-right(href="", role="button", ng-click="vm.toComplaint(vm.orderDetail.data.order.id)")
                                span 投诉
                div#orderLogs.body-orderDetail
                    div.media
                        a.media-left(href="")
                            img.media-object.img-rounded(npt-image="vm.orderDetail.data.order.imgid", npt-image-options="vm.imageOptions")
                        div.media-body
                            h4.media-heading(ng-bind="vm.orderDetail.data.order.name")
                            p(ng-bind="vm.orderDetail.data.order.introduce")
                        div.media-body.media-right.media-middle
                            p.pull-right.font-red(ng-bind="vm.orderDetail.data.order.orderamount + '元'")
                    hr
                    h4.small.padding-left(ng-bind="'订单号：'+vm.orderDetail.data.order.id")
                    hr
                div.body-orderDetail
                    div.btn-group.btn-group-justified
                        div.btn-group(ng-repeat="orderState in vm.orderDetail.data.orderLogs")
                            a.btn(href="")
                                img(ng-if="orderState.imgno === '2'",src="/image/dingdang2@3x.png")
                                img(ng-if="orderState.imgno === '1'",src="/image/dingdang1@3x.png")
                                img(ng-if="orderState.imgno === '0'",src="/image/dingdang3@3x.png")
                                p.font-small(ng-bind="orderState.orderstatecode")
                                p.font-small(ng-bind="orderState.handledate | timeAgoFilter")

                span.small.padding-left 付款详情
                div.body-orderDetail
                    div.media
                        div.media-body
                            h4.padding-left.font-red.small(ng-bind="(vm.orderDetail.data.order.paystate) | ctrlCodeFilter:'orderpaystate':'name':'no'",
                            ng-click="vm.toPayInfo(vm.orderDetail.data.order.id)")
                        a.media-right.media-middle
                            span.glyphicon.glyphicon-chevron-right
                div(ng-if="vm.orderDetail.data.order.adviser !== null && vm.orderDetail.data.order.adviser !== ''")
                    span.small.padding-left 专属顾问
                    div.body-orderDetail
                        div.media
                            a.media-left
                                img(src="")
                            div.media-body.media-middle
                                p(ng-bind="vm.orderDetail.data.order.adviser | cacheFilter:'user':'name':'id'")
                            div.media-body.media-middle.media-right
                                button.btn.btn-sm.pull-right
                                    span.glyphicon.glyphicon-earphone.font-red
                                button.btn.btn-sm.pull-right
                                    span.font-red 沟通咨询
                span.small.padding-left 服务提供商
                div.body-orderDetail
                    div.media
                        div.media-body.media-middle
                            p(ng-bind="vm.orderDetail.data.order.instid | cacheFilter:'inst':'instname':'instid'")
                            p.small(ng-bind="'电话 '+(vm.orderDetail.data.order.instid | cacheFilter:'inst':'tel':'instid')")
                        div.media-right.media-middle
                            button.btn.btn-sm.pull-right
                                span.glyphicon.glyphicon-earphone
        script(type="text/ng-template", id="orderComplaint.html")
            div.row
                div#head-orderDetail
                    div.media
                        div.media-left
                            a(href="", role="button", ng-click="vm.toOrderDetail(vm.orderDetail.data.order.id)")
                                span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                                span.sr-only
                        div.media-body.text-center.media-middle
                            h4.media-heading 投诉
                            a.pull-right(href="", role="button", ng-click="vm.finishComplaint()")
                                span 完成
                div.body-orderDetail
                    div.media
                        a.media-left(href="")
                            img.media-object.img-rounded(npt-image="vm.orderDetail.data.order.imgid", npt-image-options="vm.imageOptions")
                        div.media-body
                            h4.media-heading(ng-bind="vm.orderDetail.data.order.name")
                            p.font-red(ng-bind="vm.orderDetail.data.order.orderamount + '元'")
                    hr
                    h4.small.padding-right.padding-left
                        span(ng-bind="'订单号：'+vm.orderDetail.data.order.id")
                        span.pull-right.font-blue(ng-bind="vm.orderDetail.data.order.state | ctrlCodeFilter:'orderstatetype':'name':'no'")
                    hr
                div.body-orderDetail
                    div.media
                        div.media-body.media-middle
                            h4.padding-left 投诉内容
                            textarea.form-control(rows="5", ng-model="vm.complaints")
                div.body-orderDetail
                    div.media
                        div.media-body.media-middle
                            p(ng-bind="vm.orderDetail.data.order.instid | cacheFilter:'inst':'instname':'instid'")
                            p.small(ng-bind="'电话 '+(vm.orderDetail.data.order.instid | cacheFilter:'inst':'tel':'instid')")
                        div.media-right.media-middle
                            button.btn.btn-sm.pull-right
                                span.glyphicon.glyphicon-earphone
        script(type="text/ng-template", id="payInfo.html")
            div.row
                div#head-orderDetail
                    div.media
                        div.media-left
                            a(href="", role="button", ng-click="vm.toOrderDetail(vm.orderid)")
                                span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                                span.sr-only
                        div.media-body.text-center.media-middle
                            h4.media-heading(ng-bind="vm.orderDetail.data.order.paystate==complete?'支付完成':'等待支付'")
                div.body-orderDetail.payMode
                    div.media
                        p.padding-left
                            span 支付方式
                            span.pull-right(ng-bind="vm.payInfo.data.payMode.name")
                div.body-orderDetail
                    div.media
                        p.padding-left
                            span 支付总额
                            span.pull-right(ng-bind="vm.payInfo.data.payableAmount + '元'")
                        p.padding-left
                            span 余额
                            span.pull-right(ng-bind="vm.payInfo.data.balance.balance + '元'")
                            p
                                button.btn.btn-xs.pull-right
                                    span 重新支付
                    hr
                    div.media
                        p.padding-left
                            span.pull-right.font-red(ng-bind="vm.payInfo.data.unpayAmount + '元'")
                            span.pull-right 还需支付：



