//
   Created by Shirley on 2016/1/12.

extends ../layout/layout-mobile
block titleContent
    link(rel='stylesheet', href='/stylesheets/myWallet.css')
    title 我的钱包
block content
    script(src="/js/mobile/myWallet.js")
    div(ng-app="MyWalletApp")
        div(ng-view)
        script(type="text/ng-template", id="myWallet.html")
            div.row
                div#title.media
                    div.media-left.media-middle
                        a(href="./profile", role="button")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only
                    div.media-body.media-middle.text-center
                        span.h4 我的钱包
                div#body
                    div
                        span 账户余额
                        span.font.item-padding(ng-bind="vm.queryBalance.data.balance+'元'")
                        button.btn.btn-xs.pull-right(ng-click="vm.toRecharge()") 充值
                    p.small 充值记录
                    div(ng-repeat="rechargeItem in vm.queryRecharge.data", ng-click="vm.toRechargeList(rechargeItem.state)")
                        span(ng-bind="rechargeItem.statename")
                        a.pull-right(href="", type="button")
                            span.font(ng-bind="rechargeItem.nums")
                            span.glyphicon.glyphicon-chevron-right
                            span.sr-only
        script(type="text/ng-template", id="recharge.html")
            div.row
                div#title.media
                    div.media-left.media-middle
                        a(href="#/", role="button")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only
                    div.media-body.media-middle.text-center
                        span.h4 充值
                div#body
                    div(onclick='javascript:location.href="#/payMode"')
                        span 支付方式
                        a.pull-right(href="", type="button")
                            span.font.small 请选择支付方式
                            span.glyphicon.glyphicon-chevron-right
                            span.sr-only
                    div
                        span 充值金额
                        input.text.pull-right.text-right(placeholder="请输入你要充值的金额")
                div#foot.text-center
                    div
                        span.h4 确定充值
        script(type="text/ng-template", id="payMode.html")
            div.row
                div#title.media
                    div.media-left.media-middle
                        a(href="#/recharge", role="button")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only
                    div.media-body.media-middle.text-center
                        span.h4 支付方式
                div#body
                    div(ng-repeat="payMode in vm.queryPayMode.data")
                        label
                            span(ng-bind="payMode.name")
                            span.small(ng-bind="payMode.descr")
                            input(type="radio", name="padModes")
                div#foot.text-center
                    div(onclick='javascript:location.href="#/recharge"')
                        a(href="")
                            span.h4 确定
        script(type="text/ng-template", id="rechargeRecord.html")
            div.row
                div#title.media
                    div.media-left.media-middle
                        a(href="#/", role="button")
                            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                            span.sr-only
                    div.media-body.media-middle.text-center
                        span.h4 {{'充值记录('+vm.rechargeStateName+')'}}
                div#body
                    div.recharge-item(ng-repeat="recharge in vm.queryRechargeRecord.data")
                        p
                            strong(ng-bind="(recharge.accounttype | ctrlCodeFilter:'accounttype':'name':'no')+'充值'")
                            span.small.pull-right {{recharge.expirydate|timestampFilter}}
                        p
                            span.small {{recharge.typeName+"支付"+recharge.amount+"元"}}
                        hr
                        span.small 充值ID：{{recharge.id}}
                        strong.small.pull-right(ng-bind="recharge.state | ctrlCodeFilter:'rechargedetailstate':'name':'no'", ng-if="recharge.state === 'arrive'")
                        button.btn.btn-xs.pull-right(ng-if="recharge.state === 'unarrive'") 重新支付
