//
   Created by Shirley on 2016/1/4.

extends ../layout/layout-mobile

block titleContent
    link(rel='stylesheet', href='/stylesheets/profile.css')
    title 我
block content
    script(src="/js/mobile/profile.js")
    div(ng-app="UserProfileApp")
        div(ng-controller="UserProfileController as vm")
            div#client-head.row
                div.col-xs-3.col-sm-3.col-md-2.col-lg-2
                    img.img-responsive.img-rounded(npt-image="vm.headerfileid", npt-image-options="vm.imageOptions")
                div.col-md-1.col-lg-1.visible-md-inline-block.visible-lg-inline-block.hidden-xs.hidden-sm
                div#head-desc.col-xs-7.col-sm-7.col-md-7.col-md-7
                    dl
                        dd#client-name(ng-bind="vm.userInfo.data.name")
                        dd(ng-bind="vm.instName")
                        dd(ng-bind="vm.userInfo.data.orgNames")
                        dd(ng-bind="vm.userInfo.data.signature")
                div.link-small.col-xs-2.col-sm-2.col-md-1.col-lg-1.pull-right
                    a(href="", role="button")
                        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                        span.sr-only
            ul.list-inline.row.text-center
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(src="/image/money@3x.png")
                    img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/money@3x.png")
                    p 我的钱包
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(src="/image/order@3x.png")
                    img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/order@3x.png")
                    p 我的订单
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(src="/image/file@3x.png")
                    img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/file@3x.png")
                    p 我的文件
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(src="/image/contact@3x.png")
                    img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/contact@3x.png")
                    p 联系人/小组
            ul#ul-item.list-unstyled.row
                li
                    ul.list-inline.row
                        li.col-xs-2.col-sm-2.col-md-1.col-lg-1
                            img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.img-large(src="/image/analysis@3x.png")
                            img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/analysis@3x.png")
                        li.col-md-10.col-sm-8.col-xs-8.col-lg-10
                            p.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.text-large 销售分析
                            p.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.text-small 销售分析
                        li.col-md-1.col-sm-1.col-xs-1.col-lg-1.link-large.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only
                        li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-small.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only
                li
                    ul.list-inline.row
                        li.col-xs-2.col-sm-2.col-md-1.col-lg-1
                            img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.img-large(src="/image/contact@3x.png")
                            img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/contact@3x.png")
                        li.col-md-10.col-sm-8.col-xs-8.col-lg-10
                            p.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.text-large 我的客户
                            p.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.text-small 我的客户
                        li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-large.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only
                        li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-small.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only
                li
                    ul.list-inline.row
                        li.col-xs-2.col-sm-2.col-md-1.col-lg-1
                            img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.img-large(src="/image/switchAcc@3x.png")
                            img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/switchAcc@3x.png")
                        li.col-md-10.col-sm-8.col-xs-8.col-lg-10
                            p.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.text-large 切换机构
                            p.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.text-small 切换机构
                        li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-large.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only
                        li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-small.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only
                li
                    ul.list-inline.row
                        li.col-xs-2.col-sm-2.col-md-1.col-lg-1
                            img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.img-large(src="/image/setting@3x.png")
                            img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/setting@3x.png")
                        li.col-md-10.col-sm-8.col-xs-8.col-lg-10
                            p.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.text-large 设置
                            p.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.text-small 设置
                        li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-large.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only
                        li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-small.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg
                            a(href="", role="button")
                                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                span.sr-only

