//
   Created by Shirley on 2016/1/4.

extends ../layout/layout-mobile

block titleContent
    link(rel='stylesheet', href='/stylesheets/profile.css')
    title 我
block content
    script(src="/js/mobile/profile.js")
    div(ng-app="UserProfileApp")
        div(ng-view)
        script(type="text/ng-template", id="profile.html")
            div#client-head.row(ng-click="vm.toUserInfo()")
                div.col-xs-3.col-sm-3.col-md-2.col-lg-2
                    img.img-responsive.img-rounded(npt-image="vm.headerfileid", npt-image-options="vm.imageOptions")
                div.col-md-1.col-lg-1.visible-md-inline-block.visible-lg-inline-block.hidden-xs.hidden-sm
                div.col-xs-7.col-sm-7.col-md-8.col-md-8
                    dl
                        dd#client-name(ng-bind="vm.userInfo.data.name")
                        dd(ng-bind="vm.instName")
                        dd(ng-bind="vm.userInfo.data.orgNames")
                        dd(ng-bind="vm.userInfo.data.signature")
                div.link-small.col-xs-2.col-sm-2.col-md-1.col-lg-1.pull-right
                    a(href="", role="button")
                        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                        span.sr-only
            ul.list-inline.row.text-center
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(src="/image/money@3x.png")
                    img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/money@3x.png")
                    p 我的钱包
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(src="/image/order@3x.png")
                    img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/order@3x.png")
                    p 我的订单
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(src="/image/file@3x.png")
                    img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/file@3x.png")
                    p 我的文件
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(src="/image/contact@3x.png")
                    img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/contact@3x.png")
                    p 联系人/小组
            div#ul-item.row
                ul.list-unstyled.row
                    li.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        ul.list-inline.row
                            li.col-xs-2.col-sm-2.col-md-1.col-lg-1
                                img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.img-large(src="/image/analysis@3x.png")
                                img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/analysis@3x.png")
                            li.col-md-10.col-sm-8.col-xs-8.col-lg-10
                                p.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.text-large 销售分析
                                p.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.text-small 销售分析
                            li.col-md-1.col-sm-1.col-xs-1.col-lg-1.link-large.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs
                                a(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only
                            li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-small.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg
                                a(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only
                    li.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        ul.list-inline.row
                            li.col-xs-2.col-sm-2.col-md-1.col-lg-1
                                img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.img-large(src="/image/contact@3x.png")
                                img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/contact@3x.png")
                            li.col-md-10.col-sm-8.col-xs-8.col-lg-10(ng-click="vm.toClient()")
                                p.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.text-large 我的客户
                                p.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.text-small 我的客户
                            li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-large.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs
                                a(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only
                            li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-small.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg
                                a(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only
                    li.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        ul.list-inline.row
                            li.col-xs-2.col-sm-2.col-md-1.col-lg-1
                                img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.img-large(src="/image/switchAcc@3x.png")
                                img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/switchAcc@3x.png")
                            li.col-md-10.col-sm-8.col-xs-8.col-lg-10(ng-click="vm.transInst()")
                                p.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.text-large 切换机构
                                p.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.text-small 切换机构
                            li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-large.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs
                                a(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only
                            li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-small.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg
                                a(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only
                    li.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        ul.list-inline.row
                            li.col-xs-2.col-sm-2.col-md-1.col-lg-1
                                img.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.img-large(src="/image/setting@3x.png")
                                img.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.img-small(src="/image/setting@3x.png")
                            li.col-md-10.col-sm-8.col-xs-8.col-lg-10
                                p.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs.text-large 设置
                                p.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg.text-small 设置
                            li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-large.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs
                                a(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only
                            li.col-md-1.col-sm-2.col-xs-2.col-lg-1.link-small.visible-sm-inline-block.visible-xs-inline-block.hidden-md.hidden-lg
                                a(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only

        script(type="text/ng-template", id="userInfo.html")
            div#user-header.row
                div.col-xs-1.col-sm-1
                    a(href="", role="button")
                        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                        span.sr-only
                div.col-xs-10.col-sm-10.text-center
                    p 个人信息
            div#user-head.row
                div.col-xs-3.col-sm-3
                    p 头像
                div.col-xs-3.col-sm-2.col-md-1.col-lg-1.col-md-offset-7.col-lg-offset-7.col-xs-offset-6.col-sm-offset-7
                    img.image-small.img-rounded.visible-xs-inline-block.visible-sm-inline-block.hidden-md.hidden-lg(npt-image="vm.headerfileid", npt-image-options="vm.imageOptions")
                    img.image-large.img-rounded.visible-md-inline-block.visible-lg-inline-block.hidden-sm.hidden-xs(npt-image="vm.headerfileid", npt-image-options="vm.imageOptions")
            div#devide.row
            div#info-item
                div.row
                    div.col-sm-12
                        span 名字
                        span.pull-right(ng-bind="vm.userInfo.data.name")
                hr.row
                div.row
                    div.col-sm-12
                        span 机构
                        span.small.pull-right(ng-bind="vm.instName")
                hr.row
                div.row
                    div.col-sm-12
                        span 部门
                        span.pull-right
                hr.row
                div.row
                    div.col-sm-12
                        span.disp-block 个性签名
                        span.small(ng-bind="vm.userInfo.data.signature")
                        a.pull-right(href="", role="button")
                            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                            span.sr-only
                hr.row
                div.row
                    div.col-sm-12
                        span 修改密码
                        a.pull-right(href="", role="button")
                                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                                    span.sr-only
                hr.row

