<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>顶聚科技 | 客户管理</title>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../../lib/ui-bootstrap/ui-bootstrap-custom-0.13.4-csp.css"/>
    <link rel="stylesheet" href="../../css/app.css"/>
</head>
<body class="container-fluid" data-spy="scroll" data-target="#navScrollspy">

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-1.4.5.min.js"></script>
-->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="../../lib/angular/angular.js"></script>
<script src="../../lib/angular/angular-route.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="lib/ui-bootstrap/ui-bootstrap-custom-0.13.4.min.js"></script>-->
<!--<script src="lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.13.4.min.js"></script>-->

<!--整体结构表格 -->
<div class="row">
    <!-- 当前页面导航。同时表达本页面功能名称 -->
    <div class="col-md-12">
        <ul class="breadcrumb" style="margin-bottom: 8px;">
            <li><a href="clientmanager.html"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li><a href="client-list.html">客户列表</a></li>
            <li id="topp" class="active">客户详情与编辑</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nav class="nav navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">客户详情与编辑</p>
            </div>
            <div class="navbar-right" style="margin-right: 0px;">
                <ul class="nav navbar-nav">
                    <li>
                        <!-- Button trigger modal -->
                        <a href="#">
                            上一个客户
                        </a>
                    </li>
                    <li>
                        <!-- Button trigger modal -->
                        <a href="#">
                            下一个客户
                        </a>
                    </li>
                    <li>
                        <!-- Button trigger modal -->
                        <a data-toggle="modal" data-target="#start">
                            搜索
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="start" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">客户搜索</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">联系人</label>

                                                <div class="col-sm-9">
                                                    <input placeholder="联系人" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">客户名称</label>

                                                <div class="col-sm-9">
                                                    <input placeholder="客户名称" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">客户行业</label>

                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option>---请选择---</option>
                                                        <option>小微企业</option>
                                                        <option>外贸</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">客户类型</label>

                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option>---请选择---</option>
                                                        <option>企业</option>
                                                        <option>个体经营者</option>
                                                        <option>自然人</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">客户级别</label>

                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option>---请选择---</option>
                                                        <option>A类</option>
                                                        <option>B类</option>
                                                        <option>C类</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">客户来源</label>

                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option>---请选择---</option>
                                                        <option>网络渠道</option>
                                                        <option>发单</option>
                                                        <option>客户推荐</option>
                                                        <option>同行介绍</option>
                                                        <option>市场合作</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="client-list.html">返回</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="row">
<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h5 id="baseinfo">基本信息</h5>
            </div>
            <form class="form-horizontal" style="margin: 20px 20px 20px;">
                <div class="form-group row">
                    <label for="ID" class="col-sm-2 control-label">ID</label>

                    <div class="col-sm-10">
                        <input id="ID" type="text" class="form-control" disabled
                               value="1000000232150">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 control-label">名称</label>

                    <div class="col-sm-10">
                        <input id="name" type="text" class="form-control" value="eeeeeeee">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="abbr" class="col-sm-2 control-label">简称</label>

                    <div class="col-sm-10">
                        <input id="abbr" type="text" class="form-control" value="refer">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="num" class="col-sm-2 control-label">编号</label>

                    <div class="col-sm-10">
                        <input id="num" type="text" class="form-control" disabled value="eeeee">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="industry" class="col-sm-2 control-label">行业</label>

                    <div class="col-sm-10">
                        <select class="form-control" id="industry">
                            <option>---请选择---</option>
                            <option selected="selected">小微企业</option>
                            <option>外贸</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="type" class="col-sm-2 control-label">类型</label>

                    <div class="col-sm-10">
                        <select class="form-control" id="type">
                            <option>---请选择---</option>
                            <option>企业</option>
                            <option selected="selected">个体经营者</option>
                            <option>自然人</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="level" class="col-sm-2 control-label">级别</label>

                    <div class="col-sm-10">
                        <select class="form-control" id="level">
                            <option>---请选择---</option>
                            <option>A类</option>
                            <option selected="selected">B类</option>
                            <option>C类</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="source" class="col-sm-2 control-label">来源</label>

                    <div class="col-sm-10">
                        <select class="form-control" id="source">
                            <option>---请选择---</option>
                            <option selected="selected">网络渠道</option>
                            <option>发单</option>
                            <option>客户推荐</option>
                            <option>同行介绍</option>
                            <option>市场合作</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="scale" class="col-sm-2 control-label">规模</label>

                    <div class="col-sm-10">
                        <input id="scale" type="text" class="form-control" value="small">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="contactman" class="col-sm-2 control-label">联系人</label>

                    <div class="col-sm-10">
                        <input id="contactman" type="text" class="form-control" value="eeeeeeee">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-2 control-label">电话</label>

                    <div class="col-sm-10">
                        <input id="phone" type="text" class="form-control" value="43433333333">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="post" class="col-sm-2 control-label">职位</label>

                    <div class="col-sm-10">
                        <select class="form-control" id="post">
                            <option>---请选择---</option>
                            <option>法人</option>
                            <option selected="selected">老板</option>
                            <option>负责人</option>
                            <option>介绍人</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="area" class="col-sm-2 control-label">地区</label>

                    <div class="col-sm-10">
                        <input id="area" type="text" class="form-control" value="eeeee">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="address" class="col-sm-2 control-label">地址</label>

                    <div class="col-sm-10">
                        <input id="address" type="text" class="form-control" value="eeeeeeee">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="inst" class="col-sm-2 control-label">客户机构</label>

                    <div class="col-sm-10">
                        <input id="inst" type="text" class="form-control" value="10000002321512">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="manager" class="col-sm-2 control-label">客户管理员</label>

                    <div class="col-sm-10">
                        <input id="manager" type="text" class="form-control" value="10000002321509">
                    </div>
                </div>
                <div class="form-group row">

                    <label for="createtime" class="col-sm-2 control-label">创建时间</label>

                    <div class="col-sm-10">
                        <input id="createtime" type="text" class="form-control" value="2015-09-23 10:45:42">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="updatetime" class="col-sm-2 control-label">更新时间</label>

                    <div class="col-sm-10">
                        <input id="updatetime" type="text" class="form-control" value="2015-10-09 15:29:51">
                    </div>
                </div>
                <div class="form-group row">

                    <label for="remark" class="col-sm-2 control-label">备注</label>

                    <div class="col-sm-10">
                        <textarea id="remark" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div id="bottomp" class="text-center">
                        <a href="#" class="btn btn-primary">确定</a>
                        <a href="#" class="btn btn-default" data-dismiss="modal">取消</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="col-md-2" id="navScrollspy">

    <div data-spy="affix" data-offset-top="200" data-offset-bottom="10">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="" data-target="#topp">返回顶部</a></li>
            <li><a href="#bottomp">跳到底部</a></li>
        </ul>
    </div>
</div>
</div>
</div>
</body>
</html>