//
   Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage

block content
    script(src="/js/app/inst.js")
    script(src="/js/store/datatable/inst.js")
    div(ng-app="instApp")
        //通知区域
        //内容区域
        div(ng-view)

        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 机构列表
            //数据表格区域
            div.row
                div.col-md-12
                    npt-datatable(is-pagination="true",items-per-page="10",name="inst",data="data",action="action",is-index="true",on-action="instAction(type,item,index)")
        //详情模版
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#/list")
                                span 机构列表
                        li.active 机构详情
            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 机构详情
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 基本信息
                        div.panel-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 机构全称:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.name}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 机构简称:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.simplename}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 机构网址:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.hostname}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 机构电话:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.tel}}",disabled)
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 资料交接方式
                        npt-datatable(name="orderAttachment",data="data.orderAttachments",action="orderAttachmentAction",is-index="true",on-action="doOrderAttachments(type,item,index)")