//
   Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage
block titleContent
    title 订单管理
block content
    script(src="/js/biz/order/orderListGrid.js")
    script(src="/js/biz/order/orderProductsGrid.js")
    script(src="/js/biz/order/orderWorkorderGrid.js")
    script(src="/js/biz/order/orderForm.js")
    script(src="/js/biz/order/order.js")
    div(ng-app="orderApp")
        //内容区域
        div(ng-view)

        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 订单列表

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 订单列表
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li(ng-if="vm.orderList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.orderList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 订单查询 - {{vm.queryName}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="",ng-click="vm.queryByState('','全部')") 全部
                                    li
                                        a(href="",ng-click="vm.queryByState('waitconfirm','待确认')") 待确认
                                    li
                                        a(href="",ng-click="vm.queryByState('buy','待支付')") 待支付
                                    li
                                        a(href="",ng-click="vm.queryByState('inservice','服务中')") 服务中
                                    li
                                        a(href="") 条件查询

            div(npt-grid="vm.orderListGridOptions",model="vm.orderList.data")
        //详情模板
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 订单列表
                li.active 订单详情

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 订单详情
                    ul.nav.navbar-nav.navbar-right
                        li(ng-if="vm.orderInfo.loading()")
                            a(href="") 正在查询,请稍后...
                        li
                            a(href="#/confirm/{{vm.orderInfo.data.order.id}}",ng-show="vm.isConfirm()") 确认订单
                        li
                            a(href="#/adviser/{{vm.orderInfo.data.order.id}}",ng-click="vm.adviser()") 分配顾问
                        li(ng-if="!vm.orderInfo.loading()")
                            a(href="",ng-click="vm.previous(vm.orderInfo.data.order)",ng-show="vm.orderList.previous(vm.orderInfo.data.order)") 上一单
                        li(ng-if="!vm.orderInfo.loading()")
                            a(href="",ng-click="vm.next(vm.orderInfo.data.order)",ng-show="vm.orderList.next(vm.orderInfo.data.order)") 下一单
                        li
                            a(href="#/list") 返回

            //数据表格区域
            div.page-header
                h4 基本信息
            div.page-body
                ul
                    li
                        strong 订单编号:&nbsp
                        span {{vm.modelOrder.ordersn}}
                    li
                        strong 订单说明:&nbsp
                        span {{vm.modelOrder.name}}
                    li
                        strong 订单简介:&nbsp
                        span {{vm.modelOrder.introduce}}
                    li
                        strong 服务机构:&nbsp
                        span {{vm.modelOrder.instid | cacheFilter:'inst':'instname':'instid'}}
                    li
                        strong 开始服务日期:&nbsp
                        span {{vm.modelOrder.begindate | timestampFilter}}
                    li
                        strong 结束服务日期:&nbsp
                        span {{vm.modelOrder.enddate | timestampFilter}}
                    li
                        strong 订单状态:&nbsp
                        span {{vm.modelOrder.state | ctrlCodeFilter:'orderstatetype':'name':'no'}}
                    li
                        strong 支付状态:&nbsp
                        span {{vm.modelOrder.paystate | ctrlCodeFilter:'orderpaystate':'name':'no'}}
                    li
                        strong 订单金额:&nbsp
                        span {{vm.modelOrder.orderamount}}
                    li
                        strong 实际金额:&nbsp
                        span {{vm.modelOrder.factamount}}
                    li
                        strong 客户机构:&nbsp
                        span {{vm.modelOrder.buyerinstid | cacheFilter:'inst':'instname':'instid'}}
                    li
                        strong 购买人:&nbsp
                        span {{vm.modelOrder.purchase | cacheFilter:'user':'name':'id'}}
                    li
                        strong 专属顾问:&nbsp
                        span {{vm.modelOrder.adviser | cacheFilter:'user':'name':'id'}}
                    li
                        strong 业务员:&nbsp
                        span {{vm.modelOrder.salesmanid | cacheFilter:'user':'name':'id'}}
                    li
                        strong 代理机构:&nbsp
                        span {{vm.modelOrder.proxyinstid | cacheFilter:'inst':'instname':'instid'}}
                    li
                        strong 代理人:&nbsp
                        span {{vm.modelOrder.proxyman | cacheFilter:'user':'name':'id'}}


            // div(npt-form="vm.orderFormOptions",model="vm.modelOrder")
            div.page-header
                h4 产品列表
            div.page-body
                div(npt-grid="vm.orderProductGridOptions",model="vm.modelProducts")
            div.page-header
                h4 工单列表
            div.page-body
                div(npt-grid="vm.orderWorkorderOptions",model="vm.modelWorkorders")

        //确认订单模板
        script(type="text/ng-template",id="confirm.html")
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 订单列表
                li
                    a(href="#detail/{{vm.orderid}}")
                        span 订单详情
                li.active 确认订单

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 确认订单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.confirm()",ng-disabled="vm.nptFormApi.form.$invalid") 立即确认
                        li
                            button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.nptFormApi.reset()") 重置
                        li
                            button.btn.btn-warning.navbar-btn(type="button",ng-click="vm.toDetail()") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp
            div.well
                span 请核对以下订单信息,并填写订单服务周期;专属顾问;业务员后确认订单!
                ul
                    li 编号:{{vm.modelOrder.ordersn}}
                    li 说明:{{vm.modelOrder.name}}
                    li 简介:{{vm.modelOrder.introduce}}
                    li 订单金额:{{vm.modelOrder.orderamount}}
                    li 实际金额:{{vm.modelOrder.factamount}}
                    li 客户机构:{{vm.modelOrder.buyerinstid | cacheFilter:'inst':'instname':'instid'}}
                    li 购买人:{{vm.modelOrder.purchase | cacheFilter:'user':'name':'id'}}

            div(npt-form="vm.orderConfirmFormOptions",model="vm.model")

        //确认订单模板
        script(type="text/ng-template",id="adviser.html")
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 订单列表
                li
                    a(href="#detail/{{vm.orderid}}")
                        span 订单详情
                li.active 分配顾问

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 确认订单
                    ul.nav.navbar-nav.navbar-right
                        li
                            button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.adviser()",ng-disabled="vm.nptFormApi.form.$invalid") 立即分配
                        li
                            button.btn.btn-warning.navbar-btn(type="button",ng-click="vm.toDetail()") 返回
                        li
                            | &nbsp &nbsp &nbsp &nbsp

            div.well
                span 请为当前订单选择一个新的专属顾问.
                ul
                    li 编号:{{vm.modelOrder.ordersn}}
                    li 说明:{{vm.modelOrder.name}}
                    li 简介:{{vm.modelOrder.introduce}}
                    li 订单金额:{{vm.modelOrder.orderamount}}
                    li 实际金额:{{vm.modelOrder.factamount}}
                    li 客户机构:{{vm.modelOrder.buyerinstid | cacheFilter:'inst':'instname':'instid'}}
                    li 购买人:{{vm.modelOrder.purchase | cacheFilter:'user':'name':'id'}}
                    li.lead 当前专属顾问:{{vm.modelOrder.adviser | cacheFilter:'user':'name':'id'}}


            div(npt-form="vm.orderAdviserFormOptions",model="vm.model")