//
   Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage
block titleContent
    title 订单管理
block content
    script(src="/js/biz/order/orderListGrid.js")
    script(src="/js/biz/order/orderProductsGrid.js")
    script(src="/js/biz/order/orderWorkorderGrid.js")
    script(src="/js/biz/order/orderForm.js")
    script(src="/js/biz/order/order.js")
    div(ng-app="orderApp")
        //内容区域
        div(ng-view)

        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 订单列表

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 订单列表
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.queryService.orderList.loading() || vm.orderUnreadService.ordersIsUnread.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.queryService.orderList.loading() && !vm.orderUnreadService.ordersIsUnread.loading()")
                            li.dropdown
                                a.dropdown-toggle(href="",data-toggle="dropdown") 订单查询 - {{vm.queryService.currQuery.label}}
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat="queryItem in vm.queryService.queryList")
                                        a(href="",ng-click="vm.queryService.selectQuery(queryItem)") {{queryItem.label}}
                            li.dropdown
                                a.dropdown-toggle(href="",data-toggle="dropdown") 检查新订单[已检查{{vm.orderUnreadService.count}}次] - {{vm.orderUnreadService.currSchedule.label}}
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat="schedule in vm.orderUnreadService.schedules")
                                        a(href="",ng-click="vm.orderUnreadService.selectSchedule(schedule)") {{schedule.label}}
                            li(ng-if="vm.orderUnreadService.hasNewOrders")
                                button.btn.btn-primary.navbar-btn(type="button",ng-click="vm.showNewOrders()") 显示新订单

            div(npt-grid="vm.orderListGridOptions",model="vm.queryService.orderList.data",npt-loading="vm.queryService.orderList.loading()")
        //详情模板
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 订单列表
                li.active 订单详情

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="") 订单详情 - {{vm.modelOrder.name}}
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.orderInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.orderInfo.loading()")
                            li
                                a(href="#/confirm/{{vm.orderInfo.data.order.id}}",ng-show="vm.isConfirm()") 确认订单
                            li
                                a(href="#/changeprice/{{vm.orderInfo.data.order.id}}",ng-show="vm.isChangePrice()") 改价
                            li
                                a(href="#/adviser/{{vm.orderInfo.data.order.id}}",ng-show="vm.isAdviser()") 分配顾问
                            li
                                a(href="",ng-click="vm.previous(vm.orderInfo.data.order)",ng-show="vm.orderList.previous(vm.orderInfo.data.order)") 上一单
                            li
                                a(href="",ng-click="vm.next(vm.orderInfo.data.order)",ng-show="vm.orderList.next(vm.orderInfo.data.order)") 下一单
                            li
                                a(href="#/list") 返回

            //数据表格区域
            div.page-header
                h4 基本信息
            div.page-body
                dl.dl-horizontal
                    dt 订单编号:
                    dd {{vm.modelOrder.ordersn}}
                    dt 订单说明:
                    dd {{vm.modelOrder.name}}
                    dt 订单简介:
                    dd {{vm.modelOrder.introduce}}
                    dt 服务机构:
                    dd {{vm.modelOrder.instid | cacheFilter:'inst':'instname':'instid'}}
                    dt 开始服务日期:
                    dd {{vm.modelOrder.begindate | timestampFilter}}
                    dt 结束服务日期:
                    dd {{vm.modelOrder.enddate | timestampFilter}}
                    dt 订单状态:
                    dd {{vm.modelOrder.state | ctrlCodeFilter:'orderstatetype':'name':'no'}}
                    dt 支付状态:
                    dd {{vm.modelOrder.paystate | ctrlCodeFilter:'orderpaystate':'name':'no'}}
                    dt 订单金额:
                    dd {{vm.modelOrder.orderamount}}
                    dt 实际金额:
                    dd {{vm.modelOrder.factamount}}
                    dt 客户机构:
                    dd {{vm.modelOrder.buyerinstid | cacheFilter:'inst':'instname':'instid'}}
                    dt 购买人:
                    dd {{vm.modelOrder.purchase | cacheFilter:'user':'name':'id'}}
                    dt 专属顾问:
                    dd {{vm.modelOrder.adviser | cacheFilter:'user':'name':'id'}}
                    dt 业务员:
                    dd {{vm.modelOrder.salesmanid | cacheFilter:'user':'name':'id'}}
                    dt 代理机构:
                    dd {{vm.modelOrder.proxyinstid | cacheFilter:'inst':'instname':'instid'}}
                    dt 代理人:
                    dd {{vm.modelOrder.proxyman | cacheFilter:'user':'name':'id'}}


            // div(npt-form="vm.orderFormOptions",model="vm.modelOrder")
            div.page-header
                h4 产品列表
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelProducts")

                        div.list-group-item-heading
                            div(style="width:50px;height:50px;",npt-image="item.productimgid")
                            span &nbsp &nbsp
                            span {{item.productname}}
                        div.list-group-item-text
                            p {{item.productIntroduce}}
                            p 订单金额:{{item.goodsamount}}  已选产品分类:{{item.productclassifyname}}
            div.page-header
                div.row
                    div.col-xs-4.col-md-4
                        h4 工单列表
                        //button.btn(style="padding:0px;border:none;margin:5px;margin-left:15px;",type="button",data-container="body", data-toggle="popover", data-placement="bottom", data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") 11
                    div.col-xs-4.col-md-4
                        img(ng-src="/image/workorder/complete_flag.png", style="width:15px;height:15px;margin:10px;margin-right:0px;")
                        span 已完成
                        img(ng-src="/image/workorder/inservice_flag.png", style="width:15px;height:15px;margin:10px;margin-right:0px;")
                        span 服务中
                        img(ng-src="/image/workorder/processed_flag.png", style="width:15px;height:15px;margin:10px;margin-right:0px;")
                        span 已分配
                        img(ng-src="/image/workorder/unprocess_flag.png", style="width:15px;height:15px;margin:10px;margin-right:0px;")
                        span 未分配
                    div.col-xs-4.col-md-4
                        a.btn.npt-btn-gray-danger.btn-sm.pull-right(type="button",href="",ng-click="vm.selectWorkorderAll(false)") 取消
                        span.pull-right &nbsp;
                        a.btn.npt-btn-gray-danger.btn-sm.pull-right(type="button",href="",ng-click="vm.selectWorkorderAll(true)") 全选
                        span.pull-right &nbsp;
                        a.btn.npt-btn-gray-danger.btn-sm.pull-right(type="button",href="",ng-click="vm.adviser()") 分配
            div.page-body
                div(npt-select-tree="vm.selectTreeSetting")
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelWorkorders", style="padding-left:15px;padding-right:0px;")
                        a.list-group-item(ng-click="vm.selectWorkorder(item)", style="border:none;")
                            div.list-group-item-heading
                                div.row
                                    div.col-xs-6.col-md-6(style="padding:0px;")
                                        h5 {{item.descr}} - {{item.completeNum}}/{{item.allNum}}
                                    div.col-xs-6.col-md-6
                                        span(ng-if="!item.selected").pull-right.glyphicon.glyphicon-unchecked
                                        span(ng-if="item.selected").pull-right.glyphicon.glyphicon-ok
                        div.list-group-item-text
                            //button.btn.btn-default(type="button", data-container="body", popover, data-placement="bottom", data-content="Vivamus")
                            div.row
                                span(ng-repeat="item_ in item.workOrderInfos")
                                    button.btn(style="padding:0px;border:none;margin:5px;margin-left:15px;position:relative;",type="button", data-toggle="modal", ng-click="vm.openWorkorder(item_)",,data-container="body",popover, data-trigger="hover", data-placement="bottom",data-html="true" , data-content=""+
                                    "<p><strong>名称:</strong>{{item_.name}}</p>" +
                                    "<p><strong>编号:</strong>{{item_.sn}}</p>" +
                                    "<p><strong>状态:</strong>{{item_.state | ctrlCodeFilter:'workstate':'name':'no'}}</p>" +
                                    "<p><strong>处理人:</strong>{{item_.processid | cacheFilter:'user':'name':'id'}}" +
                                    "<p><strong>分配人:</strong>{{item_.assignedid | cacheFilter:'user':'name':'id'}}</p>" +
                                    "<p><strong>描述:</strong>{{item_.descr}}</p>" +
                                    "<p><strong>计划开始日期:</strong>{{item_.processdate | timestampFilter:'yyyy-MM-dd'}}</p>" +
                                    "<p><strong>实际开始日期:</strong>{{item_.doactiondate | timestampFilter}}</p>" +
                                    "<p><strong>计划完成日期:</strong>{{item_.expirydate | timestampFilter:'yyyy-MM-dd'}}</p>" +
                                    "<p><strong>实际完成日期:</strong>{{item_.completedate | timestampFilter}}</p>")
                                         img(ng-if="item_.state == 'complete'", ng-src="/image/workorder/complete.png", style="width:80px;height:30px;")
                                         img(ng-if="item_.state == 'inservice'", ng-src="/image/workorder/inservice.png", style="width:80px;height:30px;")
                                         img(ng-if="item_.processid && item_.state == 'unstart'", ng-src="/image/workorder/processed.png", style="width:80px;height:30px;")
                                         img(ng-if="!item_.processid && item_.state == 'unstart'", ng-src="/image/workorder/unprocess.png", style="width:80px;height:30px;z-index:-1;")
                                         small(style="top:8px;left:5px;position:absolute;width:50px;overflow:hidden;") {{item_.descr}}
            div(ws-discuss="vm.msgOptions",ws-discuss-sid="vm.orderid")

        //确认订单模板
        script(type="text/ng-template",id="confirm.html")
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 订单列表
                li
                    a(href="#detail/{{vm.orderid}}")
                        span 订单详情
                li.active 确认订单

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="") 确认订单
                    #navbar-collapse.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(type="button",ng-click="vm.confirm()",ng-disabled="vm.nptFormApi.form.$invalid") 立即确认
                            li
                                a(type="button",ng-click="vm.toDetail()") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp
            div.panel.panel-default
                div.panel-heading
                    span 请核对以下订单信息,并填写订单服务周期;专属顾问;业务员后确认订单!
                div.panel-body
                    dl.dl-horizontal
                        dt 编号:
                        dd {{vm.modelOrder.ordersn}}

                        dt 说明:
                        dd {{vm.modelOrder.name}}

                        dt 简介:
                        dd {{vm.modelOrder.introduce}}

                        dt 订单金额:
                        dd {{vm.modelOrder.orderamount}}

                        dt 实际金额:
                        dd {{vm.modelOrder.factamount}}

                        dt 客户机构:
                        dd {{vm.modelOrder.buyerinstid | cacheFilter:'inst':'instname':'instid'}}

                        dt 购买人:
                        dd {{vm.modelOrder.purchase | cacheFilter:'user':'name':'id'}}

                        dt 业务员:
                        dd {{vm.modelOrder.salesmanid | cacheFilter:'user':'name':'id'}}

                        dt 专属顾问:
                        dd {{vm.modelOrder.adviser | cacheFilter:'user':'name':'id'}}


                    div(npt-form="vm.orderConfirmFormOptions",model="vm.model")

        //确认订单模板
        script(type="text/ng-template",id="adviser.html")
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 订单列表
                li
                    a(href="#detail/{{vm.orderid}}")
                        span 订单详情
                li.active 分配顾问

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="") 确认订单
                    #navbar-collapse.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(type="button",ng-click="vm.adviser()",ng-disabled="vm.nptFormApi.form.$invalid") 立即分配
                            li
                                a(type="button",ng-click="vm.toDetail()") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp

            div.panel.panel-default
                div.panel-heading
                    span 请为当前订单选择一个新的专属顾问.
                div.panel-body
                    dl.dl-horizontal
                        dt 编号:
                        dd {{vm.modelOrder.ordersn}}
                        dt 说明:
                        dd {{vm.modelOrder.name}}
                        dt 简介:
                        dd {{vm.modelOrder.introduce}}
                        dt 订单金额:
                        dd {{vm.modelOrder.orderamount}}
                        dt 实际金额:
                        dd {{vm.modelOrder.factamount}}
                        dt 客户机构:
                        dd {{vm.modelOrder.buyerinstid | cacheFilter:'inst':'instname':'instid'}}
                        dt 购买人:
                        dd {{vm.modelOrder.purchase | cacheFilter:'user':'name':'id'}}
                        dt.lead 当前专属顾问:
                        dd.lead {{vm.modelOrder.adviser | cacheFilter:'user':'name':'id'}}


                    div(npt-form="vm.orderAdviserFormOptions",model="vm.model")

        script(type="text/ng-template",id="changePrice.html")
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 订单列表
                li
                    a(href="#detail/{{vm.orderid}}")
                        span 订单详情
                li.active 改价

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="") 改价
                    #navbar-collapse.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li(ng-if="vm.updateOrderPrice.loading()")
                                a(href="") 正在处理请稍后...
                            li(ng-if="!vm.updateOrderPrice.loading()")
                                a(ng-click="vm.changePrice()",ng-disabled="vm.nptFormApi.form.$invalid") 确认改价
                            li(ng-if="!vm.updateOrderPrice.loading()")
                                a(ng-click="vm.toDetail()") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp
            div.panel.panel-default
                div.panel-heading
                    span 请输入一个新的价格.并点击确认改价.
                div.panel-body
                    dl.dl-horizontal
                        dt 编号:
                        dd {{vm.modelOrder.ordersn}}
                        dt 说明:
                        dd {{vm.modelOrder.name}}
                        dt 简介:
                        dd {{vm.modelOrder.introduce}}
                        dt 客户机构:
                        dd {{vm.modelOrder.buyerinstid | cacheFilter:'inst':'instname':'instid'}}
                        dt 购买人:
                        dd {{vm.modelOrder.purchase | cacheFilter:'user':'name':'id'}}
                        dt 业务员:
                        dd {{vm.modelOrder.salesmanid | cacheFilter:'user':'name':'id'}}
                        dt 专属顾问:
                        dd {{vm.modelOrder.adviser | cacheFilter:'user':'name':'id'}}
                        dt 订单原始金额:
                        dd {{vm.modelOrder.orderamount}}
                        dt.lead 订单当前金额:
                        dd.lead {{vm.modelOrder.factamount}}

                    div(npt-form="vm.orderChangePriceFormOptions",model="vm.model")
