//
   Created by shirley on 2015/11/3.

extends ../../layout/layout-bizpage

block content
    script(src="js/app/client.js")
    div(ng-app="clientApp")
        //功能导航区域
        div.row
            div.col-md-12
                ul.breadcrumb
                    li
                        a(href="/home")
                            span.glyphicon.glyphicon-home
                            |  首页
                    li.active 客户管理
        //内容区域
        div(ng-view)
        //列表模板
        script(type="text/ng-template", id="list.html")
            //功能按钮区域
            div.row
                div.col-md-12
                    div.btn-group
                        label.btn.btn-primary.btn-sm(ng-model="query.state" uib-btn-radio="'all'", ng-click="queryByState()" data-loading-text="正在查询...", id="all")全部客户
                        label.btn.btn-primary.btn-sm(ng-model="query.state" uib-btn-radio="'initialized'", ng-click="queryByState()" data-loading-text="正在查询...", id="initialized")已初始化客户
                        label.btn.btn-primary.btn-sm(ng-model="query.state" uib-btn-radio="'uninitialized'", ng-click="queryByState()" data-loading-text="正在查询...", id="uninitialized")未初始化客户
                        | &nbsp
                        label.btn.btn-primary.btn-sm(ng-click="query.toggle()", data-loading-text="正在查询...", id="query"){{query.text}}
            p
            //条件查询内容输入区域
            div.row
                div.col-md-12
                    div(uib-collapse="!query.isCollapsed")
                        div.well.well-lg 条件查询内容
            //数据表格区域
            div.row
                div.col-md-12
                    npt-datatable(name="client",is-pagination="true",items-per-page="10",data="data",action="action",is-index="true",on-action="clientAction(type,item,index)")
        //详情模板
        script(type="text/ng-template",id="detail.html")
            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 客户详情
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="",ng-click="query.previous(clientid)",ng-show="{{query.previousId(clientid)}}") 上一个客户
                    li
                        a(href="",ng-click="query.next(clientid)",ng-show="{{query.nextId(clientid)}}") 下一个客户
                    li
                        a(href="#/list") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 基本信息
                        div.panel-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-2.control-label(for="id") ID:
                                    div.col-md-10
                                        input.form-control(type="text",id="id",value="{{data.id}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="fullname") 名称:
                                    div.col-md-10
                                        input.form-control(type="text",id="fullname",value="{{data.fullname}}")
                                div.form-group
                                    label.col-md-2.control-label(for="name") 简称:
                                    div.col-md-10
                                        input.form-control(type="text",id="name",value="{{data.name}}")
                                div.form-group
                                    label.col-md-2.control-label(for="instid") 编号:
                                    div.col-md-10
                                        input.form-control(type="text",id="instid",value="{{data.instid}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="industry") 行业:
                                    div.col-md-10
                                        span.nullable
                                            select#industry.form-control(ng-model="data.industry" ng-options="industry.no as industry.name for industry in clientindustry")
                                                option(value="") ---请选择---
                                div.form-group
                                    label.col-md-2.control-label(for="type") 类型:
                                    div.col-md-10
                                        span.nullable
                                            select#industry.form-control(ng-model="data.type" ng-options="type.no as type.name for type in clienttype")
                                                option(value="") ---请选择---
                                div.form-group
                                    label.col-md-2.control-label(for="level") 级别:
                                    div.col-md-10
                                        span.nullable
                                            select#industry.form-control(ng-model="data.level" ng-options="level.no as level.name for level in clientlevel")
                                                option(value="") ---请选择---
                                div.form-group
                                    label.col-md-2.control-label(for="level") 来源:
                                    div.col-md-10
                                        span.nullable
                                            select#industry.form-control(ng-model="data.source" ng-options="source.no as source.name for source in clientsource")
                                                option(value="") ---请选择---
                                div.form-group
                                    label.col-md-2.control-label(for="level") 规模:
                                    div.col-md-10
                                        span.nullable
                                            select#industry.form-control(ng-model="data.source" ng-options="source.no as source.name for source in clientsource")
                                                option(value="") ---请选择---
                                div.form-group
                                    label.col-md-2.control-label(for="scaleid") 规模:
                                    div.col-md-10
                                        input.form-control(type="text",id="scaleid",value="{{data.scaleid}}")
                                div.form-group
                                    label.col-md-2.control-label(for="contactman") 联系人:
                                    div.col-md-10
                                        input.form-control(type="text",id="contactman",value="{{data.contactman}}")
                                div.form-group
                                    label.col-md-2.control-label(for="contactphone") 电话:
                                    div.col-md-10
                                        input.form-control(type="text",id="contactphone",value="{{data.contactphone}}")
                                div.form-group
                                    label.col-md-2.control-label(for="contactposition") 职位:
                                    div.col-md-10
                                        span.nullable
                                            select#industry.form-control(ng-model="data.contactposition" ng-options="position.no as position.name for position in contactposition")
                                                option(value="") ---请选择---
                                div.form-group
                                    label.col-md-2.control-label(for="region") 地区:
                                    div.col-md-10
                                        input.form-control(type="text",id="region",value="{{data.region}}")
                                div.form-group
                                    label.col-md-2.control-label(for="address") 地址:
                                    div.col-md-10
                                        input.form-control(type="text",id="address",value="{{data.address}}")
                                div.form-group
                                    label.col-md-2.control-label(for="clientinstid") 客户机构:
                                    div.col-md-10
                                        input.form-control(type="text",id="clientinstid",value="{{data.clientinstid}}")
                                div.form-group
                                    label.col-md-2.control-label(for="clientadminid") 客户管理员:
                                    div.col-md-10
                                        input.form-control(type="text",id="clientadminid",value="{{data.clientadminid}}")
                                div.form-group
                                    label.col-md-2.control-label(for="createdate") 创建时间:
                                    div.col-md-10
                                        input.form-control(type="text",id="createdate",value="{{data.createdate}}")
                                div.form-group
                                    label.col-md-2.control-label(for="updatedate") 更新时间:
                                    div.col-md-10
                                        input.form-control(type="text",id="updatedate",value="{{data.updatedate}}")
                                div.form-group
                                    label.col-md-2.control-label(for="remark") 备注:
                                    div.col-md-10
                                        textarea.form-control(rows=3,id="remark") {{data.client.remark}}
                                div.form-group
                                    div.col-sm-offset-2.col-md-10
                                        button.btn.btn-primary(type="button",ng-click="confirm()") 确认
                                        | &nbsp &nbsp
                                        a.btn.btn-default(type="button",href="#/{{clientid}}") 返回