<div id="myModal1" class="modal fade" data-backrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>你好！</h3>
            </div>

            <div class="modal-body">
                <p>使用弹出窗口！</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>

            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="page-header">
        <h1>你好，欢迎光临！</h1>

        <p>简洁、直观、强悍的前端开发框架，让web开发更迅速、简单。</p>

        <p>{{name}}</p>

        <p><a class="btn btn-primary btn-lg" href="#myModal1" data-toggle="modal">学习更多</a></p>
    </div>
</div>

<br/>
