div
    div(npt-select-tree="to")

    div.input-group
        input.form-control(placeholder="{{to.placeholder}}",type="text",ng-model="to.viewvalue",disabled)
        input.form-control(type="text",ng-model="model[options.key]",disabled,ng-hide="true")
        span.input-group-btn
            button.btn.btn-primary(type="button",ng-click="to.onClickSelect(model,options)") 选择