//
   Created by rxy on 15/11/3.

extends ../../layout/layout-bizpage

block titleContent
    title  产品管理
block content
    script(src="/js/biz/product/productListGrid.js")
    script(src="/js/biz/product/productMdGroupListGrid.js")
    script(src="/js/biz/product/productPhaseListGrid.js")
    script(src="/js/biz/product/productRequirementListGrid.js")
    script(src="/js/biz/product/productProfilesListGrid.js")
    script(src="/js/biz/product/productGroupListGrid.js")
    script(src="/js/biz/product/productClassifiesListGrid.js")
    script(src="/js/biz/product/productDescrsListGrid.js")
    script(src="/js/biz/product/productForm.js")
    script(src="/js/biz/product/product.js")
    div(ng-app="productApp")
        //通知区域
        //内容区域
        div(ng-view)
        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 产品列表

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header.col-md-3
                        a.navbar-brand(href="#") 产品列表
                    div.collapse.navbar-collapse.col-md-9.navbar-right
                        ul.nav.navbar-nav.navbar-left
                            li(ng-if="vm.productList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.productList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 省 - {{vm.productCategory.currProvince}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ng-click="vm.productCategory.selectProvince(province)",ng-repeat="province in vm.productCategory.provinces track by $index",value="{{province.province}}") {{province.province}}
                        ul.nav.navbar-nav.navbar-left
                            li.dropdown(ng-if='!vm.productList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 市 - {{vm.productCategory.currCity}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ng-click="vm.productCategory.selectCity(city)",ng-repeat="city in vm.productCategory.citys track by $index",value="{{city.city}}") {{city.city}}
                        ul.nav.navbar-nav.navbar-left
                            li.dropdown(ng-if='!vm.productList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 区 - {{vm.productCategory.currDistrict}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ng-click="vm.productCategory.selectDistrict(district)",ng-repeat="district in vm.productCategory.districts track by $index" ,value="{{district.district}}") {{district.district}}
                        ul.nav.navbar-nav.navbar-left
                            li.dropdown(ng-if='!vm.productList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 分组 - {{vm.productCategory.queryName}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="",ng-click="vm.productCategory.queryByGroupId('all','全部')") 全部
                                    li
                                        a(href="",ng-click="vm.productCategory.queryByGroupId('none','未分类')") 未分类
                                    li(ng-repeat="group in vm.productCategory.allGroups")
                                        a(href="",ng-click="vm.productCategory.queryByGroupId(group.id,group.name)") {{group.name}}
                                    li
                                        a(href="") 条件查询
                        ul.nav.navbar-nav.navbar-left
                            li
                                a(href="#/product",ng-if='!vm.productList.loading()') 添加产品
                            li
                                a(href="#/group/{{vm.productCategory.currProvince}}/{{vm.productCategory.currCity}}/{{vm.productCategory.currDistrict}}",ng-if='!vm.productList.loading()') 编辑分组
            div(npt-grid="vm.productListGridOptions",model="vm.productCategory.productList")

        //新增产品
        script(type="text/ng-template",id="edit.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li.active 编辑产品

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 编辑产品
                    div.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    button.btn.btn-primary.navbar-btn(ng-click="vm.save()",ng-disabled="vm.nptFormApi.form.$invalid") 保存
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.productFormOptions",model="vm.modelProduct")

        //编辑产品
        script(type="text/ng-template",id="editGroup.html")
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#list")
                                span 产品列表
                        li.active 分组信息

            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 分组信息
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#/list") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp

            div.row
                div.col-md-12
                    div.page-header
                        div.row
                            h4.col-md-6 分组信息
                            div.col-md-6.text-right
                                button.btn.btn-default.btn-sm(ng-click="vm.addGroupDialog();") 添加
                    div.page-body
                            div(npt-grid="vm.productMdGroupListGridOptions",model="vm.productMdGroupList.data")


        //编辑分组
        script(type="text/ng-template",id="product.html")
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#list")
                                span 产品列表
                        li.active 产品信息

            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 产品信息
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#/list") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp

            div.row
                div.col-md-12
                    div.page-header
                        h4 服务内容
                    div.page-body
                        div(npt-form="vm.productFormOptions",model="vm.model.product")

        //详情模板
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 产品列表
                li.active 产品详情

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 产品详情
                    ul.nav.navbar-nav.navbar-right
                        li(ng-if="vm.productInfo.loading()")
                            a(href="") 正在查询,请稍后...
                        li(ng-if="!vm.productInfo.loading()")
                            a(href="",ng-click="vm.previous(vm.productInfo.data.product)",ng-show="vm.productList.previous(vm.productInfo.data.product)") 上一单
                        li(ng-if="!vm.productInfo.loading()")
                            a(href="",ng-click="vm.next(vm.productInfo.data.product)",ng-show="vm.productList.next(vm.productInfo.data.product)") 下一单
                        li
                            a(href="#/list") 返回

            //数据表格区域
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.productFormOptions",model="vm.model.product")
            div.page-header
                div.row
                    h4.col-md-6 服务阶段
                    div.col-md-6.text-right
                        button.btn.btn-default.btn-sm(ng-click="vm.addProductPhaseDialog();") 添加
            div.page-body
                div(npt-grid="vm.productPhaseListGridOptions",model="vm.modelPhases")
            div.page-header
                div.row
                    h4.col-md-6 服务资料
                    div.col-md-6.text-right
                        button.btn.btn-default.btn-sm(ng-click="vm.addProductRequirementDialog();") 添加
            div.page-body
                div(npt-grid="vm.productRequirementListGridOptions",model="vm.modelRequirements")
            div.page-header
                div.row
                    h4.col-md-6 服务内容
                    div.col-md-6.text-right
                        button.btn.btn-default.btn-sm(ng-click="vm.addProductProfilesDialog();") 添加
            div.page-body
                div(npt-grid="vm.productProfilesListGridOptions",model="vm.modelProfiles")
            div.page-header
                div.row
                    h4.col-md-6 服务分组
                    div.col-md-6.text-right
                        button.btn.btn-default.btn-sm(ng-click="vm.addProductGroupDialog();") 添加
            div.page-body
                div(npt-grid="vm.productGroupListGridOptions",model="vm.modelGroups")
            div.page-header
                div.row
                    h4.col-md-6 服务分类
                    div.col-md-6.text-right
                        button.btn.btn-default.btn-sm(ng-click="vm.addProductClassifiesDialog();") 添加
            div.page-body
                div(npt-grid="vm.productClassifiesListGridOptions",model="vm.modelClassifies")
            div.page-header
                div.row
                    h4.col-md-6 服务说明
                    div.col-md-6.text-right
                        button.btn.btn-default.btn-sm(ng-click="vm.addProductDescrsDialog();") 添加
            div.page-body
                div(npt-grid="vm.productDescrsListGridOptions",model="vm.modelDescrs")

