//
   Created by rxy on 15/11/3.

extends ../../layout/layout-bizpage

block titleContent
    title  产品管理
block content
    script(src="/js/biz/product/productListGrid.js")
    script(src="/js/biz/product/productMdGroupListGrid.js")
    script(src="/js/biz/product/requirementListGrid.js")
    script(src="/js/biz/product/productForm.js")
    script(src="/js/biz/product/product.js")
    div(ng-app="productApp")
        //通知区域
        //内容区域
        div(ng-view)
        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 产品列表

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 产品列表
                    div.collapse.navbar-collapse.col-md-9.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if='vm.queryService.reposProducts.loading()')
                            li
                                a(href="") 正在查询,请稍后...
                        div(ng-if='!vm.queryService.reposProducts.loading()')
                            ul.nav.navbar-nav.navbar-left
                                li.dropdown
                                    a.dropdown-toggle(href="",data-toggle="dropdown") 省 - {{vm.queryService.currProvince.province}}
                                        span.caret
                                    ul.dropdown-menu
                                        li(ng-repeat="province in vm.queryService.provinces track by $index")
                                            a(ng-click="vm.queryService.selectProvince(province)") {{province.province}}

                                li.dropdown
                                    a.dropdown-toggle(href="",data-toggle="dropdown") 市 - {{vm.queryService.currCity.city}}
                                        span.caret
                                    ul.dropdown-menu
                                        li(ng-repeat="city in vm.queryService.currProvince.citys track by $index")
                                            a(ng-click="vm.queryService.selectCity(city)") {{city.city}}

                                li.dropdown
                                    a.dropdown-toggle(href="",data-toggle="dropdown") 区 - {{vm.queryService.currDistrict.district}}
                                        span.caret
                                    ul.dropdown-menu
                                        li(ng-repeat="district in vm.queryService.currCity.districts track by $index")
                                            a(ng-click="vm.queryService.selectDistrict(district)") {{district.district}}

                                li.dropdown
                                    a.dropdown-toggle(href="",data-toggle="dropdown") 查询 - {{vm.queryService.currQueryType.label}}
                                        span.caret
                                    ul.dropdown-menu
                                        li(ng-repeat="queryType in vm.queryService.queryTypes")
                                            a(href="",ng-click="vm.queryService.selectQueryType(queryType)") {{queryType.label}}

                                li
                                    a(href="#/add") 添加产品
                                li
                                    a(href="#/group/{{vm.queryService.currProvince.province}}/{{vm.queryService.currCity.city}}/{{vm.queryService.currDistrict.district}}",ng-if='!vm.productList.loading()') 编辑分组

            div(npt-grid="vm.productListGridOptions",model="vm.queryService.reposProducts.data")

        script(type="text/ng-template",id="query.html")
            //弹出层，客户条件查询表单
            div.modal-header
                button.close(type="button",ng-click="vm.cancel()")
                    span(aria-hidden="ture")&times;
                h4.modal-title 产品查询
            div.modal-body
                div.row
                    div.col-md-12
                        label.control-label 产品名称：
                        input.form-control(ng-model="vm.model.name")
            div.modal-footer
                button.btn.btn-default(type="button",data-dismiss="vm.cancel()") 关闭
                button.btn.btn-primary(type="button",data-dismiss="modal", ng-click="vm.ok()") 确认

        script(type="text/ng-template",id="isDelete.html")
            //弹出层，客户条件查询表单
            div.modal-header
                button.close(type="button",ng-click="vm.cancel()")
                    span(aria-hidden="ture")&times;
                h4.modal-title 产品查询
            div.modal-body
                div.row
                    div.col-md-12
                        label.control-label 产品名称：
                        input.form-control(ng-model="vm.model.name")
            div.modal-footer
                button.btn.btn-default(type="button",data-dismiss="vm.cancel()") 关闭
                button.btn.btn-primary(type="button",data-dismiss="modal", ng-click="vm.ok()") 确认
        //新增产品
        script(type="text/ng-template",id="add.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li.active 新增产品
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 新增产品
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 添加产品
                    div.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    a(href="#/list") 返回
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.productFormOptions",model="vm.model")


        //分组列表
        script(type="text/ng-template",id="group.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li.active 分组列表
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 分组列表
                    div.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    a(href="#/list") 返回

            div(npt-grid="vm.groupListGridOptions",model="vm.model")

        //新增产品
        script(type="text/ng-template",id="edit.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li.active 编辑产品

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 编辑产品
                    div.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.productInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.productInfo.loading()")
                            li
                                a(href="",ng-click="vm.previous(vm.modelProduct)",ng-show="vm.productQueryService.reposProducts.previous(vm.modelProduct)") 上一单
                            li
                                a(href="",ng-click="vm.next(vm.modelProduct)",ng-show="vm.productQueryService.reposProducts.next(vm.modelProduct)") 下一单
                            li
                                a(href="",ng-click="vm.updateProductState(vm.modelProduct.id,'offshelves')",ng-show="vm.isShowOffTheShelf(vm.modelProduct)") 下架
                            li
                                a(href="",ng-click="vm.updateProductState(vm.modelProduct.id,'normal')",ng-show="vm.isShowRelease(vm.modelProduct)") 发布
                            li
                                a(href="#/list") 返回
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.productFormOptions",model="vm.modelProduct")

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 产品内容
                    div.col-xs-6.col-md-6
                        a.btn.btn-default.pull-right(type="button",href="#/edit/profile/{{vm.productid}}") 添加产品内容
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="profile in vm.modelProductProfiles")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    h5 {{profile.synopsis}}
                                div.col-xs-6.col-md-6
                                    button.btn.btn-danger.btn-sm.pull-right(type="button",ng-click="vm.isDeleteProfile(profile.id);") 删除
                                    span.pull-right &nbsp &nbsp
                                    a.btn.btn-primary.btn-sm.pull-right(type="button",href="#/edit/profile/{{vm.productid}}/{{profile.id}}") 编辑

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 产品详情
                    div.col-xs-6.col-md-6
                        a.btn.btn-default.pull-right(type="button",href="#/edit/descr/{{vm.productid}}") 添加产品详情
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelProductDescrs")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    h5 {{item.descr}}
                                div.col-xs-6.col-md-6
                                    button.btn.btn-danger.btn-sm.pull-right(type="button",ng-click="vm.isDeleteDescr(item.id);") 删除
                                    span.pull-right &nbsp &nbsp
                                    a.btn.btn-primary.btn-sm.pull-right(type="button",href="#/edit/descr/{{vm.productid}}/{{item.id}}") 编辑
                        div.list-group-item-text
                            span {{item.descrvalue}}

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 所属分组
                    div.col-xs-6.col-md-6
                        a.btn.btn-default.pull-right(type="button",href="#/edit/group/{{vm.productid}}") 添加所属分组
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelProductGroups")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    div(style="width:50px;height:50px;",npt-image="item.backgorundimgid")
                                    span &nbsp &nbsp
                                    span {{item.groupname}}
                                div.col-xs-6.col-md-6
                                    button.btn.btn-danger.btn-sm.pull-right(type="button",ng-click="vm.isDeleteGroup(item.id);") 删除
                                    span.pull-right &nbsp &nbsp
                                    a.btn.btn-primary.btn-sm.pull-right(type="button",href="#/edit/group/{{vm.productid}}/{{item.id}}") 编辑
                        div.list-group-item-text
                            span 所属地区:{{item.province}} - {{item.city}} - {{item.district}}; 置顶显示:{{item.top}}

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 产品分类
                    div.col-xs-6.col-md-6
                        a.btn.btn-default.pull-right(type="button",href="#/add/classifies/{{vm.productid}}/{{vm.queryService.currDistrict.id}}") 添加产品分类
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelProductClassifies")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    h5 {{item.classifyname}}
                                div.col-xs-6.col-md-6
                                    button.btn.btn-danger.btn-sm.pull-right(type="button",ng-click="vm.isDeleteClassify(item.id);") 删除
                                    span.pull-right &nbsp &nbsp
                                    a.btn.btn-primary.btn-sm.pull-right(type="button",href="#/edit/classifies/{{vm.productid}}/{{item.id}}") 编辑
                        div.list-group-item-text
                            span 价格:{{item.price | number}}; &nbsp;&nbsp; 排序:{{item.sort}}

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 办理资料
                    div.col-xs-6.col-md-6
                        a.btn.btn-default.pull-right(ng-click="vm.queryRequirement();")  添加办理资料
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelProductRequirements")
                        div.list-group-item-heading.row
                            div.col-xs-6.col-md-6
                                h5 {{item.attachname}}
                            div.col-xs-6.col-md-6
                                button.btn.btn-danger.btn-sm.pull-right(type="button",ng-click="vm.isDeleteRequirement(item.id);") 删除
                        div.list-group-item-text
                            span 识别Key:{{item.attachkey}}; &nbsp;&nbsp; 交接类型:{{item.inputtype | ctrlCodeFilter:'inputtype':'name':'no'}}; &nbsp;&nbsp; 填写说明:{{item.inputdesc}}; &nbsp;&nbsp; 填写样板:{{item.demovalue}}; &nbsp;&nbsp; 资料类型:{{item.transfertype | ctrlCodeFilter:'transfertype':'name':'no'}};

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 服务阶段
                    div.col-xs-6.col-md-6
                        a.btn.btn-default.pull-right(type="button",href="#/edit/phase/{{vm.productid}}") 添加服务阶段
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelProductPhases")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    h5 {{item.sortno}} {{item.name}}
                                div.col-xs-6.col-md-6
                                    button.btn.btn-danger.btn-sm.pull-right(type="button",ng-click="vm.isDeletePhase(item.id);") 删除
                                    span.pull-right &nbsp &nbsp
                                    a.btn.btn-primary.btn-sm.pull-right(type="button",href="#/edit/phase/{{vm.productid}}/{{item.id}}") 编辑
                        div.list-group-item-text
                            dl.dl-horizontal
                                dt 服务周期及时间:
                                dd {{item.cyclevalue}}{{item.cycle | ctrlCodeFilter:'cycle':'name':'no'}}; 办理时间:{{item.processdays}}个工作日;
                                dt 服务职责:
                                dd {{item.duty}}
                                dt 服务说明:
                                dd {{item.phasedescr}}
                                dt 备注:
                                dd {{item.remark}}
        //编辑产品内容
        script(type="text/ng-template",id="editProductProfile.html")
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 添加/编辑产品内容
                    div.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.productProfileInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.productProfileInfo.loading()")
                            li
                                a(href="",ng-click="vm.previous(vm.model)",ng-show="vm.productProfileByProductid.previous(vm.model)") 上一单
                            li
                                a(href="",ng-click="vm.next(vm.model)",ng-show="vm.productProfileByProductid.next(vm.model)") 下一单
                            li
                                a(href="#edit/profile/{{vm.productid}}") 添加
                            li
                                a(href="#edit/{{vm.productid}}") 返回

            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li
                    a(href="#edit/{{vm.productid}}") 编辑产品
                li.active 添加/编辑产品内容

            div(npt-form="vm.productProfilesFormOptions",model="vm.model")

        //编辑产品详情
        script(type="text/ng-template",id="editProductDescr.html")
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 添加/编辑产品详情
                    div.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.productDescrInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.productDescrInfo.loading()")
                            li
                                a(href="",ng-click="vm.previous(vm.model)",ng-show="vm.productDescrByProductid.previous(vm.model)") 上一单
                            li
                                a(href="",ng-click="vm.next(vm.model)",ng-show="vm.productDescrByProductid.next(vm.model)") 下一单
                            li
                                a(href="#edit/descr/{{vm.productid}}") 添加
                            li
                                a(href="#edit/{{vm.productid}}") 返回

            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li
                    a(href="#edit/{{vm.productid}}") 编辑产品
                li.active 添加/编辑产品详情

            div(npt-form="vm.productDescrFormOptions",model="vm.model")

        //编辑产品类
        script(type="text/ng-template",id="editProductClassifies.html")
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 添加/编辑产品类
                    div.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.productClassifyInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.productClassifyInfo.loading()")
                            li
                                a(href="",ng-click="vm.previous(vm.model)",ng-show="vm.productClassifyByProductid.previous(vm.model)") 上一单
                            li
                                a(href="",ng-click="vm.next(vm.model)",ng-show="vm.productClassifyByProductid.next(vm.model)") 下一单
                            li
                                a(href="#add/classifies/{{vm.productid}}/{{vm.model.cityid}}") 添加
                            li
                                a(href="#edit/{{vm.productid}}") 返回

            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li
                    a(href="#edit/{{vm.productid}}") 编辑产品
                li.active 添加/编辑产品分类

            div(npt-form="vm.productClassifiesFormOptions",model="vm.model")

        //编辑产品分组
        script(type="text/ng-template",id="editProductGroup.html")
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 添加/编辑产品所属分组
                    div.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.productGroupInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.productGroupInfo.loading()")
                            li
                                a(href="",ng-click="vm.previous(vm.model)",ng-show="vm.productGroupByProductid.previous(vm.model)") 上一单
                            li
                                a(href="",ng-click="vm.next(vm.model)",ng-show="vm.productGroupByProductid.next(vm.model)") 下一单
                            li
                                a(href="#edit/group/{{vm.productid}}") 添加
                            li
                                a(href="#edit/{{vm.productid}}") 返回

            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li
                    a(href="#edit/{{vm.productid}}") 编辑产品
                li.active 添加/编辑产品所属分组

            div(npt-form="vm.productGroupFormOptions",model="vm.model")

        //编辑产品阶段
        script(type="text/ng-template",id="editProductPhase.html")
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 添加/编辑产品阶段
                    div.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.productPhaseInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.productPhaseInfo.loading()")
                            li
                                a(href="",ng-click="vm.previous(vm.model)",ng-show="vm.productPhaseByProductid.previous(vm.model)") 上一单
                            li
                                a(href="",ng-click="vm.next(vm.model)",ng-show="vm.productPhaseByProductid.next(vm.model)") 下一单
                            li
                                a(href="#edit/phase/{{vm.productid}}") 添加
                            li
                                a(href="#edit/{{vm.productid}}") 返回

            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list") 产品列表
                li
                    a(href="#edit/{{vm.productid}}") 编辑产品
                li.active 添加/编辑产品阶段

            div(npt-form="vm.productPhaseFormOptions",model="vm.model")

        //用于选择产品所属分组的模板
        script(type="text/ng-template",id="selectProductGroup.html")
            div
                div.input-group
                    //input.form-control(placeholder="{{to.placeholder}}",type="text",ng-model="to.viewvalue",disabled)
                    input.form-control(placeholder="{{to.placeholder}}",type="text",ng-model="model[to.labelProp]",disabled)
                    span.input-group-btn
                        button.btn.btn-primary(type="button",ng-click="open()") 选择所属分组

        //用于选择产品所属分组的Modal
        script(type="text/ng-template",id="selectProductGroupModal.html")
            div
                div.modal-header
                    button.close(type='button',ng-click="vm.cancel()",aria-label="关闭")
                        span &times
                    h4.modal-title 选择产品所属分组
                    p(ng-show="vm.refresh.$$state.status === 0") 正在加载数据,请稍后...
                div.modal-body
                    nav.navbar.navbar-default
                        div.container-fluid
                            div.collapse.navbar-collapse.navbar-left
                                ul.nav.navbar-nav.navbar-left
                                    li.dropdown
                                        a.dropdown-toggle(href="",data-toggle="dropdown") 省 - {{vm.queryService.currProvince.province}}
                                            span.caret
                                        ul.dropdown-menu
                                            li(ng-repeat="province in vm.queryService.provinces track by $index")
                                                a(ng-click="vm.queryService.selectProvince(province)") {{province.province}}

                                    li.dropdown
                                        a.dropdown-toggle(href="",data-toggle="dropdown") 市 - {{vm.queryService.currCity.city}}
                                            span.caret
                                        ul.dropdown-menu
                                            li(ng-repeat="city in vm.queryService.currProvince.citys track by $index")
                                                a(ng-click="vm.queryService.selectCity(city)") {{city.city}}

                                    li.dropdown
                                        a.dropdown-toggle(href="",data-toggle="dropdown") 区 - {{vm.queryService.currDistrict.district}}
                                            span.caret
                                        ul.dropdown-menu
                                            li(ng-repeat="district in vm.queryService.currCity.districts track by $index")
                                                a(ng-click="vm.queryService.selectDistrict(district)") {{district.district}}
                    div.list-group
                        div.list-group-item(ng-repeat="item in vm.queryService.reposProductGroup.data")
                            div.list-group-item-heading
                                div.row
                                    div.col-md-6.col-xs-6
                                        p {{item.name}}
                                    div.col-md-6.col-xs-6
                                        button.btn.btn-primary.pull-right(type="button",ng-click="vm.ok(item)") 选择

                div.modal-footer
                    button.btn.btn-warning(type="button",ng-click="vm.cancel()") 取消

