//
   Created by rxy on 15/11/3.

extends ../../layout/layout-bizpage

block titleContent
    title  产品管理
block content
    script(src="/js/biz/product/productListGrid.js")
    script(src="/js/biz/product/productPhaseListGrid.js")
    script(src="/js/biz/product/productProfilesListGrid.js")
    script(src="/js/biz/product/productGroupListGrid.js")
    script(src="/js/biz/product/productClassifiesListGrid.js")
    script(src="/js/biz/product/productDescrsListGrid.js")
    script(src="/js/biz/product/productForm.js")
    script(src="/js/biz/product/product.js")
    div(ng-app="productApp")
        //通知区域
        //内容区域
        div(ng-view)
        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 产品列表

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header.col-md-5
                        a.navbar-brand(href="#") 产品列表
                    div.collapse.navbar-collapse.col-md-7
                        ul.nav.navbar-nav.navbar-left
                            li(ng-if="vm.productList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.productList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 省 - {{vm.currProvince}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ng-click="vm.selectProvince(province)",ng-repeat="province in vm.provinces track by $index",value="{{province.province}}") {{province.province}}
                        ul.nav.navbar-nav.navbar-left
                            li(ng-if="vm.productList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.productList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 市 - {{vm.currCity}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ng-click="vm.selectCity(city)",ng-repeat="city in vm.citys track by $index" value="{{city.city}}") {{city.city}}
                        ul.nav.navbar-nav.navbar-left
                            li(ng-if="vm.productList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.productList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 区 - {{vm.currDistrict}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ng-click="vm.selectDistrict(district)",ng-repeat="district in vm.districts track by $index" value="{{district.district}}") {{district.district}}
                        ul.nav.navbar-nav.navbar-left
                            li(ng-if="vm.productList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.productList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 分组 - {{vm.queryName}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="",ng-click="vm.queryByGroupId('all','全部')") 全部
                                    li
                                        a(href="",ng-click="vm.queryByGroupId('weifenlei','未分类')") 未分类
                                    li(ng-repeat="group in vm.productMdGroupList.data")
                                        a(href="",ng-click="vm.queryByGroupId(group.id,group.name)") {{group.name}}
                                    li
                                        a(href="") 条件查询
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#") 添加产品
                            li
                                a(href="#") 编辑分组
            div(npt-grid="vm.productListGridOptions",model="vm.productList.data")

        //详情模板
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 产品列表
                li.active 产品详情

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 产品详情
                    ul.nav.navbar-nav.navbar-right
                        li(ng-if="vm.productInfo.loading()")
                            a(href="") 正在查询,请稍后...
                        li(ng-if="!vm.productInfo.loading()")
                            a(href="",ng-click="vm.previous(vm.productInfo.data.product)",ng-show="vm.productList.previous(vm.productInfo.data.product)") 上一单
                        li(ng-if="!vm.productInfo.loading()")
                            a(href="",ng-click="vm.next(vm.productInfo.data.product)",ng-show="vm.productList.next(vm.productInfo.data.product)") 下一单
                        li
                            a(href="#/list") 返回

            //数据表格区域
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.productFormOptions",model="vm.model.product")
            div.page-header
                h4 服务阶段
            div.page-body
                div(npt-grid="vm.productPhaseListGridOptions",model="vm.modelPhases")
            div.page-header
                h4 服务内容
            div.page-body
                div(npt-grid="vm.productProfilesListGridOptions",model="vm.modelProfiles")
            div.page-header
                h4 服务分组
            div.page-body
                div(npt-grid="vm.productGroupListGridOptions",model="vm.modelGroups")
            div.page-header
                h4 服务分类
            div.page-body
                div(npt-grid="vm.productClassifiesListGridOptions",model="vm.modelClassifies")
            div.page-header
                h4 服务说明
            div.page-body
                div(npt-grid="vm.productDescrsListGridOptions",model="vm.modelDescrs")

