//
   Created by Leon on 15/10/15.

extends ../../layout/layout-nav

block titleContent
    title #{title}

block content
    //导航路径
    div.row
        div.col-md-12
            ul.breadcrumb(style="margin-bottom: 8px;")
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 订单列表

    //功能按钮区域
    div.row
        div.col-md-12
            div.btn-group(data-toggle="buttons")
                label.btn.btn-default.active
                    input(type="radio",name="options",id="allorder",autocomplete="off" checked)
                    span 全部订单
                label.btn.btn-default
                    input(type="radio",name="options",id="allorder",autocomplete="off")
                    span 待确认订单

    //订单新消息提醒，默认是关闭的，在检索到数据后显示
    div.row
        div.col-md-12(style="margin-top: 10px;")
            div.alert.alert-info.alert-dismissable
                button.close(type="button",data-dismiss="alert") &times;

                h4 新订单
                p 有6张新的订单等待确认。
                    a.alert-link(data-dismiss="alert") 立即处理

    //订单列表表格
    div.row
        div.col-md-12
            //设置为响应式表格 当页面宽度不够显示表格内容时会出现滚动条
            div.table-responsive
                //table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格
                table.table.table-striped.table-bordered.table-hover.table-condensed(style="margin-bottom: 5px;")
                    //添加表格脚部，用于分页选
                    tfoot
                        tr
                            td(colspan="12")
                                nav
                                    ul.pagination(style="margin:1px;")
                                        li.disabled
                                            a(href="#",aria-label="上一页")
                                                span(aria-hidden="true") &laquo;
                                        li.active
                                            a(href = "#") 1
                                        li
                                            a(href = "#") 2
                                        li
                                            a(href = "#") 3
                                        li
                                            a(href = "#") 4
                                        li
                                            a(href = "#") 5
                                        li
                                            a(href = "#",aria-label="下一页")
                                                span(aria-hidden="true") &raquo;

                    tbody
                        tr
                            th.text-center #
                            th.text-center 客户名称
                            th.text-center 订单编号
                            th.text-center 订单名称
                            th.text-center 购买人
                            th.text-center 销售顾问
                            th.text-center 专属顾问
                            th.text-center 销售金额
                            th.text-center 实际金额
                            th.text-center 状态
                            th.text-center 创建日期
                            th.text-center 操作

                        tr
                            td 1
                            td 深圳市顶聚科技有限公司
                            td 10000002315418
                            td 代理记账
                            td 黄黎
                            td 袁欢
                            td 袁欢
                            td.text-right ￥3600.00
                            td.text-right ￥3200.00
                            td 待支付
                            td 2015-9-10 10:25:38
                            td
                                a.btn.btn-default.btn-sm(href="#") 查看

