//
   Created by Leon on 15/10/15.

extends ../../layout/layout

block titleContent
    title #{title}

block content
    div(ng-app="orderApp")
        div(ng-controller="OrderListCtrl")
            //导航路径
            div.row
                div.col-md-12
                    ul.breadcrumb(style="margin-bottom: 8px;")
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 订单列表

            script(type="text/ng-template" id="alert.html")
                div.alert.alert-info(role="alert")
                    button.close(type="button",data-dismiss="alert") &times;
                    div(ng-transclude)

            //消息提示区域
            div.row
                div.col-md-12
                    uib-alert(ng-repeat="alert in alerts",type="{{alert.type}}",close="closeAlert($index)")
                        h4 {{alert.title}}
                        span {{alert.content}}
                        a.alert-link(ng-click="clickAlert(alert.bizKey,$index)") {{alert.action}}

            //功能按钮区域
            div.row
                div.col-md-12
                    div.btn-group
                        label.btn.btn-primary(ng-model="queryState" uib-btn-radio="'allOrder'",ng-click="queryByState()" data-loading-text="正在查询...",id="allOrder") 全部订单
                        label.btn.btn-primary(ng-model="queryState" uib-btn-radio="'waitOrder'",ng-click="queryByState()" data-loading-text="正在查询...",id="waitOrder") 待确认订单
                        label.btn.btn-primary(ng-model="queryState" uib-btn-radio="'cquery'",ng-click="queryByState()" data-loading-text="正在查询...",id="cquery") 条件查询

            //订单列表表格
            div.row(style="padding-top:10px;")
                div.col-md-12
                    //设置为响应式表格 当页面宽度不够显示表格内容时会出现滚动条
                    div.table-responsive
                        //table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格
                        table.table.table-striped.table-bordered.table-hover.table-condensed
                            //添加表格脚部，用于分页选
                            tfoot
                                tr
                                    td(colspan="12")
                                        uib-pagination.pagination-sm(style="margin:0px;",total-items="query.page.totalItems",ng-model='query.page.currPage',items-per-page="query.page.rowNum",max-size="query.page.maxSize",boundary-links="true",ng-change="pageChanged()")

                            tbody
                                tr
                                    th.text-center 序号
                                    th.text-center 客户名称
                                    th.text-center 订单编号
                                    th.text-center 订单名称
                                    th.text-center 购买人
                                    th.text-center 销售顾问
                                    th.text-center 专属顾问
                                    th.text-center 销售金额
                                    th.text-center 实际金额
                                    th.text-center 状态
                                    th.text-center 创建日期
                                    th.text-center 操作
                                tr(ng-repeat="item in query.data")
                                    td {{($index+1)+(query.page.currPage * query.page.rowNum - query.page.rowNum )}}
                                    td {{item.buyerinstid}}
                                    td {{item.ordersn}}
                                    td {{item.name}}
                                    td {{item.salesmanid}}
                                    td {{item.proxyman}}
                                    td {{item.introduce}}
                                    td.text-right {{item.orderamount}}
                                    td.text-right {{item.factamount}}
                                    td {{item.state}}
                                    td {{item.createdate}}
                                    td
                                        a.btn.btn-default.btn-sm(href="#") 查看#{code}

    script(src="/js/app/order.js")