extends ../layout/layout


block titleContent
    title #{title}

block content
    div.row
        div.col-md-12
            ul.breadcrumb(style="margin-bottom:8px")
                li
                    a(href="clientList")
                        span.glyphicon.glyphicon-home 首页
                li
                    a(href="clientList") 客户列表
                li.active(id="topp") 客户详情与编辑

    div.row
        div.col-md-12
            nav.nav.navbar-default
                div.navbar-header
                    p.navbar-brand 客户详情与编辑
                div.navbar-right
                    ul.nav.navbar-nav
                        li
                            a(href="#") 上一个客户
                        li
                            a(href="#") 下一个客户
                        li
                            a(data-toggle="modal", data-taget="#start") 搜索
                        li
                            a(href="clientList") 返回
    //Modal
    div.modal.fade(id="start", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title(id="myModalLabel") 客户搜索
                div.modal-body
                    form.form-horizontal
                        div.form-group.row
                            label.col-sm-3.control-label 联系人
                            div.col-sm-9
                                input.form-control(placeholder="联系人")
                        div.form-group.row
                            label.col-sm-3.control-label 客户名称
                            div.col-sm-9
                                input.form-control(placeholder="客户名称")
                        div.form-group.row
                            label.col-sm-3.control-label 客户行业
                            div.col-sm-9
                                select.form-control
                                    option ---请选择---
                                    option 小微企业
                                    option 外贸
                        div.form-group.row
                            label.col-sm-3.control-label 客户类型
                            div.col-sm-9
                                select.form-control
                                    option ---请选择---
                                    option 企业
                                    option 个体经营者
                                    option 自然人
                        div.form-group.row
                            label.col-sm-3.control-label 客户级别
                            div.col-sm-9
                                select.form-control
                                    option ---请选择---
                                    option A类
                                    option B类
                                    option C类
                        div.form-group.row
                            label.col-sm-3.control-label 客户来源
                            div.col-sm-9
                                select.form-control
                                    option ---请选择---
                                    option 网络渠道
                                    option 发单
                                    option 客户推荐
                                    option 同行介绍
                                    option 市场合作
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") 取消
                    button.btn.btn-primary(type="button") 确定
    div.row
        div.col-md-10
            div.row
                div.col-md-12
                    div.page-header
                        h5(id="baseinfo") 基本信息
                    form.form-horizontal(style="margin:20px 20px 20px;")
                        div.form-group.row
                            label.col-sm-2.control-label(for="ID") ID
                            div.col-sm-10
                                input.form-control(id="ID", type="text", disabled, value="1000000232150")
                        div.form-group.row
                            label.col-sm-2.control-label(for="name") 名称
                            div.col-sm-10
                                input.form-control(id="name", type="text", disabled, value="eeeeeeee")
                        div.form-group.row
                            label.col-sm-2.control-label(for="abbr") 简称
                            div.col-sm-10
                                input.form-control(id="abbr", type="text", disabled, value="refer")
                        div.form-group.row
                            label.col-sm-2.control-label(for="num") 编号
                            div.col-sm-10
                                input.form-control(id="num", type="text", disabled, value="eeeee")
                        div.form-group.row
                            label.col-sm-2.control-label(for="industry") 行业
                            div.col-sm-10
                                select.form-control(id="industry")
                                    option ---请选择---
                                    option(selected="selected") 小微企业
                                    option 外贸
                        div.form-group.row
                            label.col-sm-2.control-label(for="type") 类型
                            div.col-sm-10
                                select.form-control(id="type")
                                    option ---请选择---
                                    option 企业
                                    option(selected="selected") 个体经营者
                                    option 自然人
                        div.form-group.row
                            label.col-sm-2.control-label(for="level") 级别
                            div.col-sm-10
                                select.form-control(id="level")
                                    option ---请选择---
                                    option A类
                                    option(selected="selected") B类
                                    option C类
                        div.form-group.row
                            label.col-sm-2.control-label(for="industry") 来源
                            div.col-sm-10
                                select.form-control(id="industry")
                                    option ---请选择---
                                    option(selected="selected") 网络渠道
                                    option 发单
                                    option 客户推荐
                                    option 同行介绍
                                    option 市场合作
                        div.form-group.row
                            label.col-sm-2.control-label(for="scale") 规模
                            div.col-sm-10
                                input.form-control(id="scale", type="text", value="small")
                        div.form-group.row
                            label.col-sm-2.control-label(for="contactman") 联系人
                            div.col-sm-10
                                input.form-control(id="contactman", type="text", value="eeeeeeee")
                        div.form-group.row
                            label.col-sm-2.control-label(for="phone") 电话
                            div.col-sm-10
                                input.form-control(id="phone", type="text", value="43433333333")
                        div.form-group.row
                            label.col-sm-2.control-label(for="post") 职位
                                select.col-sm-10.form-control(id="post")
                                    option ---请选择---
                                    option 法人
                                    option 老板
                                    option 负责人
                                    option 介绍人
                        div.form-group.row
                            label.col-sm-2.control-label(for="area") 地区
                                div.col-sm-10
                                    input.form-control(id="area", type="text", value="eeeee")
                        div.form-group.row
                            label.col-sm-2.control-label(for="address") 地址
                                div.col-sm-10
                                    input.form-control(id="address", type="text", value="eeeeeeee")
                        div.form-group.row
                            label.col-sm-2.control-label(for="inst") 客户机构
                                div.col-sm-10
                                    input.form-control(id="inst", type="text", value="10000002321512")
                        div.form-group.row
                            label.col-sm-2.control-label(for="manager") 客户管理员
                                div.col-sm-10
                                    input.form-control(id="manager", type="text", value="10000002321509")
                        div.form-group.row
                            label.col-sm-2.control-label(for="createtime") 创建时间
                                div.col-sm-10
                                    input.form-control(id="createtime", type="text", value="2015-09-23 10:45:42")
                        div.form-group.row
                            label.col-sm-2.control-label(for="updatetime") 更新时间
                                div.col-sm-10
                                    input.form-control(id="updatetime", type="text", value="2015-10-09 15:29:51")
                        div.form-group.row
                            label.col-sm-2.control-label(for="remark") 备注
                                div.col-sm-10
                                    textarea.form-control(id="remark", rows="3")
                        div.form-group.row
                            div.text-center(id="bottomp") 跳到底部