extends ../layout/layout


block titleContent
    title #{title}


block content
    body
    // 整体结构表格
    .row
        // 当前页面导航。同时表达本页面功能名称
        .col-md-12
            ul.breadcrumb(style='margin-bottom: 8px;')
                li
                    a(href='../../index.html')
                        span.glyphicon.glyphicon-home
                        |  首页
                li
                    a(href='clientList') 客户列表
                li#topp.active 新增客户
    .row
        .col-md-12
            nav.nav.navbar-default
                .navbar-header
                    p.navbar-brand 新增客户
                .navbar-right(style='margin-right: 0px;')
                    ul.nav.navbar-nav
                        li
                            a(href="../client") 返回
    .row
        .col-md-10
            .row
                .col-md-12
                    .page-header
                        h5#baseinfo 基本信息
                    form.form-horizontal(style='margin: 20px 20px 20px;')
                        .form-group.row
                            label.col-sm-2.control-label(for='ID') ID
                            .col-sm-10
                                input#ID.form-control(type='text', disabled='')
                        .form-group.row
                            label.col-sm-2.control-label(for='name') 名称
                            .col-sm-10
                                input#name.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='abbr') 简称
                            .col-sm-10
                                input#abbr.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='num') 编号
                            .col-sm-10
                                input#num.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='industry') 行业
                            .col-sm-10
                                select#industry.form-control
                                    option ---请选择---
                                    option 小微企业
                                    option 外贸
                        .form-group.row
                            label.col-sm-2.control-label(for='type') 类型
                            .col-sm-10
                                select#type.form-control
                                    option ---请选择---
                                    option 企业
                                    option 个体经营者
                                    option 自然人
                        .form-group.row
                            label.col-sm-2.control-label(for='level') 级别
                            .col-sm-10
                                select#level.form-control
                                    option ---请选择---
                                    option A类
                                    option B类
                                    option C类
                        .form-group.row
                            label.col-sm-2.control-label(for='source') 来源
                            .col-sm-10
                                select#source.form-control
                                    option ---请选择---
                                    option 网络渠道
                                    option 发单
                                    option 客户推荐
                                    option 同行介绍
                                    option 市场合作
                        .form-group.row
                            label.col-sm-2.control-label(for='scale') 规模
                            .col-sm-10
                                input#scale.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='contactman') 联系人
                            .col-sm-10
                                input#contactman.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='phone') 电话
                            .col-sm-10
                                input#phone.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='post') 职位
                            .col-sm-10
                                select#post.form-control
                                    option ---请选择---
                                    option 法人
                                    option 老板
                                    option 负责人
                                    option 介绍人
                        .form-group.row
                            label.col-sm-2.control-label(for='area') 地区
                            .col-sm-10
                                input#area.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='address') 地址
                            .col-sm-10
                                input#address.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='inst') 客户机构
                            .col-sm-10
                                input#inst.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='manager') 客户管理员
                            .col-sm-10
                                input#manager.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='createtime') 创建时间
                            .col-sm-10
                                input#createtime.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='updatetime') 更新时间
                            .col-sm-10
                                input#updatetime.form-control(type='text')
                        .form-group.row
                            label.col-sm-2.control-label(for='remark') 备注
                            .col-sm-10
                                textarea#remark.form-control(rows='3')
                        .form-group.row
                            #bottomp.text-center
                                a.btn.btn-primary(href='#') 确定
                                a.btn.btn-default(href='#', data-dismiss='modal') 取消
        #navScrollspy.col-md-2
            div(data-spy='affix', data-offset-top='200', data-offset-bottom='10')
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a(href='', data-target='#topp') 返回顶部
                    li
                        a(href='#bottomp') 跳到底部
