//
   Created by leon on 15/12/21.

extends ../../layout/layout-mobile
block title
    p 绑定微信
block content
    script(src="/js/wx/bind.js")
    div(ng-app="BindWxApp")
        div(ng-view)
        script(type="text/ng-template",id="bind.html")
            div.well
                h3 绑定微信
                lable 请输入你的移办通账号和密码绑定微信账号
                div#wxprofile.hidden #{wxprofile}
            div.alert.alert-warning.alert-dismissible(role="alert",ng-show="vm.isError")
                button.close(type="button",data-dismiss="alert",aria-label="Close")
                    span(aria-hidden="true")&times;
                strong 用户名密码不匹配，请检查！
            div(npt-form="vm.wxFormOptions",model="vm.model")
        script(type="text/ng-template",id="success.html")
            div.jumbotron
                div.row
                    div.col-xs-4
                        img(src="/image/yun9logo.png",style="width:60px;")
                    div.col-xs-8
                        h3 绑定成功
                        h3
                            a(href="#{returnTo}") 继续访问
        script(type="text/ng-template",id="failed.html")
            div.jumbotron
                h1 绑定失败
                p 绑定失败
