//
   Created by leon on 15/12/21.

extends ../../layout/layout-mobile
block title
    p 绑定微信
block content
    div.alert.alert-success
        | 验证成功&nbsp;
        a(href="http://www.yun9.com/auth/loginByWeixinClient") 继续访问
