//
   Created by shirley on 2015/11/3.

extends ../../layout/layout-bizpage
block titleContent
    title 客户管理
block content
    script(src="/js/biz/client/clientListGrid.js")
    script(src="/js/biz/client/clientForm.js")
    script(src="/js/biz/client/addClientForm.js")
    script(src="/js/biz/client/clientSearchForm.js")
    script(src="/js/biz/client/client.js")
    div(ng-app="clientApp")
        //内容区域
        div(ng-view)
        //功能导航区域

        //列表模板
        script(type="text/ng-template", id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        |  首页
                li.active 客户管理

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 客户列表
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#/addClient") 新增客户
                            li(ng-if="vm.clientList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.clientList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 客户查询 - {{vm.queryService.currQuery.label}}
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat="queryItem in vm.queryService.queryList")
                                        a(href="",ng-click="vm.queryService.selectQuery(queryItem)") {{queryItem.label}}
            div(npt-grid="vm.clientListGridOptions",model="vm.queryService.clientList.data")

        script(type="text/ng-template",id="query.html")
            //弹出层，客户条件查询表单
            div.modal-header
                button.close(type="button",data-dismiss="modal",aria-label="Close", ng-click="vm.cancel()")
                    span(aria-hidden="true")&times;
                h4.modal-title 客户查询
            div.modal-body
                div.row
                    div.col-md-12
                        div(npt-form="vm.clientSearchFormOptions",model="vm.searchModel")
            div.modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal", ng-click="vm.cancel()") 关闭
                button.btn.btn-primary(type="button",data-dismiss="modal", ng-click="vm.ok()") 确认

        //详情模板
        script(type="text/ng-template", id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 客户列表
                li.active 客户详情

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 客户详情
                    div(ng-if="vm.clientInfo.loading() || vm.updateClient.loading()")
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="") 正在查询,请稍后...
                    div(ng-if="!vm.clientInfo.loading() && !vm.updateClient.loading()")
                        ul.nav.navbar-nav.navbar-right
                            li
                                button.btn.btn-info.navbar-btn(role="button", data-toggle="modal", data-target="#clientAdviserModal") 专属顾问和业务员
                            li(ng-if="!vm.clientInfo.loading() && vm.isInitInst()")
                                button.btn.btn-default.navbar-btn(type="button",ng-click="vm.initClientInst(vm.clientInfo.data)") 初始化机构
                            li
                                button.btn.btn-default.navbar-btn(type="button",ng-disabled="vm.nptFormApi.form.$invalid", ng-click="vm.updateSave(vm.clientInfo.data)") 保存
                            li
                                button.btn.btn-default.navbar-btn(type="button",ng-click="vm.reset()") 重置
                            li
                                button.btn.btn-default.navbar-btn(ng-click="vm.goToAddClient()",role="button") 新增客户
                            li
                                button.btn.btn-default.navbar-btn(type="button",ng-click="vm.previous(vm.clientInfo.data)",ng-show="vm.clientList.previous(vm.clientInfo.data)") 上一个
                            li
                                button.btn.btn-default.navbar-btn(type="button",ng-click="vm.next(vm.clientInfo.data)",ng-show="vm.clientList.next(vm.clientInfo.data)") 下一个
                            li
                                button.btn.btn-default.navbar-btn(type="button",ng-click="vm.goToList()") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp

            //数据表单区域
            div.page-header
               h4 基本信息
            div.page-body
               div(npt-form="vm.clientFormOptions",model="vm.model.client")
            //弹出层，显示客户机构和业务员
            div#clientAdviserModal.modal.fade(tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") &times;
                            h4.modal-title 客户机构和业务员
                        div.modal-body
                            div.list-group
                                a.list-group-item(href="", ng-repeat="clientUser in vm.clientUsersIRN")
                                    h6.glyphicon.glyphicon-triangle-right.list-group-item-heading {{clientUser.userrole=="salesman"?"业务员":"专属机构"}}
                                    h5.list-group-item-text &nbsp;&nbsp;&nbsp; {{clientUser.username}}
                        div.modal-footer
                            button.btn.btn-primary(type="button", data-dismiss="modal") 确定

        //新增客户模板
        script(type="text/ng-template", id="addClient.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 客户列表
                li.active 新增客户

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 新增客户
                    div(ng-if="vm.addClient.loading()")
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="") 正在保存,请稍后...
                    div(ng-if="!vm.addClient.loading()")
                        ul.nav.navbar-nav.navbar-right
                            li
                                button.btn.btn-primary.navbar-btn(type="button",ng-disabled="vm.nptFormApi.form.$invalid", ng-click="vm.addClientSave(vm.model)") 保存
                            li
                                button.btn.btn-danger.navbar-btn(type="button",ng-click="vm.reset()") 重置
                            li
                                button.btn.btn-info.navbar-btn(type="button", ng-click="vm.goToList()") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp

            //数据表单区域
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.addClientFormOptions",model="vm.model")