//
   Created by shirley on 2015/11/3.

extends ../../layout/layout-bizpage
block titleContent
    title 客户管理
block content
    script(src="/js/biz/client/clientListGrid.js")
    script(src="/js/biz/client/clientForm.js")
    script(src="/js/biz/client/addClientForm.js")
    script(src="/js/biz/client/clientSearchForm.js")
    script(src="/js/biz/client/client.js")
    div(ng-app="clientApp")
        //内容区域
        div(ng-view)
        //功能导航区域

        //列表模板
        script(type="text/ng-template", id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        |  首页
                li.active 客户管理

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 客户列表
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#/addClient") 新增客户
                            li(ng-if="vm.clientList.loading()")
                                a(href="") 正在查询,请稍后...
                            li.dropdown(ng-if='!vm.clientList.loading()')
                                a.dropdown-toggle(href="",data-toggle="dropdown") 客户查询 - {{vm.queryName}}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="",ng-click="vm.query('全部')") 全部
                                    li
                                        a(href="", data-toggle="modal", data-target="#clientSearch") 条件查询
            //弹出层，客户条件查询表单
            div#clientSearch.modal.fade(tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-label="Close")
                                span(aria-hidden="ture")&times;
                            h4.modal-title 客户查询
                        div.modal-body
                            div.row
                                div.col-md-12
                                    div(npt-form="vm.clientSearchFormOptions",model="vm.searchModel")
                        div.modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                                button.btn.btn-primary(type="button",data-dismiss="modal", ng-click="vm.clientSearchConfirm('条件查询', vm.searchModel)") 确认

            div(npt-grid="vm.clientListGridOptions",model="vm.clientList.data")

        //详情模板
        script(type="text/ng-template", id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 客户列表
                li.active 客户详情

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 客户详情
                    ul.nav.navbar-nav.navbar-right
                        li(ng-if="!vm.clientInfo.loading() && vm.isInitInst()")
                            a(href="",ng-click="vm.initInst(vm.clientInfo.data)") 初始化机构
                        li
                            a(href="",ng-disabled="vm.nptFormApi.form.$invalid", ng-click="vm.updateClient(vm.clientInfo.data)") 保存
                        li(ng-if="vm.clientInfo.loading()")
                            a(href="") 正在查询,请稍后...
                        li(ng-if="!vm.clientInfo.loading()")
                            a(href="",ng-click="vm.previous(vm.clientInfo.data)",ng-show="vm.clientList.previous(vm.clientInfo.data)") 上一个
                        li(ng-if="!vm.clientInfo.loading()")
                            a(href="",ng-click="vm.next(vm.clientInfo.data)",ng-show="vm.clientList.next(vm.clientInfo.data)") 下一个
                        li
                            a(href="#/list") 返回

            //数据表单区域
            div.page-header
               h4 基本信息
            div.page-body
               div(npt-form="vm.clientFormOptions",model="vm.model.client")

        //新增客户模板
        script(type="text/ng-template", id="addClient.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 客户列表
                li.active 新增客户

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="") 新增客户
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="",ng-disabled="vm.nptFormApi.form.$invalid", ng-click="vm.addClient(vm.model)") 保存
                        li
                            a(href="",ng-click="vm.reset()") 重置
                        li
                            a(href="#/list") 返回

            //数据表单区域
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.addClientFormOptions",model="vm.model")