<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>顶聚科技 | 收款详情</title>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../../lib/ui-bootstrap/ui-bootstrap-custom-0.13.4-csp.css"/>
    <link rel="stylesheet" href="../../css/app.css"/>
</head>
<body class="container-fluid" data-spy="scroll" data-target="#navScrollspy">

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-1.4.5.min.js"></script>
-->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="../../lib/angular/angular.js"></script>
<script src="../../lib/angular/angular-route.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="lib/ui-bootstrap/ui-bootstrap-custom-0.13.4.min.js"></script>-->
<!--<script src="lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.13.4.min.js"></script>-->

<!--整体结构表格 -->
<div class="row">
    <!-- 当前页面导航。同时表达本页面功能名称 -->
    <div class="col-md-12">
        <ul class="breadcrumb" style="margin-bottom: 8px;">
            <li><a href="#/home"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li><a href="#/receivables/receivables-list">产品列表</a></li>
            <li class="active">产品详情</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nav class="nav navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">产品详情</p>
            </div>
            <div class="navbar-right" style="margin-right: 0px;">
                <ul class="nav navbar-nav">
                    <li><a href="#/view1">下一单</a></li>
                    <li><a data-toggle="modal" data-target="#myModal">下架</a></li>
                    <li><a href="product-list.html">返回</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="row">
<div class="col-md-10">
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h5 id="productinfo">基本信息</h5>
        </div>
        <div class="table-responsive" style="margin: 20px 20px 20px;">
            <!-- table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格 -->
            <table class="table table-striped table-bordered table-hover table-condensed "
                   style="margin-bottom: 5px;">
                <tbody>
                <tr>
                    <th class="text-center col-md-0.5">#</th>
                    <th class="text-center col-md-2.5">产品名称</th>
                    <th class="text-center col-md-1">价钱</th>
                    <th class="text-center col-md-2">产品状态</th>
                    <th class="text-center col-md-1">促销价格</th>
                    <th class="text-center col-md-2">产品类型</th>
                    <th class="text-center col-md-1">办理天数</th>
                    <th class="text-center col-md-2">操作</th>
                </tr>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">代理记账</td>
                    <td class="text-center">0</td>
                    <td class="text-center">正常</td>
                    <td class="text-center">0.0元</td>
                    <td class="text-center">服务产品</td>
                    <td class="text-center">1</td>
                    <td class="text-center">
                        <button data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample"
                                class="btn btn-default btn-sm">编辑
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <div class="collapse  col-md-10" id="collapseExample">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <!--control-label的文本采用右对齐方式并且垂直居中-->
                                    <label class="col-md-4 control-label">产品logo：</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#myModal4">选择
                                            </button>
                                        </p>
                                        <!--form-control-static 文字垂直居中-->
                                    </div>

                                    <label class="col-md-4 control-label">产品名称：</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="text"
                                                                              value="代理记账"></p>
                                    </div>

                                    <label class="col-md-4 control-label">产品价格：</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control disabled"
                                                                              type="text" value="0"></p>
                                    </div>

                                    <label class="col-md-4 control-label">服务类型：</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><select class="form-control">
                                            <option>请选择</option>
                                            <option>服务产品</option>
                                            <option>实体产品</option>
                                        </select></p>
                                    </div>

                                    <label class="col-md-4 control-label">服务天数：</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="number"
                                                                              value="1">
                                        </p>
                                    </div>


                                    <label class="col-md-4 control-label">服务详情：</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="text"
                                                                              value="为企业提供一站式税务服务。帮助企业进行经营财务账务进行记录，并完成纳税申报">
                                        </p>
                                    </div>

                                    <label class="col-md-4 control-label">详情链接：</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="text"
                                                                              value="http://120.24.84.201:9080/inst/product/manager/detail.yun9?productid=10000001519207">
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-primary ">确认</button>
                                    <button type="button" class="btn btn-default ">取消</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h5 id="servicephase">服务阶段
                <div class="pull-right"><a class="btn btn-default">添加</a></div>
            </h5>
        </div>
        <div class="table-responsive" style="margin: 20px 20px 20px;">
            <!-- table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格 -->
            <table class="table table-striped table-bordered table-hover table-condensed "
                   style="margin-bottom: 5px;">
                <tbody>
                <tr>
                    <th class="text-center col-md-0.5">#</th>
                    <th class="text-center col-md-2">阶段名称</th>
                    <th class="text-center col-md-1">阶段周期</th>
                    <th class="text-center col-md-4.5">阶段职责</th>
                    <th class="text-center col-md-1">办理天数</th>
                    <th class="text-center col-md-1">服务次数</th>
                    <th class="text-center col-md-2">操作</th>
                </tr>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">拜访</td>
                    <td class="text-center">次</td>
                    <td class="text-center">1.到客户公司拜访与法人或者主要的联系人见面2.告知客户我们公司的服务内容及流程3.告知客户签订第三方协议事项。</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center"><a data-toggle="collapse" data-target="#collapseExample2"
                                               aria-expanded="false"
                                               aria-controls="collapseExample"
                                               class="btn btn-default btn-sm">编辑</a><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="collapse  col-md-10" id="collapseExample2">
                            <form class="form-horizontal">
                                <div class="form-group ">

                                    <label class="col-md-4 control-label">阶段名称:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="text"
                                                                              value="拜访"></p>
                                    </div>

                                    <label class="col-md-4 control-label">阶段职责:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control "
                                                                              type="text" value="次"></p>
                                    </div>

                                    <label class="col-md-4 control-label">服务类型：</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><select class="form-control">
                                            <option>请选择</option>
                                            <option>服务产品</option>
                                            <option>实体产品</option>
                                        </select>
                                        </p>
                                        按次服务，自购买之日起<input class="form-control col-md-1"
                                                          value="1"/>天开始服务[格式:大于0的整数值],
                                        共提供<input class="form-control col-md-1"
                                                  value="1"/>次服务
                                    </div>

                                    <label class="col-md-4 control-label">办理天数:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="number"
                                                                              value="1">
                                        </p>
                                    </div>

                                    <label class="col-md-4 control-label">排序:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="number"
                                                                              value="1">
                                        </p>
                                    </div>

                                    <label class="col-md-4 control-label">阶段说明:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="text"
                                                                              value="介绍服务内容以及事项。">
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-primary ">确认</button>
                                    <button type="button" class="btn btn-default ">取消</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h5 id="datalist">资料清单
                <div class="pull-right"><a class="btn btn-default">添加</a></div>
            </h5>
        </div>
        <div class="table-responsive" style="margin: 20px 20px 20px;">
            <!-- table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格 -->
            <table class="table table-striped table-bordered table-hover table-condensed "
                   style="margin-bottom: 5px;">
                <tbody>
                <tr>
                    <th class="text-center col-md-0.5">#</th>
                    <th class="text-center col-md-2">资料名称</th>
                    <th class="text-center col-md-2">交接类型</th>
                    <th class="text-center col-md-3.5">资料类型</th>
                    <th class="text-center col-md-2">要求描述</th>
                    <th class="text-center col-md-2">操作</th>
                </tr>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">法人身份证号码</td>
                    <td class="text-center">电子档</td>
                    <td class="text-center">文本</td>
                    <td class="text-center"></td>
                    <td class="text-center"><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td class="text-center">法人身份证正面</td>
                    <td class="text-center">电子档</td>
                    <td class="text-center">图片</td>
                    <td class="text-center"></td>
                    <td class="text-center"><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td class="text-center">法人身份证反面</td>
                    <td class="text-center">实物</td>
                    <td class="text-center">文件</td>
                    <td class="text-center"></td>
                    <td class="text-center"><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h5 id="servicecontent">服务内容
                <div class="pull-right"><a class="btn btn-default">添加</a></div>
            </h5>
        </div>
        <div class="table-responsive" style="margin: 20px 20px 20px;">
            <!-- table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格 -->
            <table class="table table-striped table-bordered table-hover table-condensed "
                   style="margin-bottom: 5px;">
                <tbody>
                <tr>
                    <th class="text-center col-md-0.5">#</th>
                    <th class="text-center col-md-8.5">内容描述</th>
                    <th class="text-center col-md-1">排序</th>
                    <th class="text-center col-md-2">操作</th>
                </tr>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">辅助客户在银行开立基本账户</td>
                    <td class="text-center">1</td>
                    <td class="text-center"><a
                            data-toggle="collapse" data-target="#collapseExample3"
                            aria-expanded="false"
                            aria-controls="collapseExample"
                            class="btn btn-default btn-sm">编辑</a><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="collapse  col-md-10" id="collapseExample3">
                            <form class="form-horizontal">
                                <div class="form-group ">
                                    <label class="col-md-4 control-label">内容描述:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><textarea class="form-control"></textarea>
                                        </p>
                                    </div>

                                    <label class="col-md-4 control-label">排序:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="number"
                                                                              value="1">
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-primary ">确认</button>
                                    <button type="button" class="btn btn-default ">取消</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h5 id="servicegroup">服务分组
                <div class="pull-right"><a class="btn btn-default">添加</a></div>
            </h5>
        </div>
        <div class="table-responsive" style="margin: 20px 20px 20px;">
            <!-- table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格 -->
            <table class="table table-striped table-bordered table-hover table-condensed "
                   style="margin-bottom: 5px;">
                <tbody>
                <tr>
                    <th class="text-center col-md-0.5">#</th>
                    <th class="text-center col-md-2">分组图标</th>
                    <th class="text-center col-md-2.5">分组名称</th>
                    <th class="text-center col-md-1">省</th>
                    <th class="text-center col-md-1">市</th>
                    <th class="text-center col-md-1">区</th>
                    <th class="text-center col-md-1">是否置顶</th>
                    <th class="text-center col-md-1">排序</th>
                    <th class="text-center col-md-2">操作</th>
                </tr>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center"></td>
                    <td class="text-center">精选</td>
                    <td class="text-center">陕西省</td>
                    <td class="text-center">西安市</td>
                    <td class="text-center">全城</td>
                    <td class="text-center">否</td>
                    <td class="text-center">2</td>
                    <td class="text-center"><a data-toggle="collapse" data-target="#collapseExample4"
                                               aria-expanded="false"
                                               aria-controls="collapseExample"
                                               class="btn btn-default btn-sm">编辑</a><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                <tr>
                    <td colspan="9">
                        <div class="collapse  col-md-10" id="collapseExample4">
                            <form class="form-horizontal">
                                <div class="form-group ">

                                    <label class="col-md-4 control-label">分组logo:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#myModal4">选择
                                            </button>
                                        </p>

                                    </div>

                                    <label class="col-md-4 control-label">分组名称:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static">精选
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#myModal4">选择
                                            </button>
                                        </p>
                                    </div>

                                    <label class="col-md-4 control-label">是否置顶:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static">
                                            <label class="control-label"><input type="radio" name="yesorno" checked/>是
                                            </label>
                                            <label class="control-label"><input type="radio" name="yesorno"/>否 </label>
                                        </p>

                                    </div>

                                    <label class="col-md-4 control-label">排序:</label>

                                    <div class="col-md-8">
                                        <p class="form-control-static"><input class="form-control" type="number"
                                                                              value="1">
                                        </p>
                                    </div>

                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-primary ">确认</button>
                                    <button type="button" class="btn btn-default ">取消</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h5 id="serviceclassify">服务分类
                <div class="pull-right"><a class="btn btn-default">添加</a></div>
            </h5>
        </div>
        <div class="table-responsive" style="margin: 20px 20px 20px;">
            <!-- table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格 -->
            <table class="table table-striped table-bordered table-hover table-condensed "
                   style="margin-bottom: 5px;">
                <tbody>
                <tr>
                    <th class="text-center col-md-0.5">#</th>
                    <th class="text-center col-md-2">分类名称</th>
                    <th class="text-center col-md-4.5">分类编号</th>
                    <th class="text-center col-md-1">价格</th>
                    <th class="text-center col-md-2">所属服务阶段</th>
                    <th class="text-center col-md-1">排序</th>
                    <th class="text-center col-md-2">操作</th>
                </tr>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">西安市新城区</td>
                    <td class="text-center">1</td>
                    <td class="text-center">3600</td>
                    <td class="text-center"></td>
                    <td class="text-center">1</td>
                    <td class="text-center"><a
                            data-toggle="collapse" data-target="#collapseExample5"
                            aria-expanded="false"
                            aria-controls="collapseExample"
                            class="btn btn-default btn-sm">编辑</a><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                <tr>
                    <td colspan="9">
                        <div class="collapse  col-md-10" id="collapseExample5">
                            <form class="form-horizontal">
                                <div class="form-group ">

                                    <label class="col-md-2 control-label">选择分类地域:</label>

                                    <div class="col-md-10">
                                        <p class="form-control-static">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#myModal4">选择
                                            </button>
                                        </p>

                                    </div>

                                    <label class="col-md-2 control-label">分类名称:</label>

                                    <div class="col-md-4">
                                        <p class="form-control-static"><input class="form-control" type="text"
                                                                              value="西安市新城区">
                                        </p>
                                    </div>

                                    <label class="col-md-2 control-label">分类编号:</label>

                                    <div class="col-md-4">
                                        <p class="form-control-static">
                                            <input class="form-control" type="text"
                                                   value="1">
                                        </p>

                                    </div>

                                    <label class="col-md-2 control-label">价格:</label>

                                    <div class="col-md-4">
                                        <p class="form-control-static"><input class="form-control" type="number"
                                                                              value="1">
                                        </p>
                                    </div>

                                    <label class="col-md-2 control-label">排序:</label>

                                    <div class="col-md-4">
                                        <p class="form-control-static"><input class="form-control" type="number"
                                                                              value="1">
                                        </p>
                                    </div>

                                    <label class="col-md-2 control-label">所属服务阶段:</label>

                                    <div class="col-md-4">
                                        <p class="form-control-static"><select class="form-control">
                                            <option>请选择</option>
                                            <option>服务产品</option>
                                            <option>实体产品</option>
                                        </select>
                                        </p>
                                    </div>

                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-primary ">确认</button>
                                    <button type="button" class="btn btn-default ">取消</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h5 id="serviceexplain">服务说明
                <div class="pull-right"><a class="btn btn-default">添加</a></div>
            </h5>
        </div>
        <div class="table-responsive" style="margin: 20px 20px 20px;">
            <!-- table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格 -->
            <table class="table table-striped table-bordered table-hover table-condensed "
                   style="margin-bottom: 5px;">
                <tbody>
                <tr>
                    <th class="text-center col-md-0.5">#</th>
                    <th class="text-center col-md-2">标题</th>
                    <th class="text-center col-md-6.5">内容</th>
                    <th class="text-center col-md-1">类型</th>
                    <th class="text-center col-md-2">操作</th>
                </tr>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">服务内容</td>
                    <td class="text-center">（1）企业核名(2）数字证书认证 (3）企业法人营业执照 （4）企业防伪章 （5）组织机构代码证 （6）税务登记证 （7）发票章
                    </td>
                    <td class="text-center">文本</td>
                    <td class="text-center"><a
                            data-toggle="collapse" data-target="#collapseExample6"
                            aria-expanded="false"
                            aria-controls="collapseExample"
                            class="btn btn-default btn-sm">编辑</a><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                <tr>
                    <td colspan="9">
                        <div class="collapse  col-md-10" id="collapseExample6">
                            <form class="form-horizontal">
                                <div class="form-group ">

                                    <label class="col-md-2 control-label">标题:</label>

                                    <div class="col-md-4">
                                        <p class="form-control-static">
                                            <input class="form-control" type="text"
                                                   value="服务内容">
                                        </p>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-2 control-label">类型:</label>

                                    <div class="col-md-4">
                                        <p class="form-control-static"><select class="form-control">
                                            <option>请选择</option>
                                            <option>文本</option>
                                            <option>图片</option>
                                        </select>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group ">

                                    <label class="col-md-2 control-label">内容:</label>

                                    <div class="col-md-4">
                                        <p class="form-control-static"><input class="form-control" type="number"
                                                                              value="1">
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-primary ">确认</button>
                                    <button type="button" class="btn btn-default ">取消</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td class="text-center">工商注册的好处</td>
                    <td class="text-center">
                        相对于个体经营来说，公司的信誉度更高，合作机会更多；在风险承担方面，股东以其出资额为限对公司承担责任，风险有限。在政策方面，国家现在对于小微企业扶持力度较大，注册公司大势所趋。
                    </td>
                    <td class="text-center">文本</td>
                    <td class="text-center"><a
                            class="btn btn-default btn-sm">编辑</a><a
                            class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#myModal3">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>

<div class="col-md-2" id="navScrollspy">
    <div data-spy="affix" data-offset-top="200" data-offset-bottom="10">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="" data-target="#productinfo">基本信息</a></li>
            <li><a href="#servicephase">服务阶段</a></li>
            <li><a href="#datalist">资料清单</a></li>
            <li><a href="#servicecontent">服务内容</a></li>
            <li><a href="#servicegroup">服务分组</a></li>
            <li><a href="#serviceclassify">服务分类</a></li>
            <li><a href="#serviceexplain">服务说明</a></li>
        </ul>
    </div>
</div>

<!-- 弹出层 -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center">
            <div class="modal-body text-center">
                <p>确定要下架吗？</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                        data-target="#myModal2">确认
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 弹出层 -->
<div class="modal fade bs-example-modal-sm" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center">
            <div class="modal-body text-center">
                <p>更改产品状态成功！</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary " data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 弹出层 -->
<div class="modal fade bs-example-modal-sm" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center">
            <div class="modal-body text-center">
                <p>确定要删除吗！</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary " data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 弹出层 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">图片选择</h4>
            </div>
            <div class="modal-body">
                <img src="http://www.placehold.it/70x70" class="img-responsive">

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>