//
   Created by rxy on 15/10/16.

extends ../layout/layout-nav

block titleContent
    title #{title}
block content
    div.row
        div.col-md-12
            ul.breadcrumb(style="margin-bottom:8px")
                li
                    a(href="#home")
                        span.glyphicon.glyphicon-home 首页
                li
                    a(href="receivableList.jade") 收款列表
                li
                    a(href="receivableList.jade")
                 收款详情
                li.active 收款

    div.row
        div.col-md-12
            div.nav.navbar-default
                div.navbar-header
                    p.navbar-brand 收款详情
                div.navbar-right(style="margin-right: 0px;")
                    ul.nav.navbar-nav
                        li
                            a(href="") 上一单
                    ul.nav.navbar-nav
                        li
                            a(href="") 下一单
                    ul.nav.navbar-nav
                        li
                            a(data-toggle="modal" data-target="#myModal") 收款
                    ul.nav.navbar-nav
                        li
                            a(href="/receivable") 返回

    div.row
        div.col-md-10
            div.row
                div.col-md-12
                    div.page-header
                        h5#receivableinfo 基本信息
                    form.form-horizontal
                        div.form-group
                            label.col-sm-2.control-label 收款单ID:
                            div.col-sm-10
                                p.form-control-static 10000002315426

                            label.col-sm-2.control-label 购买内容:
                            div.col-sm-10
                                p.form-control-static 顶聚科技购买咨询服务

                            label.col-sm-2.control-label 付款方式:
                            div.col-sm-10
                                p.form-control-static 在线支付

                            label.col-sm-2.control-label 应收金额:
                            div.col-sm-10
                                p.form-control-static ￥1,000.00

                            label.col-sm-2.control-label 已收金额:
                            div.col-sm-10
                                p.form-control-static ￥0.00

                            label.col-sm-2.control-label 锁定金额:
                            div.col-sm-10
                                p.form-control-static ￥0.00

                            label.col-sm-2.control-label 代收款金额:
                            div.col-sm-10
                                p.form-control-static ￥1,000.00

            div.row
                div.col-md-12
                    div.page-header
                        h5#receivablesdetail 付款明细
                    div.table-responsive
                        table.table.table-striped.table-hover.table-bordered.table-condsend
                            tbody
                                tr
                                    th.text-center #
                                    th.text-center 付款金额
                                    th.text-center 付款方式
                                    th.text-center 收款人
                                    th.text-center 收款出纳
                                    th.text-center 收款状态
                                    th.text-center 付款日期
                                    th.text-center 说明
                                tr
                                    td.text-center 1
                                    td.text-center 1000
                                    td.text-center 支付宝
                                    td.text-center 黄黎
                                    td.text-center 黄黎
                                    td.text-center 等待确认
                                    td.text-center 2015-09-09 10:29:24
                                    td.text-center 支付宝安全支付

        div#navScrollspy.col-md-2
            div(data-spy="affix",data-offset-top="200" data-offset-bottom="10")
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a(href="" data-target="#receivablesinfo") 基本信息
                    li
                        a(href="#receivablesdetail") 付款明细

    div#myModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")&times;
                    h4.modal-title 收款确认
                div.modal-body
                    form.form-horizontal
                        div.form-group
                            label.col-md-3.control-label 购买内容:
                            div.col-md-9
                                p.form-control-static  顶聚科技购买咨询服务
                        div.form-group
                            label.col-md-3.control-label 付款方式:
                            div.col-md-9
                                p.form-control-static  在线支付
                        div.form-group
                            label.col-md-3.control-label 应收金额:
                            div.col-md-9
                                p.form-control-static  ￥1,000.00
                        div.form-group
                            label.col-md-3.control-label 已收金额:
                            div.col-md-9
                                p.form-control-static  ￥0.00
                        div.form-group
                            label.col-md-3.control-label 锁定金额:
                            div.col-md-9
                                p.form-control-static  ￥0.00
                        div.form-group
                            label.col-md-3.control-label 本次收款金额:
                            div.col-md-9
                                input.form-control(type="number",value="1000")
                        div.form-group
                            label.col-md-3.control-label 本次收款方式:
                            div.col-md-9
                                select.form-control
                                    option --请选择--
                                    option 支付宝
                                    option 未支付
                        div.form-group
                            label.col-md-3.control-label 收款人:
                            div.col-md-9
                                button.btn.btn-primary(type="button",data-toggle="modal",data-target="#myModal2") 选择
                        div.form-group
                            label.col-md-3.control-label 说明:
                            div.col-md-9
                                textarea.form-control
                    div.modal-footer
                        button.btn.btn-default(type="button",data-dismiss="modal") 取消
                        button.btn.btn-primary(type="button",data-dismiss="modal") 确认收款


    div#myModal2.modal.fade(tabindex="-2",role="dialog",aria-labelledby="myModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")&times;
                    h4.modal-title 选择用户
                div.modal-body
                    div.row
                        div.tree.col-md-5
                            ul
                                li
                                    span 深圳市顶聚科技有限公司
                                    ul
                                        li
                                            span 行政部
                                            span 销售部
                                            span 测试部

                        div.container-fluid.col-md-7
                            table.table.table-bordered.table-hover
                                tbody
                                    tr
                                        th.text-center #
                                        th.text-center 头像
                                        th.text-center 编号
                                        th.text-center 姓名
                                    tr
                                        td.text-center 1
                                        td.text-center
                                            img.img-responsive(src="http://www.placehold.it/30x30")
                                        td.text-center 001
                                        td.text-center 廖志祥
                                    tr
                                        td.text-center 2
                                        td.text-center
                                            img.img-responsive(src="http://www.placehold.it/30x30")
                                        td.text-center 002
                                        td.text-center 阮小玉
                                    tr
                                        td.text-center 3
                                        td.text-center
                                            img.img-responsive(src="http://www.placehold.it/30x30")
                                        td.text-center 003
                                        td.text-center 黄黎
                                    tr
                                        td.text-center 4
                                        td.text-center
                                            img.img-responsive(src="http://www.placehold.it/30x30")
                                        td.text-center 004
                                        td.text-center 黄炳龙
                    div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-primary(type="button",data-dismiss="modal") 确认


//script(type="text/javascript")
//
//    $(function () {
//        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
//        $('.tree li.parent_li > span').on('click', function (e) {
//            var children = $(this).parent('li.parent_li').find(' > ul > li');
//            if (children.is(":visible")) {
//                children.hide('fast');
//                $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
//            } else {
//                children.show('fast');
//                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
//            }
//            e.stopPropagation();
//        });
//    });



