doctype html
html(lang="zh_CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block titleContent
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
        link(rel='stylesheet',href= '/stylesheets/app.css')
    body.container-fluid(style="background-color:#445160;")
        script(src="/vendor/jQuery/jQuery-2.1.4.min.js")
        script(src="/vendor/angular/angular.min.js")
        script(src="/vendor/angular/angular-route.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.min.js")
        script(src="/js/app.js")


        div.row.table-responsive.clearfix(style="background-color:white;")
            table(style="margin:20px;")
                tr
                    td.col-md-1(rowspan="2")
                        img(src="/image/yun9logo.png",width="52.2",height="69.6")
                    td.col-md-3(style="border-right:1px solid #DCDCDC")
                        h4 深圳市顶聚科技有限公司
                    td(rowspan="2",style="padding-left:20px;")
                        h4 登录账号
                tr
                    td.col-md-2(style="border-right:1px solid #DCDCDC;")
                        h4
                            a(href="http://www.yun9.com" style="color:black;") www.yun9.com


        div.col-md-4(style="background:white;position:absolute;top:30%;left:30%;right:30% ")
            div.page-header
                h4 请输入登录信息
            div.col-md-12
                form.form-horizontal(style="padding:20px")
                    div.form-group
                        input.form-control.col-md-12(type="text",placeholder="用户名")
                    div.form-group
                        input.form-control.col-md-12(type="text",placeholder="密码")
                    div.form-group
                        span.form-control-static.col-md-6(style="padding-left:0;")
                            input(type="checkbox")
                            &nbsp;&nbsp;
                            lable 记住密码
                        span.control-label.col-md-6(style="padding-right:0;")
                            label
                                a(style="color:black;") 忘记密码?|
                                a(style="color:red;") 免费注册
                    div.form-group
                        input.btn.col-md-4(style="background:#EF3138;color:white;" type="button" value="登录")









