//
   Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage
block titleContent
    title 合同管理
block content
    script(src="/js/biz/contract/contractListGrid.js")
    script(src="/js/biz/contract/addContractForm.js")
    script(src="/vendor/plupload-2.1.2/js/plupload.full.min.js")
    script(src="/js/biz/contract/contract.js")
    div(ng-app="contractApp")
        //内容区域
        div(ng-view)

        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 合同列表
            //功能按钮区域
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#/list") 合同列表
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.queryListService.contractList.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.queryListService.contractList.loading()")
                            li.dropdown
                                a.dropdown-toggle(href="",data-toggle="dropdown") 订单查询 - {{vm.queryListService.currQuery.label}}
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat="queryItem in vm.queryListService.queryList")
                                        a(href="",ng-click="vm.queryListService.selectQuery(queryItem)") {{queryItem.label}}
                        ul.nav.navbar-nav.navbar-left
                            li
                                a(href="#/addContract") 新增合同
            div(npt-grid="vm.contractListGridOptions",model="vm.queryListService.contractList.data", npt-loading="vm.queryListService.contractList.loading()")


        //新增客户模板
        script(type="text/ng-template", id="addContract.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#list")
                        span 合同列表
                li.active 新增/编辑合同

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="") 新增/编辑合同
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-right(ng-if="vm.addContract.loading()")
                            li
                                a(href="") 正在保存,请稍后...
                        ul.nav.navbar-nav.navbar-right(ng-if="!vm.addContract.loading()")
                            li
                                a(href="",ng-disabled="vm.nptFormApi.form.$invalid", ng-click="vm.addContractSave(vm.contract)") 保存
                            li
                                a(href="",ng-click="vm.reset()") 重置
                            li
                                a(href="#/detail/{{vm.contractInfo.data.id}}") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp

            //数据表单区域
            div.page-header
                h4 基本信息
            div.page-body
                div(npt-form="vm.addContractFormOptions",model="vm.contract")

        //详情模版
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 合同列表
                li.active 合同详情
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="") 合同详情
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.contractInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.contractInfo.loading()")
                            li(ng-if="!vm.workorderInfo.loading()")
                                a(href="",ng-click="vm.previous(vm.contractInfo.data)",ng-show="vm.contractList.previous(vm.contractInfo.data)") 上一个
                            li(ng-if="!vm.orderInfo.loading()")
                                a(href="",ng-click="vm.next(vm.contractInfo.data)",ng-show="vm.contractList.next(vm.contractInfo.data)") 下一个
                            li
                                a(href="",ng-click="vm.isSend(vm.contractInfo.data.id)",ng-show="vm.isShowSend()") 送审
                            li
                                a(href="",ng-click="vm.isPass(vm.contractInfo.data.id)",ng-show="vm.isShowPass()") 通过
                            li
                                a(href="",ng-click="vm.isCancle(vm.contractInfo.data.id)",ng-show="vm.isShowCancle()") 作废
                            li
                                a(href="",ng-click="vm.isSendBack(vm.contractInfo.data.id)",ng-show="vm.isShowSendBack()") 驳回
                            li
                                a(href="#/edit/{{vm.contractInfo.data.id}}",ng-show="vm.isShowEdit()") 编辑
                            li
                                a(href="#/list") 返回
            div.page-header
                h4 基本信息
            div.page-body
                dl.dl-horizontal
                    dt 机构:
                    dd {{vm.contractInfo.data.instid | cacheFilter:'inst':'instname':'instid'}}
                    dt 项目:
                    dd {{vm.contractInfo.data.projectName}}
                    dt 专柜名称:
                    dd {{vm.contractInfo.data.shoppename}}
                    dt 经营品牌:
                    dd {{vm.contractInfo.data.trademark}}
                    dt 是否保底:
                    dd
                        span(ng-if="vm.contractInfo.data.isbase == 0") 是
                        span(ng-if="vm.contractInfo.data.isbase == 1") 否
                    dt 审核状态:
                    dd
                        strong {{vm.contractInfo.data.state | ctrlCodeFilter:'contractstate':'name':'no'}}
                    dt 租金:
                    dd {{vm.contractInfo.data.rent}}
                    dt 保底金额:
                    dd {{vm.contractInfo.data.baseamount}}
                    dt 基本扣率:
                    dd {{vm.contractInfo.data.baserate}}%
                    dt 超额扣率:
                    dd {{vm.contractInfo.data.extralbaserate}}%
                    dt 进场费:
                    dd {{vm.contractInfo.data.slottingfee}}
                    dt 保证金:
                    dd {{vm.contractInfo.data.deposit}}
                    dt 其他费用:
                    dd {{vm.contractInfo.data.other}}
                    dt 补充条款:
                    dd {{vm.contractInfo.data.clause}}
                    dt 创建日期:
                    dd {{vm.contractInfo.data.createdate | timestampFilter}}
                    dt 创建人:
                    dd {{vm.contractInfo.data.createby | cacheFilter:'user':'name':'id'}}
            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 合同附件
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.contractAttachment")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-3
                                    //h5(ng-if="item.inputtype != 'file'") {{item.attachname}}
                                    div(if="item.attachmentsn | cacheFilter:'file':'name':'id' === 'image'")
                                        a(href = "{{item.attachmentsn | cacheFilter:'file':'url':'id'}}" target="_blank") {{item.attachmentsn | cacheFilter:'file':'name':'id'}}
                                        div.thumbnail
                                            div(npt-image="item.attachmentsn" onload='if (this.width>160 || this.height>226) if (this.width/this.height>160/226) this.width=160; else this.height=226;')
                                    //a(ng-if="item.inputtype === 'file'",href = "{{item.inputvalue | cacheFilter:'file':'url':'id'}}") {{item.attachname}}

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 处理日志
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.bizContractLogs")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    h5 {{item.actionname | ctrlCodeFilter:'contractactionname':'name':'no'}}
                        div.list-group-item-text
                            dl.dl-horizontal
                                dt 操作人:
                                dd {{item.createby | cacheFilter:'user':'name':'id'}}
                                dt 附言:
                                dd {{item.remark}}
                                dt 处理时间:
                                dd {{item.createdate | timestampFilter}}


