doctype html
html(ng-app='wservice.web.home')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title &#31227;&#21150;&#36890;
        // Tell the browser to be responsive to screen width
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
        // Bootstrap 3.3.5
        link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
        // Font Awesome
        link(rel="stylesheet", href="/vendor/adminlte/plugins/font-awesome/css/font-awesome.min.css")
        // Ionicons
        link(rel="stylesheet", href="/vendor/adminlte/css/ionicons.min.css")
        // Theme style
        link(rel="stylesheet", href="/vendor/adminlte/css/AdminLTE.min.css")
        //
           AdminLTE Skins. Choose a skin from the css/skins
                   folder instead of downloading all of them to reduce the load.
        link(rel="stylesheet", href="/vendor/adminlte/css/skins/_all-skins.min.css")
        link(rel="stylesheet", href="/stylesheets/y9-red.css")
        link(rel="stylesheet", href="/stylesheets/frame.css")
        link(rel="stylesheet", href="/stylesheets/fontStyle.css")
        // 提示框样式
        link(rel="stylesheet" href="/vendor/angular-ui-notification/dist/angular-ui-notification.min.css")
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
          script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    body.hold-transition.y9-red.sidebar-mini.fixed(style="overflow-y:hidden")
        div(ng-view)
        script(src="/node_modules/jquery/dist/jquery.min.js")
        script(src="/node_modules/jquery/dist/jquery.min.js")
        script(src="/node_modules/angular/angular.min.js")
        script(src="/node_modules/angular-route/angular-route.min.js")
        script(src="/node_modules/angular-messages/angular-messages.min.js")
        script(src="/node_modules/angular-animate/angular-animate.min.js")
        script(src="/node_modules/angular-sanitize/angular-sanitize.min.js")
        script(src="/node_modules/angular-filter/dist/angular-filter.min.js")
        script(src="/vendor/angular-ui-notification/dist/angular-ui-notification.min.js")
        script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/node_modules/is_js/is.min.js")
        script(src="/node_modules/angular-ui-tree/dist/angular-ui-tree.min.js")
        script(src="/node_modules/api-check/dist/api-check.min.js")
        script(src="/node_modules/angular-formly/dist/formly.min.js")
        script(src="/node_modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js")
        script(src="/node_modules/angular-ui-grid/ui-grid.min.js")
        script(src="/node_modules/angular-ui-mask/dist/mask.min.js")
        script(src="/node_modules/angular-input-masks/releases/angular-input-masks-standalone.js")
        script(src="/node_modules/angular-ui-select/select.min.js")
        script(src="/vendor/ng-context-menu/ng-context-menu.min.js")
        script(src="/vendor/js-pinyin/pinyin.min.js")
        script(src="/node_modules/y9-neptune/dist/y9-neptune.js")

        // AdminLTE App
        script(src="/vendor/adminlte/js/app.config.js")
        script(src="/vendor/adminlte/js/app.min.js")
        script(src="/vendor/adminlte/plugins/fastclick/fastclick.min.js")
        script(src="/vendor/adminlte/plugins/slimScroll/jquery.slimscroll.min.js")
        script(src="/dist/wservice-common-1.0.0.js")
        script(src="/js/app/frame.js")
        script(type="text/ng-template",id="home.html")
            .wrapper
                header.main-header
                    // Logo
                    a.logo(href="")
                        // mini logo for sidebar mini 50x50 pixels
                        span.logo-mini
                            b(ng-bind="vm.brand.inst.simplename")
                        // logo for regular state and mobile devices
                        span.logo-lg
                            b(ng-bind="vm.brand.inst.name")
                    // Header Navbar: style can be found in header.less
                    nav.navbar.navbar-static-top(role="navigation")
                        // Sidebar toggle button
                        a.sidebar-toggle(href="javascript:void(0);", data-toggle="offcanvas", role="button")
                            span.sr-only Toggle navigation
                        // Navbar Right Menu
                        .navbar-custom-menu
                            ul.nav.navbar-nav
                                li
                                    a(href="",ng-click='vm.navigateMenu.navigateToUrl("/app/home#/dynamic")')
                                        i.fa.fa-bell-o
                                        span.label.label-warning(ng-if="vm.msgsUnRead") {{vm.msgsUnRead}}
                                li.dropdown.tasks-menu
                                    a.dropdown-toggle(href="javascript:void(0);", data-toggle="dropdown")
                                        i.fa.fa-flag-o
                                        span.label.label-danger(ng-bind="vm.unStart + vm.inService")
                                    ul.dropdown-menu
                                        li.header 您有{{(vm.unStart + vm.inService) || 0}}个工单未完成
                                        li
                                            ul.menu
                                                li
                                                    a(href="javascript:void(0);")
                                                        h3
                                                            | 未开始
                                                            small.label.label-danger.pull-right(ng-bind="vm.unStart")
                                                li
                                                    a(href="javascript:void(0);")
                                                        h3
                                                            | 处理中
                                                            span.label.label-danger.pull-right(ng-bind="vm.inService")
                                                li
                                                    a(href="javascript:void(0);")
                                                        h3
                                                            | 已完成
                                                            small.label.label-danger.pull-right(ng-bind="vm.complete")
                                li.dropdown.user.user-menu
                                    a.dropdown-toggle(href="javascript:void(0);", data-toggle="dropdown")
                                        //img.user-image(ng-src="{{session.user.iconPath}}", alt="User Image")
                                        img.user-image(npt-image="vm.profile.user.headerfileid",npt-image-options="vm.imageOptions")
                                        span.hidden-xs {{vm.profile.user.name}}
                                    ul.dropdown-menu
                                        // User image
                                        li.user-header
                                            img.img-circle(npt-image="vm.profile.user.headerfileid",npt-image-options="vm.imageOptions")
                                            p
                                                | {{vm.profile.user.name}} - {{vm.profile.inst.simplename}}
                                                small {{session.user.inst.fullName}}
                                        // Menu Body
                                        li.user-body
                                            .col-xs-4.text-center
                                                a(href="javascript:void(0);") 订单
                                            .col-xs-4.text-center
                                                a(href="javascript:void(0);") 工单
                                            .col-xs-4.text-center
                                                a(href="javascript:void(0);") 客户
                                        // Menu Footer
                                        li.user-footer
                                            .pull-left
                                                a.btn.btn-default.btn-flat(ng-click='vm.navigateMenu.navigateToUrl("/app/profile")') 个人信息
                                            .pull-right
                                                a.btn.btn-default.btn-flat(href="/auth/logout") 退出
                                // Control Sidebar Toggle Button
                // Left side column. contains the logo and sidebar
                aside.main-sidebar
                    // sidebar: style can be found in sidebar.less
                    section.sidebar
                        ul#sidebarMenu.sidebar-menu
                            li.header &#23548;&#33322;
                            li.treeview(ng-repeat='menu in vm.navigateMenu.menus',ng-class="{'active':menu.selected}")
                                a(href="javascript:void(0);")
                                    i.fa(ng-class="'icon-'+menu.no",style="font-size:19px;")
                                    span(style="font-weight:500") {{' '+menu.name}}
                                    i.fa.fa-angle-left.pull-right
                                ul.treeview-menu.menu-open
                                    li(ng-repeat='item in menu.children',ng-class="{'active':item.selected}")
                                        a(id='mno_{{item.no}}',href="javascript:void(0);", ng-click='vm.navigateMenu.navigateTo(item)',style="font-weight:500")
                                            i.fa(ng-class="'icon-'+item.no",style="font-size:20px;")
                                            | {{' '+item.name}}
                    // /.sidebar
                // Content Wrapper. Contains page content
                .content-wrapper
                    iframe(id="contentIFrame",ng-src="{{vm.navigateMenu.moduleUrl}}", frameborder="0", name="home", style="margin-left: 0px; margin-top: 0px;position:static;", width="100%")
                // /.content-wrapper
                footer.main-footer
                    .pull-right.hidden-xs
                        b Version
                        | 1.0.0
                    strong
                        | Copyright &#169; 2014-2015
                        a(href="m.yun9.com:9080") &#31227;&#21150;&#36890;
                        | .
                    | All rights reserved.
                   //Add the sidebar's background. This div must be placed
                             immediately after the control sidebar
                .control-sidebar-bg
            // ./wrapper