//
   Created by leon on 15/12/11.

extends ../layout/layout-bizpage
block titleContent
    title 动态
block content
    script(src="/js/app/home.js")
    script(src="/js/app//homeForm.js")
    div(ng-app="HomeApp")
        div(ng-view)

        script(id="dynamic.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 动态
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.reposMsgsGroup.loading()")
                            li
                                a 正在查询...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.reposMsgsGroup.loading()")
                            li
                                a(href="#/dynamic/sendMessage") 发动态
                            li
                                a(type="button", ng-click="vm.query()") 刷新动态
                            li
                                | &nbsp &nbsp &nbsp &nbsp
            div
                ul.media-list
                    li.media(ng-repeat="item in vm.model")
                        div(ng-if="item.fromtype ==='person'")
                            div.media-left
                                a(href="")
                                    img.media-object(ng-src="{{item.fromUser.url}}",style="width:64px;height:64px")
                            div.media-body
                                a.list-group-item(ng-click="vm.toDetail(item)")
                                    div.row
                                        div.col-md-10
                                            h4.media-heading {{item.fromUser.name}}
                                            small 来自 {{item.inst.simplename}}
                                            br
                                            | {{item.lastcontent}}
                                        div.col-md-2
                                            div {{item.lastmsgdate | timestampFilter}}&nbsp;
                                            div.badge(ng-if="item.unreadnum>0") {{item.unreadnum}}

                        div(ng-if="item.fromtype ==='inst'")
                            div.media-left
                                a(href="")
                                    img.media-object(ng-src="{{item.inst.logourl}}",style="width:64px;height:64px")
                            div.media-body
                                a.list-group-item(ng-click="vm.toDetail(item)")
                                    div.row
                                        div.col-md-10
                                            h4.media-heading.text-blue {{item.inst.simplename}}
                                            | {{item.lastcontent}}
                                        div.col-md-2
                                            div {{item.lastmsgdate | timestampFilter}}&nbsp;
                                            div.badge(ng-if="item.unreadnum>0") {{item.unreadnum}}


        script(id="sendMessage.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse1', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 发送动态
                    div#navbar-collapse1.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    a(href="#/dynamicInfo/{{vm.msgcardid }}") 返回

            div.panel.panel-default
                div.panel-body
                    div.row
                        div(npt-form="vm.messageFormOptions",model="vm.modelMessage")

        script(id="send2me.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse2', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.reposMsgByScene.loading()")
                            li
                                a 正在查询...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.reposMsgByScene.loading()")
                            a.navbar-brand 动态 - {{vm.modelUser.name}}
                    div#navbar-collapse2.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left(ng-if="vm.reposMsgByScene.loading()")
                               li
                                   a 正在查询...
                            ul.nav.navbar-nav.navbar-left(ng-if="!vm.reposMsgByScene.loading()")
                                li
                                    a(href="#/dynamic") 返回


            div.list-group
                a.list-group-item(href="",ng-repeat="item in vm.model",ng-click="vm.toDetail(item.msgCard)")
                    div.list-group-item-heading
                        div.row
                            div.col-md-11
                                pre(style="background:white;border:0px;") {{item.content}}
                                span(ng-repeat="subItem in item.msgCard.attachments")
                                    div(npt-image="subItem.fileId",style="width:64px;height:64px")
                                div
                                    span.glyphicon.glyphicon-map-marker(aria-hidden="true")
                                    lable(style="font-size:5px;") {{item.locationlabel}}
                            div(style="padding: 0px;margin: 0px;float: right;margin-top: -11px;",ng-if="item.state=='0'")
                                image(src="/image/new@3x.png",style="width:32px;height:32px")
                    div
                        label 最后回复消息 {{item.msgCard.comments[0].content}}


        script(id="msgcardInfo.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse3', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 消息详情
                    div#navbar-collapse3.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left(ng-if="vm.queryMsgCardInfo.loading()")
                               li
                                   a 正在查询...
                            ul.nav.navbar-nav.navbar-left(ng-if="!vm.queryMsgCardInfo.loading()")
                                li
                                    a(href="#/comment/{{vm.model.id}}")
                                        span.glyphicon.glyphicon-edit(aria-hidden="true") 评论({{vm.model.commentcount}})
                                li
                                    a(href="#/share/{{vm.model.id}}")
                                        span.glyphicon.glyphicon-share(aria-hidden="true") 转发({{vm.model.sharecount}})
                                li
                                    a(ng-click="vm.onClickPraise()")
                                        span.glyphicon.glyphicon-thumbs-up(aria-hidden="true") {{vm.praise}}({{vm.model.praisecount}})
                                li
                                    a(href="#/dynamic/{{vm.model.from}}/{{vm.model.instid}}/{{vm.model.fromtype}}") 返回


            div.panel.panel-default
                div.panel-body
                    pre(style="background:white;border:0px;")
                        lable {{vm.model.content}}
                    div
                        span.glyphicon.glyphicon-map-marker(aria-hidden="true")
                        lable(style="font-size:5px;") {{vm.model.locationlabel}}


            div.page-header
                h4 消息评论
            div.page-body
                ul.media-list
                    li.media(ng-repeat="comment in vm.model.comments")
                        div.media-left
                                a(href="")
                                    img.media-object(ng-src="{{comment.fromUser.url}}",style="width:64px;height:64px")
                            div.media-body
                                a.list-group-item
                                    div.row
                                        div.col-md-10
                                            h5 {{comment.fromUser.name}}
                                            h5 {{comment.fromUser.instsimplename}}
                                            span {{comment.content}}
                                        div.col-md-2
                                            span {{comment.createdate | timestampFilter}}

            div.page-header
                h4 消息转发
            div.page-body
                ul.media-list
                    li.media(ng-repeat="share in vm.model.shares")
                        div.media-left
                                a(href="")
                                    img.media-object(ng-src="{{share.fromUser.url}}",style="width:64px;height:64px")
                            div.media-body
                                a.list-group-item
                                    div.row
                                        div.col-md-10
                                            h5 {{share.fromUser.name}}
                                            span {{share.content}}
                                            h5  转发给 @ {{share.toUser.name}}
                                        div.col-md-2
                                            span {{share.createdate | timestampFilter}}


            div.page-header
                h4 消息点赞
            div.page-body
                ul.media-list
                    li.media(ng-repeat="praise in vm.model.praises")
                        div.media-left
                                a(href="")
                                    img.media-object(ng-src="{{praise.praiseUser.url}}",style="width:64px;height:64px")
                            div.media-body
                                a.list-group-item
                                    div.row
                                        div.col-md-10
                                            h5 {{praise.praiseUser.name}}
                                            h5 {{praise.praiseUser.instsimplename}}
                                        div.col-md-2
                                            span {{praise.createdate | timestampFilter}}



        script(id="comment.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse4', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 评论
                    div#navbar-collapse4.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    a(href="#/dynamicInfo/{{vm.msgcardid }}") 返回

            div.panel.panel-default
                div.panel-body
                    pre(style="background:white;border:0px;") {{vm.model.content}}
                    div
                        span.glyphicon.glyphicon-map-marker(aria-hidden="true")
                        lable(style="font-size:5px;") {{vm.model.locationlabel}}

                    div(npt-form="vm.commentFormOptions",model="vm.modelComment")


        script(id="share.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse5', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 转发
                    div#navbar-collapse5.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    a(href="#/dynamicInfo/{{vm.msgcardid }}") 返回

            div.panel.panel-default
                div.panel-body
                    pre(style="background:white;border:0px;") {{vm.model.content}}
                    div
                        span.glyphicon.glyphicon-map-marker(aria-hidden="true")
                        lable(style="font-size:5px;") {{vm.model.locationlabel}}

                    div(npt-form="vm.shareFormOptions",model="vm.modelShare")



