//
   Created by leon on 15/12/11.

extends ../layout/layout-bizpage
block titleContent
    title 动态
block content
    script(src="/js/app/home.js")
    script(src="/js/app//homeForm.js")
    div(ng-app="HomeApp")
        div(ng-view)

        script(id="dynamic.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 动态
                    div.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.reposMsgsGroup.loading()")
                            li
                                a 正在查询...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.reposMsgsGroup.loading()")
                            li
                                a(type="button", ng-click="vm.changePwd()") 发动态
                            li
                                a(type="button", ng-click="vm.query()") 刷新动态
                            li
                                | &nbsp &nbsp &nbsp &nbsp
            div
                ul.media-list
                    li.media(ng-repeat="item in vm.model")
                        div(ng-if="item.fromtype ==='person'")
                            div.media-left
                                a(href="")
                                    img.media-object(ng-src="{{item.fromUser.url}}",style="width:64px;height:64px")
                            div.media-body
                                a.list-group-item(ng-click="vm.toDetail(item)")
                                    span.badge(ng-if="item.unreadnum>0") {{item.unreadnum}}
                                    h4.media-heading {{item.fromUser.name}}
                                    small {{item.fromUser.instsimplename}}
                                    br
                                    | {{item.lastcontent}}

                        div(ng-if="item.fromtype ==='inst'")
                            div.media-left
                                a(href="")
                                    img.media-object(ng-src="{{item.inst.logourl}}",style="width:64px;height:64px")
                            div.media-body
                                a.list-group-item(ng-click="vm.toDetail(item)")
                                    span.badge(ng-if="item.unreadnum>0") {{item.unreadnum}}
                                    h4.media-heading.text-blue {{item.inst.simplename}}
                                    | {{item.lastcontent}}

        script(id="send2me.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 动态 - {{vm.modelUser.name}}
                    div.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    a(href="#/dynamic") 返回


            div.list-group
                a.list-group-item(href="",ng-repeat="item in vm.model",ng-click="vm.toDetail(item.msgCard)")
                    div.list-group-item-heading
                        h4 {{item.content}}
                    span(ng-repeat="subItem in item.msgCard.attachments")
                         div(npt-image="subItem.fileId",style="width:64px;height:64px")
                    div
                        label 最后回复消息 {{item.msgCard.comments[0].content}}


        script(id="msgcardInfo.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 消息详情
                    div.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    a(href="#/comment/{{vm.model.id}}") 评论
                                li
                                    a 转发
                                li
                                    a(href="") 点赞
                                li
                                    a(href="#/dynamic/{{vm.model.from}}/{{vm.model.fromtype}}") 返回


            div.panel.panel-default
                div.panel-body
                    label {{vm.model.content}}
                    div
                        label {{vm.model.locationlabel}}


            div.page-header
                h4 消息评论
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="comment in vm.model.comments")
                        div.list-group-item-heading
                            span.row
                                span.col-xs-1.col-md-1
                                    img.media-object(ng-src="{{comment.fromUser.url}}",style="width:64px;height:64px")
                                span.col-xs-9.col-md-9
                                    h5 {{comment.fromUser.name}}
                                    h5 {{comment.fromUser.instsimplename}}
                                    span {{comment.content}}
                                span.col-xs-2.col-md-2
                                    span {{comment.createdate | timestampFilter}}

            div.page-header
                h4 消息转发
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="share in vm.model.shares")
                        div.list-group-item-heading
                            span.row
                                span.col-xs-2.col-md-2
                                    img.media-object(ng-src="{{share.fromUser.url}}",style="width:64px;height:64px")
                                    h5 {{share.fromUser.name}}
                                span.col-xs-8.col-md-8
                                    spam {{share.content}}
                                    h5  转发给 @ {{share.toUser.name}}
                                span.col-xs-2.col-md-2
                                    span {{share.createdate | timestampFilter}}


            div.page-header
                h4 消息点赞
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="praise in vm.model.praises")
                        div.list-group-item-heading
                            span.row
                                span.col-xs-10.col-md-10
                                    img.media-object(ng-src="{{praise.praiseUser.url}}",style="width:64px;height:64px")
                                    h5 {{praise.praiseUser.name}}
                                    h5 {{praise.praiseUser.instsimplename}}
                                span.col-xs-2.col-md-2
                                    span {{praise.createdate | timestampFilter}}


        script(id="comment.html",type="text/ng-template")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 转发
                    div.collapse.navbar-collapse.navbar-right
                        div
                            ul.nav.navbar-nav.navbar-left
                                li
                                    a(href="#/dynamicInfo/{{vm.msgcardid }}") 返回

            div.panel.panel-default
                div.panel-body
                    label {{vm.model.content}}
                    div
                        label {{vm.model.locationlabel}}

                    div(npt-form="vm.commentFormOptions",model="vm.modelComment")



