<ul class="breadcrumb">
    <li><a href="#/home">首页</a></li>
    <li><a href="#/view2">视图2</a></li>
</ul>

<p>This is the partial for view 2.</p>
<p>
    Showing of 'interpolate' filter:
    {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<p>{{name}}</p>


<div class="row">
    <div class="col-md-12">
        <p>
            <button type="button" class="btn btn-lg btn-default">Default</button>
            <button type="button" class="btn btn-lg btn-primary">Primary</button>
            <button type="button" class="btn btn-lg btn-success">Success</button>
            <button type="button" class="btn btn-lg btn-info">Info</button>
            <button type="button" class="btn btn-lg btn-warning">Warning</button>
            <button type="button" class="btn btn-lg btn-danger">Danger</button>
            <button type="button" class="btn btn-lg btn-link">Link</button>
        </p>
    </div>
</div>