//
   Created by leon on 15/12/21.


extends ../layout/layout-bizpage
block titleContent
    title 服务文档
block content
    script(src="/js/api/doc.js")
    nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") API手册
            div#navbar-collapse.collapse.navbar-collapse.navbar-right

    div(ng-app="ServiceDocApp")
        div(ng-controller="ServiceDocController")
            div.page-header
                H3 服务目录
            div.page-body(ng-repeat="action in model")
                ul
                    li
                        a(href="#{{action.desc +'#'}}", ng-bind="action.desc")
            div(ng-repeat="action in model")
                div.page-header
                    a(name="{{action.desc+'#'}}")
                    H6 &nbsp;
                    H6 &nbsp;
                    H3(ng-bind="action.desc")
                div.page-body
                    ul
                        li 动作名称:
                            pre(ng-bind="action.name")
                        li 服务说明:
                            pre(ng-bind="action.desc")

                        li 请求参数:
                            table.table.table-bordered.table-condensed(ng-if="action.inputs.paramsDefs.length > 0")
                                thead
                                    td
                                        span 参数名称
                                    td
                                        span 参数Key
                                    td
                                        span 参数类型
                                    td
                                        span 验证规则
                                    td
                                        span 说明
                                tbody(ng-repeat="reqParam in action.inputs.paramsDefs")
                                    td(ng-bind="reqParam.label")
                                    td(ng-bind="reqParam.name")
                                    td(ng-bind="reqParam.type")
                                    td(ng-if="reqParam.validates.length")
                                        | {{reqParam.validates[0].label}} ({{reqParam.validates[0].name}})
                                    td(ng-bind="reqParam.desc")

                        li 响应参数:
                            table.table.table-bordered.table-condensed(ng-if="action.outputs.paramsDefs.length > 0")
                                thead
                                    td
                                        span 参数名称
                                    td
                                        span 参数Key
                                    td
                                        span 参数类型
                                    td
                                        span 验证规则
                                    td
                                        span 说明
                                tbody(ng-repeat="resParam in action.outputs.paramsDefs")
                                    td(ng-bind="resParam.label")
                                    td(ng-bind="resParam.name")
                                    td(ng-bind="resParam.type")
                                    td(ng-bind="resParam.validates[0].label(resParam.validates[0].name)")
                                    td(ng-bind="resParam.desc")



