//
   Created by leon on 15/12/21.


extends ../layout/layout-bizpage
block titleContent
    title 服务文档
block content
    script(src="/js/api/doc.js")
    div(ng-app="ServiceDocApp")
        div(ng-controller="ServiceDocController as vm")
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="") API手册
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#API手册顶部") 返回顶部
                            li(ng-if="queryActionList.loading()")
                                a(href="") 正在加载,请稍后...
                            li
                                | &nbsp;&nbsp;&nbsp;&nbsp;

            div.page-header
                a(name="API手册顶部")
                H3 服务目录
            div.page-body(ng-repeat="action in model")
                ul
                    li
                        a(href="#{{action.desc +'#'}}", ng-bind="action.desc")
            div(ng-repeat="action in model")
                div.page-header
                    a(name="{{action.desc+'#'}}")
                    H6 &nbsp;
                    H6 &nbsp;
                    H3(ng-bind="action.desc")
                div.page-body
                    ul
                        li 动作名称:
                            pre(ng-bind="action.name")
                        li 服务说明:
                            pre(ng-bind="action.desc")

                        li 请求参数:
                            table.table.table-bordered.table-condensed(ng-if="action.inputs.paramsDefs.length > 0")
                                thead
                                    td
                                        span 参数名称
                                    td
                                        span 参数Key
                                    td
                                        span 参数类型
                                    td
                                        span 验证规则
                                    td
                                        span 说明
                                tbody(ng-repeat="reqParam in action.inputs.paramsDefs")
                                    td(ng-bind="reqParam.label")
                                    td(ng-bind="reqParam.name")
                                    td(ng-bind="reqParam.type")
                                    td(ng-if="reqParam.validates[0].label",ng-bind="reqParam.validates[0].label+'('+reqParam.validates[0].name+')'")
                                    td(ng-if="!reqParam.validates[0].label") &nbsp;
                                    td(ng-bind="reqParam.desc")



                        li 响应参数:
                            table.table.table-bordered.table-condensed(ng-if="action.outputs.paramsDefs.length > 0")
                                thead
                                    td
                                        span 参数名称
                                    td
                                        span 参数Key
                                    td
                                        span 参数类型
                                    td
                                        span 验证规则
                                    td
                                        span 说明
                                tbody(ng-repeat="resParam in action.outputs.paramsDefs")
                                    td(ng-bind="resParam.label")
                                    td(ng-bind="resParam.name")
                                    td(ng-bind="resParam.type")
                                    td(ng-if="resParam.validates[0].label",ng-bind="resParam.validates[0].label+'('+resParam.validates[0].name+')'")
                                    td(ng-if="!resParam.validates[0].label") &nbsp;
                                    td(ng-bind="resParam.desc")

                        li 响应样例:
                            pre(ng-if="action.outputs.paramsDefs !== null && action.outputs.paramsDefs.length !== 0")
                                | {
                                |    "data":{{action.outputs.paramsDefs|docDataFilter}},
                                | }

                        li
                            ul.nav.nav-tabs(role="tablist")
                                li.active(role="presentation")
                                    a(href="#{{action.desc +'example'}}", aria-controls="example", role="tab", data-toggle="tab", aria-expanded="true") 请求样例
                                li(role="presentation")
                                    a(href="#{{action.desc +'test'}}", aria-controls="test", role="tab", data-toggle="tab") 请求测试
                            div.tab-content
                                div.tab-pane.fade.in.active(role="tabpanel", aria-labelledby="example-tab", id="{{action.desc +'example'}}")
                                    pre
                                        | {
                                        |    "token": "8fc50dd14a951318ca168e40a9fa1ec78d1110e058700c9affdbe6ab5eb6b931",
                                        |    "action":"{{action.name}}",
                                        |    "header":{},
                                        |    "data":{{action.inputs.paramsDefs|docDataFilter}}
                                        | }
                                div.tab-pane.fade(role="tabpanel", aria-labelledby="test-tab", id="{{action.desc +'test'}}")
                                    form.form-horizontal.row
                                        div.form-group(ng-repeat="reqParam in action.inputs.paramsDefs")
                                            label.col-sm-2.control-label(ng-bind="reqParam.label")
                                            div.col-sm-9
                                                input.form-control(ng-model="action.inputs.paramsDefs.model[reqParam.name]")
                                        div.col-sm-2
                                        div.col-sm-10(ng-if="!(vm.result && vm.result.$$state.status === 0)")
                                            button.btn.btn-default(ng-if="action.inputs.paramsDefs && action.inputs.paramsDefs.length",ng-click="vm.invoke(action)") 测试服务
                                        div.col-sm-10(ng-if="vm.result && vm.result.$$state.status === 0")
                                            p 正在加载，请稍后...
                                    pre(ng-if="action.inputs.paramsDefs.response") {{action.inputs.paramsDefs.response |json}}