<ul class="breadcrumb">
    <li><a href="#/home">首页</a></li>
    <li><a href="#/demo/list">列表</a></li>
</ul>

<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <ul class="list-group">

        <a class="list-group-item  active" href="">订单管理
            <div class="pull-right"><span class="badge badge-info">1</span>   <span
                    class="glyphicon glyphicon-chevron-right "></span></div>
        </a>

        <a class="list-group-item list-group-item-danger" href="">工单管理 <span
                class="pull-right glyphicon glyphicon-chevron-right"></span></a>

        <a class="list-group-item" href="">产品管理 <span
                class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        <a class="list-group-item" href="">文件管理 <span
                class="pull-right glyphicon glyphicon-chevron-right"></span></a>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        列表1
    </div>

    <ul class="list-group">

        <a class="list-group-item  active" href="">订单管理
            <div class="pull-right"><span class="badge badge-info">1</span>   <span
                    class="glyphicon glyphicon-chevron-right "></span></div>
        </a>

        <a class="list-group-item list-group-item-danger" href="">工单管理 <span
                class="pull-right glyphicon glyphicon-chevron-right"></span></a>

        <a class="list-group-item" href="">产品管理 <span
                class="pull-right glyphicon glyphicon-chevron-right"></span></a>
        <a class="list-group-item" href="">文件管理 <span
                class="pull-right glyphicon glyphicon-chevron-right"></span></a>
    </ul>

</div>

<div class="panel panel-info">
    <div class="panel-heading">
        列表2
    </div>

    <div class="panel-body">
        <ul class="list-group">
            <a class="list-group-item" href="">
                <h4>黄黎</h4>

                <p>这个功能很不错，可以开发成消息对话列表 <span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>时代共赢</h4>

                <p>订单提醒。2015年9月7日<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>顶聚科技</h4>

                <p>请假申请.<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>黄黎</h4>

                <p>这个功能很不错，可以开发成消息对话列表 <span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>时代共赢</h4>

                <p>订单提醒。2015年9月7日<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>顶聚科技</h4>

                <p>请假申请.<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>黄黎</h4>

                <p>这个功能很不错，可以开发成消息对话列表 <span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>时代共赢</h4>

                <p>订单提醒。2015年9月7日<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>顶聚科技</h4>

                <p>请假申请.<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>黄黎</h4>

                <p>这个功能很不错，可以开发成消息对话列表 <span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>时代共赢</h4>

                <p>订单提醒。2015年9月7日<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>顶聚科技</h4>

                <p>请假申请.<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>黄黎</h4>

                <p>这个功能很不错，可以开发成消息对话列表 <span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>时代共赢</h4>

                <p>订单提醒。2015年9月7日<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>

            <a class="list-group-item" href="">
                <h4>顶聚科技</h4>

                <p>请假申请.<span class="pull-right glyphicon glyphicon-chevron-right "></span></p>
            </a>
        </ul>
    </div>

</div>
