//Created by Leon on 15/10/15.

extends ../layout/layout-bizpage
block titleContent
    title 航线规划
block content
    script(src="/js/ax/axAirlinePlanTask.js")
    script(src="/js/ax/axAirlinePlanTaskForm.js")
    script(src="/vendor/plupload-2.1.2/js/plupload.full.min.js")
    div(ng-app="AXAirlinePlanTaskApp")
        //内容区域
        div(ng-view)
            //列表模板
        script(type="text/ng-template",id="form.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 航线规划
                                          //功能导航
            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="") 航线规划
                    #navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.workorderInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.workorderInfo.loading()")
                            li
                                a(ng-click="vm.startWorkorder()",ng-show="vm.showStart();") 开始任务
                            li
                                a(ng-click="vm.completeWorkorder()",ng-show="vm.showComplete();") 完成任务
                            li
                                a(ng-click="vm.query()") 刷新任务
            div.panel.panel-default
                div.panel-heading
                    span 请核对以下任务信息!
                div.panel-body
                    dl.dl-horizontal
                        dt 任务编号:
                        dd {{vm.model.workOrder.sn}}
                        dt 任务名称:
                        dd {{vm.model.workOrder.name}}
                        dt 客户机构:
                        dd {{vm.model.workOrder.clientinstid | cacheFilter:'inst':'instname':'instid'}}
                        dt 任务来源:
                        dd {{vm.model.workOrder.source | ctrlCodeFilter:'sourcetype':'name':'no'}}
                        dt 任务描述:
                        dd {{vm.model.workOrder.descr}}
                        dt 任务状态:
                        dd
                            strong {{vm.model.workOrder.state | ctrlCodeFilter:'workstate':'name':'no'}}
                        dt 分配人:
                        dd {{vm.model.workOrder.processid | cacheFilter:'user':'name':'id'}}
                        dt 处理人:
                        dd {{vm.model.workOrder.assignedid | cacheFilter:'user':'name':'id'}}
                        dt 分配日期:
                        dd {{vm.model.workOrder.assigneddate | timestampFilter}}
                        dt 计划开始日期:
                        dd {{vm.model.workOrder.processdate | timestampFilter:"yyyy-MM-dd"}}
                        dt 实际开始日期:
                        dd {{vm.model.workOrder.doactiondate | timestampFilter}}
                        dt 计划完成日期:
                        dd {{vm.model.workOrder.expirydate | timestampFilter:"yyyy-MM-dd"}}
                        dt 职责:
                        dd {{vm.model.workOrder.duty | timestampFilter}}
                        dt 创建日期:
                        dd {{vm.model.workOrder.createdate | timestampFilter}}

            div.page-header(ng-show="vm.showAireLine();")
                div.row
                    div.col-xs-6.col-md-6
                        h4 航线列表
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelLine")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-6
                                    h5 {{item.state | ctrlCodeFilter:'workstate':'name':'no'}}
                                    h5 {{item.data}}
                        div.list-group-item-text
                            h5 {{item.createdate | timestampFilter}}
                            span {{item.remark}}

            div(npt-form="vm.aXAirlinePlanTaskOptions",model="vm.airLinePlan",ng-show="vm.show();")
            div(npt-form="vm.aXAirlinePlanTask2Options",model="vm.airLinePlan",ng-show="vm.showStart();")


        script(type="text/ng-template",id="error.html")
            div.jumbotron
                h1 航线规划不存在
                a.btn.btn-primary.btn-lg(href="/app/home",role="button") 首页