//
   Created by Leon on 15/10/15.

extends ../layout/layout-bizpage

block titleContent
    title 开始任务
block content
    script(src="/js/ax/beginTask.js")
    script(src="/js/biz/workorder/workorderForm.js")
    script(src="/js/biz/workorder/workorderAttachmentGrid.js")
    script(src="/js/biz/workorder/workorderCommentGrid.js")
    div(ng-app="AXBeginTaskApp")
        //内容区域
        div(ng-view)

        //列表模板
        script(type="text/ng-template",id="form.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 开始任务

            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 开始任务
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.workorderInfo.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.workorderInfo.loading()")
                            li
                                a(ng-click="vm.startWorkorder()",ng-show="vm.show();") 开始任务
                            li
                                a(ng-click="vm.nptFormApi.reset()",ng-show="vm.show();") 重置
                            li
                                a(ng-click="vm.query()") 刷新任务

            div.panel.panel-default
                div.panel-heading
                    span 请核对以下工单信息!
                div.panel-body
                    dl.dl-horizontal
                        dt 工单编号:
                        dd {{vm.model.workOrder.sn}}
                        dt 工单名称:
                        dd {{vm.model.workOrder.name}}
                        dt 客户机构:
                        dd {{vm.model.workOrder.clientinstid | cacheFilter:'inst':'instname':'instid'}}
                        dt 工单来源:
                        dd {{vm.model.workOrder.source | ctrlCodeFilter:'sourcetype':'name':'no'}}
                        dt 工单描述:
                        dd {{vm.model.workOrder.descr}}
                        dt 工单状态:
                        dd
                            strong {{vm.model.workOrder.state | ctrlCodeFilter:'workstate':'name':'no'}}
                        dt 分配人:
                        dd {{vm.model.workOrder.processid | cacheFilter:'user':'name':'id'}}
                        dt 处理人:
                        dd {{vm.model.workOrder.assignedid | cacheFilter:'user':'name':'id'}}
                        dt 分配日期:
                        dd {{vm.model.workOrder.assigneddate | timestampFilter}}
                        dt 计划开始日期:
                        dd {{vm.model.workOrder.processdate | timestampFilter:"yyyy-MM-dd"}}
                        dt 实际开始日期:
                        dd {{vm.model.workOrder.doactiondate | timestampFilter}}
                        dt 计划完成日期:
                        dd {{vm.model.workOrder.expirydate | timestampFilter:"yyyy-MM-dd"}}
                        dt 职责:
                        dd {{vm.model.workOrder.duty | timestampFilter}}
                        dt 创建日期:
                        dd {{vm.model.workOrder.createdate | timestampFilter}}

            div(npt-form="vm.startWorkorderOptions",model="vm.postscript")


        //详情模版
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li
                    a(href="#/list")
                        span 工单列表
                li.active 工单详情
            nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
                div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href="#") 工单详情
            div.page-header
                h4 基本信息
            div.page-body
                dl.dl-horizontal
                    dt 工单编号:
                    dd {{vm.workorderInfo.data.workOrder.sn}}
                    dt 工单名称:
                    dd {{vm.workorderInfo.data.workOrder.name}}
                    dt 客户机构:
                    dd {{vm.workorderInfo.data.workOrder.clientinstid | cacheFilter:'inst':'instname':'instid'}}
                    dt 工单来源:
                    dd
                        div(ng-if="vm.workorderInfo.data.workOrder.source == 'so'")
                            a(href="/biz/order/#detail/{{vm.workorderInfo.data.workOrder.sourcevalue}}" target="_blank") {{vm.workorderInfo.data.workOrder.source | ctrlCodeFilter:'sourcetype':'name':'no'}}
                        div(ng-if="!vm.workorderInfo.data.workOrder.source == 'so'") {{vm.workorderInfo.data.workOrder.source | ctrlCodeFilter:'sourcetype':'name':'no'}}
                    dt 工单描述:
                    dd {{vm.workorderInfo.data.workOrder.descr}}
                    dt 工单状态:
                    dd
                        strong {{vm.workorderInfo.data.workOrder.state | ctrlCodeFilter:'workstate':'name':'no'}}
                    dt 分配人:
                    dd {{vm.workorderInfo.data.workOrder.assignedid | cacheFilter:'user':'name':'id'}}
                    dt 处理人:
                    dd {{vm.workorderInfo.data.workOrder.processid | cacheFilter:'user':'name':'id'}}
                    dt 分配日期:
                    dd {{vm.workorderInfo.data.workOrder.assigneddate | timestampFilter}}
                    dt 计划开始日期:
                    dd {{vm.workorderInfo.data.workOrder.processdate | timestampFilter:"yyyy-MM-dd"}}
                    dt 实际开始日期:
                    dd {{vm.workorderInfo.data.workOrder.doactiondate | timestampFilter}}
                    dt 计划完成日期:
                    dd {{vm.workorderInfo.data.workOrder.expirydate | timestampFilter:"yyyy-MM-dd"}}
                    dt 实际完成日期:
                    dd {{vm.workorderInfo.data.workOrder.completedate | timestampFilter}}
                    dt 职责:
                    dd {{vm.workorderInfo.data.workOrder.duty | timestampFilter}}
                    dt 创建日期:
                    dd {{vm.workorderInfo.data.workOrder.createdate | timestampFilter}}
            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 工单资料
            div.page-body
                div.list-group
                    div.list-group-item(ng-repeat="item in vm.modelAttachment")
                        div.list-group-item-heading
                            div.row
                                div.col-xs-6.col-md-3
                                    //h5(ng-if="item.inputtype != 'file'") {{item.attachname}}
                                    div(ng-if="item.inputtype === 'image'")
                                        a(href = "{{item.inputvalue | cacheFilter:'file':'url':'id'}}" target="_blank") {{item.attachname}}
                                        div.thumbnail
                                            div(npt-image="item.inputvalue" onload='if (this.width>160 || this.height>226) if (this.width/this.height>160/226) this.width=160; else this.height=226;')
                                    div(ng-if="item.inputtype === 'text'")
                                        h5 {{item.attachname}}
                                        p {{item.inputvalue}}
                                    a(ng-if="item.inputtype === 'file'",href = "{{item.inputvalue | cacheFilter:'file':'url':'id'}}") {{item.attachname}}
                        div.list-group-item-text

                            p 资料交接类型:{{item.transfertype | ctrlCodeFilter:'transfertype':'name':'no'}}
                            p 资料类型:{{item.inputtype | ctrlCodeFilter:'inputtype':'name':'no'}}

            div.page-header
                div.row
                    div.col-xs-6.col-md-6
                        h4 工单评论
            div.page-body(ng-if="vm.modelComment")
                div.media
                    div.media-left
                        a(href="")
                            img.media-object(ng-src="{{vm.commentUserUrl}}",style="width:64px;height:64px")
                    div.media-body
                        a.list-group-item
                            h4.media-heading {{vm.modelComment.senderid | cacheFilter:'user':'name':'id'}}
                            | {{vm.modelComment.commenttext}}
                            div.text-right {{vm.modelComment.createdate | timestampFilter}}

                        ul.media.media-list(ng-repeat="item in vm.modelComment.addcomments")
                            li.media
                                div.media-left
                                    img.media-object(ng-src="{{vm.commentUserUrl}}",style="width:64px;height:64px")
                                div.media-body
                                    a.list-group-item
                                        div.media-heading
                                            h4 {{item.senderid | cacheFilter:'user':'name':'id'}}
                                            | {{item.commenttext}}
                                            div.text-right {{item.createdate | timestampFilter}}

