//
   Created by rxy on 16/1/20.

extends ../layout/layout-bizpage
block titleContent
    title 任务列表
block content
    script(src="/js/ax/FlightTask.js")
    div(ng-app="FlightTaskApp")
        //内容区域
        div(ng-view)
        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        span 首页
                li.active 任务列表
            //功能导航
            nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") 任务列表
                    div#navbar-collapse.collapse.navbar-collapse.navbar-right
                        ul.nav.navbar-nav.navbar-left(ng-if="vm.queryService.flightTaskList.loading()")
                            li
                                a(href="") 正在查询,请稍后...
                        ul.nav.navbar-nav.navbar-left(ng-if="!vm.queryService.flightTaskList.loading()")
                            li.dropdown
                                a.dropdown-toggle(href="",data-toggle="dropdown") 任务查询 - {{vm.queryService.currQuery.label}}
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat="queryItem in vm.queryService.queryList")
                                        a(href="",ng-click="vm.queryService.selectQuery(queryItem)") {{queryItem.label}}


            div
                ul.media-list

                    li.media(ng-repeat="item in vm.queryService.flightTaskList.data",ng-init="vm.doTask(item.id,item.no)")
                        div.media-body
                            div.list-group-item
                                div.row
                                    div.col-md-10
                                        p {{item.name}}
                                    div.col-md-2
                                        p.pull-right {{item.createdate | timestampFilter}}
                                div.row
                                    div.col-md-10
                                        p {{item.state | ctrlCodeFilter:'workstate':'name':'no'}}
                                    div.col-md-2
                                        a.btn.btn-primary.btn-sm.pull-right(href="{{vm.url[item.id]}}",target="_blank") 办理
                                div.row
                                    div.col-md-12
                                        p {{item.duty}}