//
   Created by Shirley on 2015/11/24.

extends ../../layout/layout-bizpage

block content
    script(src="/js/biz/file.js")
    script(src="/js/store/form/file.js")
    div(ng-app="fileApp")
        div(ng-view)
        script(type="text/ng-template", id="material.html")
            div.row
                .col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                | 首页
                        li.active 文件管理
                        li.active 素材管理
        script(type="text/ng-template", id="systemFile.html")
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                | 首页
                        li.active 文件管理
                        li.active 系统文件
            div.row
                div.col-md-12.breadcrumb
                    form.navbar-form
                        span.pull-left.h4 素材文件
                        a.btn.btn-default.pull-right 刷新
                        span.pull-right &nbsp;
                        a.btn.btn-default.pull-right(type="button",ng-click="open()") 选择图片
            div.row
                div.col-md-12
                    div(npt-select-image="selectImageOptions")
                    hr
                    h3 异步加载的图片
                    div(npt-image="10000001549032",npt-image-options="imageOptions")
                    hr
                    div.row()
                        div.col-md-3(ng-repeat="image in selected")
                            div(npt-image="image.file.id")
                    h3 选择的图片
                    div
                        pre {{selected | json}}
        script(type="text/ng-template", id="userFile.html")
            div.row
                .col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                | 首页
                        li.active 文件管理
                        li.active 用户文件