doctype html
html(ng-app='wsweb')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title &#31227;&#21150;&#36890;
        // Tell the browser to be responsive to screen width
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
        // Bootstrap 3.3.5
        link(rel="stylesheet", href="vendor/bootstrap/css/bootstrap.min.css")
        // Font Awesome
        link(rel="stylesheet", href="vendor/adminlte/plugins/font-awesome/css/font-awesome.min.css")
        // Ionicons
        link(rel="stylesheet", href="vendor/adminlte/css/ionicons.min.css")
        // Theme style
        link(rel="stylesheet", href="vendor/adminlte/css/AdminLTE.min.css")
        //
           AdminLTE Skins. Choose a skin from the css/skins
                   folder instead of downloading all of them to reduce the load. 
        link(rel="stylesheet", href="vendor/adminlte/css/skins/_all-skins.min.css")
        link(rel="stylesheet", href="stylesheets/y9-red.css")

        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
          script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    body.hold-transition.y9-red.sidebar-mini.fixed
        .wrapper(ng-controller='launchCtrl as launchCtrl')
            header.main-header
                // Logo
                a.logo(href="/")
                    // mini logo for sidebar mini 50x50 pixels
                    span.logo-mini
                        b(ng-bind='session.inst.pingyin')
                    // logo for regular state and mobile devices
                    span.logo-lg
                        b(ng-bind='session.inst.shotName')
                // Header Navbar: style can be found in header.less
                nav.navbar.navbar-static-top(role="navigation")
                    // Sidebar toggle button
                    a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
                        span.sr-only Toggle navigation
                    // Navbar Right Menu
                    .navbar-custom-menu
                        ul.nav.navbar-nav
                            // Messages: style can be found in dropdown.less
                            li.dropdown.messages-menu
                                a.dropdown-toggle(href="#", data-toggle="dropdown")
                                    i.fa.fa-envelope-o
                                    span.label.label-success 4
                                ul.dropdown-menu
                                    li.header You have 4 messages
                                    li
                                        // inner menu: contains the actual data
                                        ul.menu
                                            li
                                                // start message
                                                a(href="#")
                                                    .pull-left
                                                        img.img-circle(src="vendor/adminlte/img/user2-160x160.jpg", alt="User Image")
                                                    h4
                                                        | Support Team
                                                        small
                                                            i.fa.fa-clock-o
                                                            | 5 mins
                                                    p Why not buy a new awesome theme?
                                            // end message
                                            li
                                                a(href="#")
                                                    .pull-left
                                                        img.img-circle(src="vendor/adminlte/img/user3-128x128.jpg", alt="User Image")
                                                    h4
                                                        | AdminLTE Design Team
                                                        small
                                                            i.fa.fa-clock-o
                                                            | 2 hours
                                                    p Why not buy a new awesome theme?
                                            li
                                                a(href="#")
                                                    .pull-left
                                                        img.img-circle(src="vendor/adminlte/img/user4-128x128.jpg", alt="User Image")
                                                    h4
                                                        | Developers
                                                        small
                                                            i.fa.fa-clock-o
                                                            | Today
                                                    p Why not buy a new awesome theme?
                                            li
                                                a(href="#")
                                                    .pull-left
                                                        img.img-circle(src="vendor/adminlte/img/user3-128x128.jpg", alt="User Image")
                                                    h4
                                                        | Sales Department
                                                        small
                                                            i.fa.fa-clock-o
                                                            | Yesterday
                                                    p Why not buy a new awesome theme?
                                            li
                                                a(href="#")
                                                    .pull-left
                                                        img.img-circle(src="vendor/adminlte/img/user4-128x128.jpg", alt="User Image")
                                                    h4
                                                        | Reviewers
                                                        small
                                                            i.fa.fa-clock-o
                                                            | 2 days
                                                    p Why not buy a new awesome theme?
                                    li.footer
                                        a(href="#") See All Messages
                            // Notifications: style can be found in dropdown.less
                            li.dropdown.notifications-menu
                                a.dropdown-toggle(href="#", data-toggle="dropdown")
                                    i.fa.fa-bell-o
                                    span.label.label-warning 10
                                ul.dropdown-menu
                                    li.header You have 10 notifications
                                    li
                                        // inner menu: contains the actual data
                                        ul.menu
                                            li
                                                a(href="#")
                                                    i.fa.fa-users.text-aqua
                                                    | 5 new members joined today
                                            li
                                                a(href="#")
                                                    i.fa.fa-warning.text-yellow
                                                    | Very long description here that may not fit into the page and may cause design problems
                                            li
                                                a(href="#")
                                                    i.fa.fa-users.text-red
                                                    | 5 new members joined
                                            li
                                                a(href="#")
                                                    i.fa.fa-shopping-cart.text-green
                                                    | 25 sales made
                                            li
                                                a(href="#")
                                                    i.fa.fa-user.text-red
                                                    | You changed your username
                                    li.footer
                                        a(href="#") View all
                            // Tasks: style can be found in dropdown.less
                            li.dropdown.tasks-menu
                                a.dropdown-toggle(href="#", data-toggle="dropdown")
                                    i.fa.fa-flag-o
                                    span.label.label-danger 9
                                ul.dropdown-menu
                                    li.header You have 9 tasks
                                    li
                                        // inner menu: contains the actual data
                                        ul.menu
                                            li
                                                // Task item
                                                a(href="#")
                                                    h3
                                                        | Design some buttons
                                                        small.pull-right 20%
                                                    .progress.xs
                                                        .progress-bar.progress-bar-aqua(style="width: 20%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                                                            span.sr-only 20% Complete
                                            // end task item
                                            li
                                                // Task item
                                                a(href="#")
                                                    h3
                                                        | Create a nice theme
                                                        small.pull-right 40%
                                                    .progress.xs
                                                        .progress-bar.progress-bar-green(style="width: 40%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                                                            span.sr-only 40% Complete
                                            // end task item
                                            li
                                                // Task item
                                                a(href="#")
                                                    h3
                                                        | Some task I need to do
                                                        small.pull-right 60%
                                                    .progress.xs
                                                        .progress-bar.progress-bar-red(style="width: 60%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                                                            span.sr-only 60% Complete
                                            // end task item
                                            li
                                                // Task item
                                                a(href="#")
                                                    h3
                                                        | Make beautiful transitions
                                                        small.pull-right 80%
                                                    .progress.xs
                                                        .progress-bar.progress-bar-yellow(style="width: 80%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
                                                            span.sr-only 80% Complete
                                            // end task item
                                    li.footer
                                        a(href="#") View all tasks
                            // User Account: style can be found in dropdown.less
                            li.dropdown.user.user-menu
                                a.dropdown-toggle(href="#", data-toggle="dropdown")
                                    img.user-image(ng-src="{{session.user.iconPath}}", alt="User Image")
                                    span.hidden-xs {{session.user.name}}
                                ul.dropdown-menu
                                    // User image
                                    li.user-header
                                        img.img-circle(ng-src="{{session.user.iconPath}}", alt="User Image")
                                        p
                                            | {{session.user.name}} - {{session.inst.shotName}}
                                            small {{session.inst.fullName}}
                                    // Menu Body
                                    li.user-body
                                        .col-xs-4.text-center
                                            a(href="#") 订单
                                        .col-xs-4.text-center
                                            a(href="#") 工单
                                        .col-xs-4.text-center
                                            a(href="#") 客户
                                    // Menu Footer
                                    li.user-footer
                                        .pull-left
                                            a.btn.btn-default.btn-flat(href="#") 个人信息
                                        .pull-right
                                            a.btn.btn-default.btn-flat(href="#") 退出
                            // Control Sidebar Toggle Button
                            // 临时屏蔽设置tab
                            li(style='display:none')
                                a(href="#", data-toggle="control-sidebar")
                                    i.fa.fa-gears
                #message_alert(style='position: absolute;z-index: 999')
            // Left side column. contains the logo and sidebar
            aside.main-sidebar
                // sidebar: style can be found in sidebar.less
                section.sidebar
                    // Sidebar user panel
                    .user-panel
                        .pull-left.image
                            img.img-circle(ng-src="{{session.user.iconPath}}", alt="User Image")
                        .pull-left.info
                            p {{session.user.name}}
                            a(href="#", title="{{session.inst.fullName}}") {{session.inst.shotName}}
                    // search form
                    form.sidebar-form(action="#", method="get")
                        .input-group
                            input.form-control(type="text", name="q", placeholder="Search...")
                            span.input-group-btn
                                button#search-btn.btn.btn-flat(type="submit", name="search")
                                    i.fa.fa-search
                    // /.search form
                    // sidebar menu: : style can be found in sidebar.less
                    ul#sidebarMenu.sidebar-menu
                        li.header &#23548;&#33322;
                        li.treeview(ng-repeat='menu in menus')
                            a(href="#")
                                i.fa.fa-files-o
                                span {{menu.name}}
                                i.fa.fa-angle-left.pull-right
                            ul.treeview-menu.menu-open(style="display: none;")
                                li(ng-repeat='item in menu.navigationItems')
                                    a(id='mno_{{item.no}}',href="#", ng-click='launchCtrl.navigateTo(item.no)')
                                        i.fa.fa-circle-o
                                        | {{item.name}}
                // /.sidebar
            // Content Wrapper. Contains page content
            .content-wrapper
                section.content-header(style="padding:0px",ng-if='!singleWindow')
                    ul.nav.nav-tabs
                        li(ng-repeat='sub in tabs',id='{{sub.sid}}_li',ng-click='launchCtrl.changeTab(sub.menuNo)',ng-show='sub.menuNo',role='presentation')
                            a(href="#") {{sub.name}}
                                span.glyphicon.glyphicon-remove(ng-click='launchCtrl.closeWindow(sub.menuNo,$event)')
                section.content(style="padding:0px")
                    div.embed-responsive.embed-responsive-4by3
                        iframe.embed-responsive-item(ng-repeat='sub in iframes',id='{{sub.sid}}')
            // /.content-wrapper
            footer.main-footer
                .pull-right.hidden-xs
                    b Version
                    | 1.0.0
                strong
                    | Copyright &#169; 2014-2015
                    a(href="m.yun9.com:9080") &#31227;&#21150;&#36890;
                    | .
                | All rights reserved.
            // Control Sidebar
            aside.control-sidebar.control-sidebar-dark
                // Create the tabs
                ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
                    li
                        a(href="#control-sidebar-home-tab", data-toggle="tab")
                            i.fa.fa-home
                    li
                        a(href="#control-sidebar-settings-tab", data-toggle="tab")
                            i.fa.fa-gears
                // Tab panes
                .tab-content
                    // Home tab content
                    #control-sidebar-home-tab.tab-pane.active
                        h3.control-sidebar-heading Recent Activity
                        ul.control-sidebar-menu
                            li
                                a(href="javascript::;")
                                    i.menu-icon.fa.fa-birthday-cake.bg-red
                                    .menu-info
                                        h4.control-sidebar-subheading Langdon"s Birthday
                                        p Will be 23 on April 24th
                            li
                                a(href="javascript::;")
                                    i.menu-icon.fa.fa-user.bg-yellow
                                    .menu-info
                                        h4.control-sidebar-subheading Frodo Updated His Profile
                                        p New phone +1(800)555-1234
                            li
                                a(href="javascript::;")
                                    i.menu-icon.fa.fa-envelope-o.bg-light-blue
                                    .menu-info
                                        h4.control-sidebar-subheading Nora Joined Mailing List
                                        p nora@example.com
                            li
                                a(href="javascript::;")
                                    i.menu-icon.fa.fa-file-code-o.bg-green
                                    .menu-info
                                        h4.control-sidebar-subheading Cron Job 254 Executed
                                        p Execution time 5 seconds
                        // /.control-sidebar-menu
                        h3.control-sidebar-heading Tasks Progress
                        ul.control-sidebar-menu
                            li
                                a(href="javascript::;")
                                    h4.control-sidebar-subheading
                                        | Custom Template Design
                                        span.label.label-danger.pull-right 70%
                                    .progress.progress-xxs
                                        .progress-bar.progress-bar-danger(style="width: 70%")
                            li
                                a(href="javascript::;")
                                    h4.control-sidebar-subheading
                                        | Update Resume
                                        span.label.label-success.pull-right 95%
                                    .progress.progress-xxs
                                        .progress-bar.progress-bar-success(style="width: 95%")
                            li
                                a(href="javascript::;")
                                    h4.control-sidebar-subheading
                                        | Laravel Integration
                                        span.label.label-warning.pull-right 50%
                                    .progress.progress-xxs
                                        .progress-bar.progress-bar-warning(style="width: 50%")
                            li
                                a(href="javascript::;")
                                    h4.control-sidebar-subheading
                                        | Back End Framework
                                        span.label.label-primary.pull-right 68%
                                    .progress.progress-xxs
                                        .progress-bar.progress-bar-primary(style="width: 68%")
                        // /.control-sidebar-menu
                    // /.tab-pane
                    // Settings tab content
                    #control-sidebar-settings-tab.tab-pane
                        form(method="post")
                            h3.control-sidebar-heading General Settings
                            .form-group
                                label.control-sidebar-subheading
                                    | Report panel usage
                                    input.pull-right(type="checkbox", checked="")
                                p
                                    | Some information about this general settings option
                            // /.form-group
                            .form-group
                                label.control-sidebar-subheading
                                    | Allow mail redirect
                                    input.pull-right(type="checkbox", checked="")
                                p
                                    | Other sets of options are available
                            // /.form-group
                            .form-group
                                label.control-sidebar-subheading
                                    | Expose author name in posts
                                    input.pull-right(type="checkbox", checked="")
                                p
                                    | Allow the user to show his name in blog posts
                            // /.form-group
                            h3.control-sidebar-heading Chat Settings
                            .form-group
                                label.control-sidebar-subheading
                                    | Show me as online
                                    input.pull-right(type="checkbox", checked="")
                            // /.form-group
                            .form-group
                                label.control-sidebar-subheading
                                    | Turn off notifications
                                    input.pull-right(type="checkbox")
                            // /.form-group
                            .form-group
                                label.control-sidebar-subheading
                                    | Delete chat history
                                    a.text-red.pull-right(href="javascript::;")
                                        i.fa.fa-trash-o
                            // /.form-group
                    // /.tab-pane
            // /.control-sidebar
            //
               Add the sidebar's background. This div must be placed
                         immediately after the control sidebar 
            .control-sidebar-bg
        // ./wrapper
        // jQuery 2.1.4
        script(src="vendor/jQuery/jQuery-2.1.4.min.js")
        // Bootstrap 3.3.5
        script(src="vendor/bootstrap/js/bootstrap.min.js")
        // AdminLTE App
        script(src="vendor/adminlte/js/app.config.js")
        script(src="vendor/adminlte/js/app.min.js")
        script(src="vendor/adminlte/plugins/fastclick/fastclick.min.js")
        script(src="vendor/adminlte/plugins/slimScroll/jquery.slimscroll.min.js")
        // angular框架启动
        script(src="vendor/angular/angular.min.js")
        script(src="vendor/angular/angular-resource.min.js")
        script(src="vendor/angular/angular-route.min.js")
        script(src="vendor/store/store.min.js")
        script(src="js/services/main.js")
        script(src="js/services/menus.js")
        script(src="js/services/session.js")
        script(src="js/app.js")
        // 导航
        script(src="js/navigation.js")
        // 消息框
        script(src="js/message.js")
