//
   Created by huangbinglong on 16/1/21.

extends ../layout/layout-bizpage
block titleContent
   title  年会抽奖
block content
   script(src="/js/admin/raphael.js")
   script(src="/js/admin/roulette.js")
   div

