//
   Created by Leon on 15/10/15.

extends ../layout/layout

block titleContent
    title 错误

block content
    div.jumbotron
        h1 Oops~ 出错了.
        p 错误类型:#{status}
        p #{message}
        a.btn.btn-primary.btn-lg(href="/app/home",role="button") 首页
