@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?kvao3n');
    src:    url('../fonts/icomoon.eot?kvao3n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kvao3n') format('truetype'),
    url('../fonts/icomoon.woff?kvao3n') format('woff'),
    url('../fonts/icomoon.svg?kvao3n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-navi:before {
    content: "\e90d";
}
.icon-contractlist:before {
    content: "\e90a";
}
.icon-sysfile:before {
    content: "\e90b";
}
.icon-userFile:before {
    content: "\e90c";
}
.icon-baseinfo:before {
    content: "\e907";
}
.icon-businesscenter:before {
    content: "\e908";
}
.icon-setup:before {
    content: "\e909";
}
.icon-customerlist:before {
    content: "\e900";
}
.icon-material:before {
    content: "\e901";
}
.icon-instlist:before {
    content: "\e902";
}
.icon-ordercenter:before {
    content: "\e903";
}
.icon-paymentlist:before {
    content: "\e904";
}
.icon-productlist:before {
    content: "\e905";
}
.icon-workorderlist:before {
    content: "\e906";
}

