@screen-md-min :992px;
@grey:#EEF0EF;
@red:#E94B35;
@white:#fff;
#title{
  background-color: @red;
  padding: 14px 10px;
  color:@white;
  a{
    color: @white;
  }
}
.divide{
  margin-bottom: 1.5px;
}
#body{
  .font{
    color: @red;
  }
  div{
    background-color: @white;
    padding:14px 10px;
    .divide;
    span:first-child{
      display: inline-block;
      padding-right: 6px;
    }
  }
  p{
    margin: 10px 0 0 10px;
  }
  a{
    color: lightgrey;
    text-decoration: none;
  }
  button{
    border-color: @red;
    background-color: @white;
    color: @red;
  }
  input{
    border: 0;
  }
  label{
    font-weight: normal;
    span:first-child{
      display:block;
    }
    input{
      position: absolute;
      right: 0;
      margin: 0 10px 10px 0;
      padding: 10px;
    }
  }
  .recharge-item{
    margin: 4px;
  }
  hr{
    margin: 4px -10px;
  }
  hr~span{
    display: inline-block;
    margin-left: 12px;
  }
}
#body-recharge{
  #body;
  .recharge-item{
    padding-top: 2px;
    padding-bottom: 4px;
  }
}
#foot{
  position: fixed;
  background-color: @red;
  bottom: 0;
  left: 0;
  right: 0;
  height: 38px;
  line-height: 2.6;
  color: @white;
  font-weight: bold;
  a{
    text-decoration: none;
    color: @white;
  }
}