.media {
  margin: 20px -20px 0 -25px;
}
#title {
  background-color: #E94B35;
  padding: 10px 20px 10px 20px;
  color: #fff;
}
#title a {
  color: #fff;
}
.divide {
  margin-bottom: 1px;
}
.item-padding {
  padding: 10px 10px 10px 20px;
}
#body {
  margin: 0 -15px 0 -15px;
}
#body .font {
  color: #E94B35;
}
#body div {
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  margin-bottom: 1px;
}
#body p {
  padding: 10px 0 0 10px;
  margin: 10px 0 0 0;
}
#body a {
  color: #EEF0EF;
  padding-left: 5px;
  text-decoration: none;
}
#body button {
  border-color: #E94B35;
  background-color: #fff;
  color: #E94B35;
}
#body .small {
  padding-top: 2px;
}
#body input {
  padding-left: 5px;
  border: 0;
}
#body .radio {
  color: #E94B35;
}
#body label {
  font-weight: normal;
  margin-bottom: 0;
}
#body label span:first-child {
  display: block;
}
#body label input {
  position: absolute;
  right: 0;
  margin: -5px 20px auto auto;
}
#body hr {
  margin: 6px -4px 6px -16px;
}
#body .recharge-item {
  margin: 0 4px 8px 4px;
}
#body .recharge-item p {
  padding: 0;
}
#body .recharge-item:first-child {
  margin: 4px 4px 8px 4px;
}
#foot {
  position: fixed;
  background-color: #E94B35;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  height: 38px;
  line-height: 2.6;
  color: #fff;
  font-weight: bold;
}
#foot a {
  text-decoration: none;
  color: #fff;
}
