.media {
  margin: 20px -20px 0 -25px;
}
#head {
  background-color: #E94B35;
  padding: 10px 20px 10px 20px;
  color: #fff;
}
#head a {
  color: #fff;
}
#head img {
  width: 80px;
  height: 80px;
}
#horizon-item {
  background-color: #fff;
}
#horizon-item button {
  background-color: #fff;
}
#horizon-item img {
  width: 40px;
  height: 40px;
}
#vertical-item {
  margin: 0 -20px;
}
#vertical-item li {
  padding: 0 40px;
  background-color: #fff;
  margin: 10px -20px 0 -20px;
}
#vertical-item img {
  width: 40px;
  height: 40px;
}
#vertical-item a {
  color: lightgrey;
}
#vertical-item1 {
  margin: 0 -20px;
}
#vertical-item1 li {
  padding: 0 40px;
  background-color: #fff;
  margin: 10px -20px 0 -20px;
}
#vertical-item1 img {
  width: 40px;
  height: 40px;
}
#vertical-item1 a {
  color: lightgrey;
}
#vertical-item1 li {
  margin: 0 -20px 1px -20px;
}
#vertical-item1 li:first-child {
  margin-bottom: 5px;
}
#vertical-item1 img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}
#textarea {
  background-color: #fff;
  margin: 4px -10px 0 -10px;
}
