div#client-head{
    background-color: #E94B35;
    padding-top: 10px;
    padding-bottom: 10px;
}
div#client-head>div{
    padding-left: 10px;
    padding-right: 0;
    color: #ffffff;
}
dd#client-name{
    font-size: 18px;
}
.link-small{
    margin-top: 60px;
}
.link-small a:visited{
    color: #ffffff;
}
#ul-item a{
    color: darkgray;
}
#ul-item{
    background-color: #EEF0EF;
}
#ul-item ul li{
    margin-top: 10px;
    background-color: #ffffff;
}
img.img-small{
    width: 30px;
    height: 30px;
}
#ul-item .img-small{
    margin-left: 20px;
}
#ul-item .img-large{
    margin-left: 30px;
}
#ul-item .link-small{
    margin-top: 10px;
}
#ul-item .link-large{
    margin-top: 20px;
}
.text-large{
    padding-top: 20px;
    margin-left: 10px;
}
.text-small{
    padding-top: 5px;
}