#head {
  background-color: #E94B35;
  padding: 10px;
  color: #fff;
}
#head a {
  color: #fff;
}
#head img {
  width: 80px;
  height: 80px;
}
#horizon-item {
  background-color: #fff;
}
#horizon-item button {
  background-color: #fff;
}
#horizon-item img {
  width: 40px;
  height: 40px;
}
#vertical-item .media {
  margin-top: 10px;
}
#vertical-item li {
  padding: 0 10px;
  background-color: #fff;
}
#vertical-item img {
  width: 40px;
  height: 40px;
}
#vertical-item a {
  color: lightgrey;
}
#vertical-item1 .media {
  margin-top: 10px;
}
#vertical-item1 li {
  padding: 0 10px;
  background-color: #fff;
}
#vertical-item1 img {
  width: 40px;
  height: 40px;
}
#vertical-item1 a {
  color: lightgrey;
}
#vertical-item1 .media {
  margin-top: 0;
  margin-bottom: 1px;
}
#vertical-item1 .media:first-child {
  margin-bottom: 5px;
}
#vertical-item1 img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}
#textarea {
  background-color: #fff;
  margin: 4px;
}
