@screen-sm-min :768px;
@screen-md-min :992px;
@screen-lg-min :1200px;
@background-grey:#EEF0EF;
@background-red:#E94B35;
@white:#fff;
#head{
  background-color: @background-red;
  padding:14px 10px;
  color:@white;
  a{
    color: @white;
  }
  img{
    width: 80px;
    height: 80px;
  }
}
#horizon-item{
  background-color: @white;
  button{
    background-color: @white;
  }
  img{
    width: 40px;
    height: 40px;
  }
}
#vertical-item{
  .media{
    margin-top: 10px;
  }
  li{
    padding:4px 10px;
    background-color: @white;
  }
  img{
    width: 40px;
    height: 40px;
  }
  a{
    color: lightgrey;
  }
}
#vertical-item1{
  #vertical-item;
  .media{
    margin-top: 0;
    margin-bottom: 1.5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .media:first-child{
    margin-bottom: 5px;
  }
  img{
    width: 60px;
    height: 60px;
    margin: 10px 0;
  }
}
#textarea{
  background-color: @white;
  margin: 4px;
}