//
   Created by leon on 15/12/4.

extends ../../layout/layout-bizpage
block titleContent
    title 个人中心

block content
    script(src="/js/biz/user/user.js")
    div(ng-app="userApp")
        div(ng-view)
        script(type="text/ng-template", id="userInfo.html")
            //功能导航
            ul.breadcrumb
                li
                    a(href="/app/home")
                        span.glyphicon.glyphicon-home
                        | 首页
                li.active 个人中心

            nav.navbar.navbar-default.navbar-fixed-top
                div.container-fluid.row
                    div.navbar-header.col-md-9
                        a.navbar-brand(href="#") 个人中心
                    div.collapse.navbar-collapse.col-md-3
                        ul.nav.navbar-nav.navbar-left
                            li
                                button.btn.btn-primary.navbar-btn(type="button", ng-click="vm.changePwd()") 更改密码
                                button.btn.btn-primary(type="button",ng-click="vm.changeImg()") 更改头像
                                div(npt-select-image="vm.selectImageOptions")

            div.page-header
                h4 用户个人信息
            div.page-body
                div.col-md-4
                    div.thumbnail(href="")
                        img(npt-image="vm.profile.user.headerfileid",npt-image-options="vm.imageOptions")

                div.col-md-8
                    dl.dl-horizontal
                        dt 用户名:
                        dd(ng-bind="vm.userInfo.data.name")
                        dt 性别:
                        dd(ng-bind="vm.userInfo.data.sex")
                        dt 生日:
                        dd(ng-bind="vm.userInfo.data.birthday")
                        dt 注册时间:
                        dd(ng-bind="vm.userInfo.data.registerdate | timestampFilter")
                        dt 联系电话:
                        dd(ng-bind="vm.userInfo.data.no")
                        dt 在线状态:
                        dd(ng-bind="vm.userInfo.data.onlinestate=='offline'?'离线':'在线'")
                        dt 签名:
                        dd(ng-bind="vm.userInfo.data.signature")

        script(type="text/ng-template",id="changePassword.html")
            //弹出层，客户条件查询表单
            div.modal-header
                button.close(type="button",data-dismiss="modal",aria-label="Close", ng-click="vm.cancel()")
                    span(aria-hidden="true")&times;
                h4.modal-title 更改密码
            div.modal-body
                div.row
                    div.col-md-12
                        form
                            div.form-group
                                label(for="originPwd") 原密码
                                input#originPwd.form-control(ng-model="vm.model.oriPwd", type="password", placeholder="请输入原密码")
                            div.form-group
                                label(for="newPwd") 新密码
                                input#newPwd.form-control(ng-model="vm.model.newPwd", type="password", placeholder="请输入新密码")
            div.modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal", ng-click="vm.cancel()") 关闭
                button.btn.btn-primary(type="button",data-dismiss="modal", ng-click="vm.ok()") 确认