//
   Created by leon on 15/12/4.

extends ../../layout/layout-bizpage
block titleContent
    title 个人中心

block content
    script(src="/js/biz/user/user.js")
    div(ng-app="userApp", id="userInfo.html")
        div(ng-view)
            script(type="text/ng-template", id="userInfo.html")
                //功能导航
                ul.breadcrumb
                    li
                        a(href="/app/home")
                            span.glyphicon.glyphicon-home
                            | 首页
                    li.active 个人中心

                nav.navbar.navbar-default.navbar-fixed-top
                    div.container-fluid.row
                        div.navbar-header.col-md-9
                            a.navbar-brand(href="#") 个人中心
                        div.collapse.navbar-collapse.col-md-3
                            ul.nav.navbar-nav.navbar-left
                                li
                                    button.btn.btn-primary.navbar-btn(type="button", onclick="") 更改密码

                div.page-header
                    h4 用户个人信息
                div.page-body
                    div.col-md-4
                        div.thumbnail(href="")
                            img(npt-image="vm.profile.user.headerfileid",npt-image-options="vm.imageOptions")




                        button.btn.btn-primary(type="button", ng-click="vm.open()") 选择图片
                        div(npt-select-image="vm.selectImageOptions")
                        hr
                        h3 异步加载的图片
                        div(style="width:50px;height:50px;",npt-image="10000001549032",npt-image-options="vm.imageOptions")
                        hr
                        div.row()
                            div.col-md-3(ng-repeat="image in vm.selected")
                                div(style="width:250px;height:250px;",npt-image="image.file.id")

                    div.col-md-8
                        dl.dl-horizontal
                            dt 用户名:
                            dd {{vm.userInfo.data.name}}
                            dt 注册时间:
                            dd {{vm.userInfo.data.createdate}}