//
   Created by rxy on 15/11/3.

extends ../../layout/layout-bizpage

block content
    script(src="/js/app/product.js")
    script(src="/js/store/datatable/product.js")
    script(src="/js/store/form/product.js")
    div(ng-app="productApp")
        //通知区域
        //内容区域
        div(ng-view)
        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 产品列表

            div.row
                div.col-md-12
                    form.form-inline(style="padding-top:10px;padding-bottom:10px;")
                        div.form-group
                            p.form-control-static 省
                            &nbsp
                        div.form-group
                            select.form-control(ng-model="query.province")
                                option(ng-repeat="city in cities" value="{{city.id}}") {{city.province}}
                        &nbsp &nbsp
                        div.form-group
                            p.form-control-static 市
                            &nbsp
                        div.form-group
                            select.form-control(ng-model="query.city")
                                option(ng-repeat="city in cities" value="{{city.id}}") {{city.city}}
                        &nbsp &nbsp
                        div.form-group
                            p.form-control-static 区
                            &nbsp
                        div.form-group
                        select.form-control(ng-model="query.district")
                            option(ng-repeat="city in cities" value="{{city.id}}") {{city.district}}
            //功能按钮区域
            div.row
                div.col-md-12
                    span
                        label.btn.btn-primary.btn-sm(ng-model="query.groupid" uib-btn-radio="'all'" ng-click="queryByGroupId()" data-loading-text="正在查询..." id="all") 全部
                        label.btn.btn-primary.btn-sm(ng-model="query.groupid" uib-btn-radio="'weifenlei'" ng-click="queryByGroupId()" data-loading-text="正在查询..." id="weifenlei") 未分组
                    span(ng-repeat="group in groupdata")
                        label.btn.btn-primary.btn-sm(ng-model="query.groupid" uib-btn-radio="{{group.id}}"  ng-click="queryByGroupId()" data-loading-text="正在查询..." id="{{group.id}}") {{group.name}}
                    | &nbsp
                    label.btn.btn-primary.btn-sm
                        a(href="#/product",style="text-decoration:none;color: white") 添加产品
                    | &nbsp
                    label.btn.btn-primary.btn-sm(data-toggle="modal",data-target="#addGroup") 添加分组
                    | &nbsp
                    a.btn.btn-primary.btn-sm(type="button",href="#/group/{{query.province}}/{{query.city}}/{{query.district}}") 编辑分组
                    | &nbsp
                    label.btn.btn-primary.btn-sm(ng-click="query.toggle()",data-loading-text="正在查询...",id="query") {{query.text}}
                    | &nbsp
                    label.btn.btn-primary.btn-sm(ng-click="checkNew.toggle()",data-loading-text="正在查询...",id="checkNew") {{checkNew.text}}
            p
                //检查新订单区域
            div.row
                div.col-md-12
                    div(uib-collapse="!checkNew.isCollapsed")
                        div.well.well-lg 检查新订单
            //条件查询内容输入区域
            div.row
                div.col-md-12
                    div(uib-collapse="!query.isCollapsed")
                        div.well.well-lg 条件查询内容
            //数据表格区域
            div.row
                div.col-md-12
                npt-datatable(name="product" is-pagination="true",items-per-page="10",data="data",is-index="true",on-action="productAction(type,item,index)")

            //弹出层，添加分组
            div#addGroup.modal.fade(tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-label="Close")
                                span(aria-hidden="ture")&times;
                            h4.modal-title 添加分组
                        div.modal-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-3.control-label 分组名称:
                                    div.col-md-9
                                        input.form-control(type="text"  ng-model="addgroup.name")
                            div.modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                                button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="addGroup()") 确认

        //编辑产品
        script(type="text/ng-template",id="product.html")
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#list")
                                span 产品列表
                        li.active 产品信息

            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 产品信息
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#/list") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 基本信息
                        form.form-horizontal.container
                            div.form-group
                                label.col-md-2.control-label 产品logo:
                                div.col-md-10
                                    p.form-control-static
                                        button.btn.btn-primary(ng-model="imgid" ,type="button",data-toggle="modal",data-target="#myModal4") 选择

                                label.col-md-2.control-label 产品名称:
                                div.col-md-10
                                    p.form-control-static
                                        input.form-control(ng-model="pro.name", type="text", value="{{pro.name}}")

                                label.col-md-2.control-label 产品价格:
                                div.col-md-10
                                    p.form-control-static
                                        input.form-control(ng-model="pro.saleprice", type="number" ,value="{{pro.saleprice}}")

                                label.col-md-2.control-label 服务类型:
                                div.col-md-10
                                    p.form-control-static
                                        select.form-control(ng-model="pro.type")
                                            option(ng-repeat="producttype in producttypecode" value="{{producttype.no}}") {{producttype.name}}

                                label.col-md-2.control-label 服务详情:
                                div.col-md-10
                                    p.form-control-static
                                        input.form-control(type="text",ng-model="pro.introduce" ,value="{{pro.introduce}}")

                                lable.col-md-2.control-label 详情链接:
                                div.col-md-10
                                    p.form-control-static
                                        input.form-control(type="text",ng-model="pro.introduceurl" ,value="{{pro.introduceurl}}")

                                lable.col-md-2.control-label
                                div.col-md-10
                                    p.form-control-static
                                        button.btn.btn-primary(type="button",ng-click="editProduct()") 确认
                                        &nbsp &nbsp &nbsp &nbsp
                                        a.btn.btn-default(type="button",href="#/list") 返回

        //编辑分组
        script(type="text/ng-template",id="editGroup.html")
            //弹出层，编辑分组
            div#editGroup.modal.fade(name="editGroup",tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-label="Close")
                                span(aria-hidden="ture")&times;
                            h4.modal-title 编辑分组
                        div.modal-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-3.control-label 分组名称:
                                    div.col-md-9
                                        input.form-control(type="text"  ng-model="editgroup.name")

                                    label.col-md-3.control-label 排序:
                                    div.col-md-9
                                        input.form-control(type="number"  ng-model="editgroup.sort")
                            div.modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                                button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="editGroup()") 确认
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#list")
                                span 产品列表
                        li.active 分组信息

            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 分组信息
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#/list") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 分组信息
                        npt-datatable(name="group",data="groupdata",is-index="true",on-action="dollproductGroup(type,item,index)")



        //详情模板
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#list")
                                span 产品列表
                        li.active 产品详情

            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 产品详情
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="") 下架
                    li
                        a(href="",ng-click="query.previous(productid)",ng-show="{{query.previousId(productid)}}") 上一单
                    li
                        a(href="",ng-click="query.next(productid)",ng-show="{{query.nextId(productid)}}") 下一单
                    li
                        a(href="#/list") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 基本信息
                        div(style="padding-top:10px;")
                            div.table-responsive
                                table#table1.table.table-striped.table-hover.table-bordered.table-condensed
                                    tbody
                                        tr
                                            th.text-center #
                                            th.text-center 产品名称
                                            th.text-center 价钱
                                            th.text-center 产品状态
                                            th.text-center 促销价格
                                            th.text-center 产品类型
                                            th.text-center 办理天数
                                            th.text-center.col-md-2 操作
                                        tr
                                            td.text-center 1
                                            td.text-center {{data.product.name}}
                                            td.text-center {{data.product.saleprice}}
                                            td.text-center {{data.product.state}}
                                            td.text-center {{data.product.pricedescr}}
                                            td.text-center {{data.product.type}}
                                            td.text-center {{data.product.daynum}}
                                            td.text-center
                                                a.btn.btn-sm.btn-primary(type="button",href="#/product/{{data.product.id}}") 编辑

            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.col-md-12.panel-heading
                            div.col-md-6 服务阶段
                            div.col-md-6.text-right
                                button.btn.btn-primary.btn-sm(ng-click="openModal('#productPhasesModal');") 添加
                        npt-datatable(name="productPhases" data="data.productPhases",is-index="true",on-action="doProductPhases(type,item,index)")

            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.col-md-12.panel-heading
                            div.col-md-6 资料清单
                            div.col-md-6.text-right
                                button.btn.btn-primary.btn-sm(ng-click="openModal('#productPhasesModal');") 添加
                        npt-datatable(name="productPhases" data="data.productPhases",is-index="true",on-action="doProductPhases(type,item,index)")

            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.col-md-12.panel-heading
                            div.col-md-6 服务内容
                            div.col-md-6.text-right
                                button.btn.btn-primary.btn-sm(ng-click="openModal('#productProfilesModal');") 添加
                        npt-datatable(name="productProfiles" data="data.bizProductProfiles",is-index="true",on-action="doProductProfiles(type,item,index)")

            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.col-md-12.panel-heading
                            div.col-md-6 服务分组
                            div.col-md-6.text-right
                                button.btn.btn-primary.btn-sm(ng-click="openModal('#productGroupsModal');") 添加
                        npt-datatable(name="productGroups" data="data.productGroups",is-index="true",on-action="doProductGroups(type,item,index)")

            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.col-md-12.panel-heading
                            div.col-md-6 服务分类
                            div.col-md-6.text-right
                                button.btn.btn-primary.btn-sm(ng-click="openModal('#productClassifiesModal');") 添加
                        npt-datatable(name="productClassifies" data="data.bizProductClassifies",is-index="true",on-action="doProductClassifies(type,item,index)")

            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.col-md-12.panel-heading
                            div.col-md-6 服务说明
                            div.col-md-6.text-right
                                button.btn.btn-primary.btn-sm(ng-click="openModal('#productDescrsModal');")  添加
                        npt-datatable(name="productDescrs" data="data.bizProductDescrs",is-index="true",on-action="doProductDescrs(type,item,index)")

            //弹出层，服务阶段
            div#productPhasesModal.modal.fade(tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-label="Close")
                                span(aria-hidden="ture") &times;
                            h4.modal-title 服务阶段
                        div.modal-body
                            form.form-horizontal
                                div.form-group
                                    labelc.col-md-2.control-label 阶段名称:
                                    div.col-md-10
                                        p.form-control-static
                                            input.form-control(ng-model="phases.name" type="text" value="{{phases.name}}")

                                    labelc.col-md-2.control-label 阶段职责:
                                    div.col-md-10
                                        p.form-control-static
                                            input.form-control(ng-model="phases.duty" type="text" value="{{phases.duty}}")

                                    labelc.col-md-2.control-label 服务类型:
                                    div.col-md-10
                                        p.form-control-static
                                            select.form-control
                                                option(ng-repeat="code in cyclecode" value="{{code.no}}") {{code.name}}

                                    labelc.col-md-2.control-label 办理天数:
                                    div.col-md-10
                                        p.form-control-static
                                            input.form-control(ng-model="phases.times" type="number" value="{{phases.times}}")

                                    labelc.col-md-2.control-label 排序:
                                    div.col-md-10
                                        p.form-control-static
                                            input.form-control(ng-model="phases.sortno" type="number" value="{{phases.sortno}}")

                                    labelc.col-md-2.control-label 阶段说明:
                                    div.col-md-10
                                        p.form-control-static
                                            input.form-control(ng-model="phases.phasedescr" type="text" value="{{phases.phasedescr}}")
                            div.modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                                button.btn.btn-primary(type="button",data-dismiss="modal",ng-click="editProductPhase()") 确认

            //弹出层，服务内容
            div#productProfilesModal.modal.fade(tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-label="Close")
                                span(aria-hidden="ture")&times;
                            h4.modal-title 服务内容
                        div.modal-body
                            from.form-horizontal
                                div.form-group
                                    label.col-md-2.control-label 内容描述:
                                    div.col-md-10
                                        p.form-control-static
                                            textarea.form-control(ng-model="profiles.synopsis") {{profiles.synopsis}}

                                    label.col-md-2.control-label 排序:
                                    div.col-md-10
                                        p.form-control-static
                                            input.form-control(ng-model="profiles.sort",type="number",value="{{profiles.sort}}")
                            div.modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                                button.btn.btn-primary(type="button",data-dismiss="modal" ng-click="editProductProfile();") 确认

            //弹出层，服务分组
            div#productGroupsModal.modal.fade(tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-label="Close")
                                span(aria-hidden="ture")&times;
                            h4.modal-title 服务分组
                        div.modal-body
                            form.form-horizontal
                                div.form-group
                                    labelc.col-md-2.control-label 分组logo:
                                    div.col-md-10
                                        p.form-control-static
                                            labele.hidden(ng-model="group.backgorundimgid")
                                            button.btn.btn-primary(type="button",data-toggle="modal",data-target="#myModal4") 选择

                                    labelc.col-md-2.control-label 分组名称:
                                    div.col-md-10
                                        p.form-control-static 精选
                                            labele.hidden(ng-model="group.groupid")
                                            button.btn.btn-primary(type="button",data-toggle="modal",data-target="#myModal4") 选择

                                    labelc.col-md-2.control-label 是否置顶:
                                    div.col-md-10
                                        p.form-control-static
                                            label.control-label
                                                input(type="radio",ng-model="group.top",name="yesorno",checked)
                                                label 是 &nbsp;&nbsp;&nbsp;&nbsp;
                                            label.control-label
                                                input(type="radio",ng-model="group.top",name="yesorno")
                                                label 否

                                    labelc.col-md-2.control-label 排序:
                                    div.col-md-10
                                        p.form-control-static
                                            input.form-control(ng-model="group.sort",type="number" value="{{group.sort}}")
                            div.modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                                button.btn.btn-primary(type="button",data-dismiss="modal" ng-click="editProductGroup();") 确认

            //弹出层，服务分类
            div#productClassifiesModal.modal.fade(tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-label="Close")
                                span(aria-hidden="ture")&times;
                            h4.modal-title 服务分类
                        div.modal-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-3.control-label 选择分类地域:
                                    div.col-md-9
                                        p.form-control-static
                                            labele.hidden(ng-model="classify.cityid")
                                            button.btn.btn-primary(data-toggle="modal" data-target="#myModal4" type="button") 选择

                                    label.col-md-3.control-label 分类名称:
                                    div.col-md-3
                                        p.form-control-static
                                            input.form-control(ng-model="classify.classifyname",value="{{classify.classifyname}}" type="text")

                                    label.col-md-3.control-label 分类编号:
                                    div.col-md-3
                                        p.form-control-static
                                            input.form-control(ng-model="classify.classifyno",value="{{classify.classifyno}}" type="text")

                                    label.col-md-3.control-label 价格:
                                    div.col-md-3
                                        p.form-control-static
                                            input.form-control(ng-model="classify.price",value="{{classify.price}}" type="number")

                                    label.col-md-3.control-label 排序:
                                    div.col-md-3
                                        p.form-control-static
                                            input.form-control(ng-model="classify.sort",value="{{classify.sort}}" type="number")

                                    label.col-md-3.control-label 所属服务阶段:
                                    div.col-md-3
                                        p.form-control-static
                                            select.form-control(ng-model="classify.phaseid")
                                                option(ng-repeat="phase in prophase" value="{{phase.id}}") {{phase.name}}

                            div.modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                                button.btn.btn-primary(type="button",data-dismiss="modal" ng-click="editProductClassify();") 确认

            //弹出层，服务说明
            div#productDescrsModal.modal.fade(tabindex="-1",role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-label="Close")
                                span(aria-hidden="ture")&times;
                            h4.modal-title 服务说明
                        div.modal-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-2.control-label 标题
                                    div.col-md-10
                                        p.form-control-static
                                            input.form-control(ng-model="descr.descr",type="text" value="{{descr.descr}}")
                                div.form-group
                                    label.col-md-2.control-label 类型
                                    div.col-md-10
                                        select.form-control(ng-model="descr.type")
                                            option(ng-repeat="productdescrtype in productdescrtypecode" value="{{productdescrtype.no}}") {{productdescrtype.name}}

                                div.form-group
                                    label.col-md-2.control-label 内容
                                    div.col-md-10
                                        p.form-control-static
                                            textarea.form-control(ng-model="descr.descrvalue",) {{descr.descrvalue}}
                            div.modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                                button.btn.btn-primary(type="button",data-dismiss="modal" ng-click="editProductDescr();") 确认



