//
   Created by rxy on 15/11/3.

extends ../../layout/layout-bizpage

block content
    script(src="/js/bpc/orderconfig.js")
    script(src="/js/app/order.js")
        div(ng-app="productApp")
            div.row

