//
   Created by Leon on 15/10/15.

extends ../../layout/layout-bizpage

block content
    script(src="/js/app/workorder.js")
    div(ng-app="workorderApp")
        //通知区域
        //内容区域
        div(ng-view)

        //组织结构树模板
        //script(type="text/ng-template",id="org_nodes.html")
        //    div.tree-node.tree-node-content(ui-tree-handle)
        //        a.btn.btn-success.btn-xs(ng-if="node.nodes && node.nodes.length > 0",ng-click="toggle(this)")
        //            span.glyphicon(ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}")
        //        | &nbsp &nbsp
        //        a.btn-link(ng-click="clickOrg(node)") {{node.title}}
        //
        //    ol(ui-tree-nodes="",ng-model="node.nodes",ng-class="{hidden:collapsed}")
        //        li(ng-repeat="node in node.nodes",ui-tree-node,ng-include="'org_nodes.html'")

        //列表模板
        script(type="text/ng-template",id="list.html")
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li.active 工单列表
            //功能按钮区域
            div.row
                div.col-md-12
                    div.btn-group
                        label.btn.btn-primary.btn-sm(ng-model="query.state" uib-btn-radio="'all'",ng-click="queryByState()" data-loading-text="正在查询...",id="all") 全部
                        label.btn.btn-primary.btn-sm(ng-model="query.state" uib-btn-radio="'unstart'",ng-click="queryByState()" data-loading-text="正在查询...",id="unstart") 未处理
                        label.btn.btn-primary.btn-sm(ng-model="query.state" uib-btn-radio="'inservice'",ng-click="queryByState()" data-loading-text="正在查询...",id="inservice") 处理中
                        label.btn.btn-primary.btn-sm(ng-model="query.state" uib-btn-radio="'complete'",ng-click="queryByState()" data-loading-text="正在查询...",id="complete") 已完成
                    | &nbsp
                    label.btn.btn-primary.btn-sm(ng-click="query.toggle()",data-loading-text="正在查询...",id="query") {{query.text}}
                    | &nbsp
                    label.btn.btn-primary.btn-sm(ng-click="checkNew.toggle()",data-loading-text="正在查询...",id="checkNew") {{checkNew.text}}
            p
            //检查新工单区域
            div.row
                div.col-md-12
                    div(uib-collapse="!checkNew.isCollapsed")
                        div.well.well-lg 检查新工单
            //条件查询内容输入区域
            div.row
                div.col-md-12
                    div(uib-collapse="!query.isCollapsed")
                        div.well.well-lg 条件查询内容
            //数据表格区域
            div.row
                div.col-md-12
                    npt-datatable(is-pagination="true",items-per-page="10",name="workorder",data="data",action="action",is-index="true",on-action="workorderAction(type,item,index)")
        //详情模版
        script(type="text/ng-template",id="detail.html")
            //功能导航区域
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#/list")
                                span 工单列表
                        li.active 工单详情
            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 工单详情
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="",ng-click="query.previous(workorderid)",ng-show="{{query.previousId(workorderid)}}") 上一单
                    li
                        a(href="",ng-click="query.next(workorderid)",ng-show="{{query.nextId(workorderid)}}") 下一单
                    li
                        a(href="#/startWorkorder/{{workorderid}}",ng-show="isUnstart") 开始做
                    li
                        a(href="#/completeWorkorder/{{workorderid}}",ng-show="isInservice") 完成
                    li
                        a(href="#/deliverWorkorder/{{workorderid}}",ng-show="isNotComplete") 转交
                    li
                        a(href="/order/#/detail/{{data.workOrder.sourcevalue}}") 查看订单
                    li
                        a(href="#/list") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 基本信息
                        div.panel-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 订单编号:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.sn}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单名称:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.name}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单描述:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.descr}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单状态:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.state}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 处理人:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.processid}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 分配人:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.assignedid}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 分配日期:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.assigneddate}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 完成日期:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.completedate}}",disabled)
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 工单资料
                        npt-datatable(name="orderAttachmentHeader",data="data.orderAttachments",action="orderAttachmentAction",is-index="true",on-action="doOrderAttachments(type,item,index)")
            div.row
                div.col-md-12
                    div.panel.panel-default
                        div.panel-heading 工单评价
                        npt-datatable(name="workorderCommentHeader",data="data.workorderComment",action="workorderCommentAction",is-index="true",on-action="doWorkorderComment(type,item,index)")
        script(type="text/ng-template",id="startWorkorder.html")
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#/list")
                                span 工单列表
                        li
                            a(href="#/detail/{{workorderid}}")
                                span 工单详情
                        li.active 开始工单
            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 开始工单
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#detail/{{workorderid}}") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp
            div.row
                div.col-md-12
                    div.panel.panel-primary
                        div.panel-heading 工单信息
                        div.panel-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 订单编号:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.sn}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单名称:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.name}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单描述:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.descr}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单状态:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.state}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="postscript") 附言:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",ng-model="postscript")


                                div.form-group
                                    div.col-sm-offset-2.col-md-10
                                        button.btn.btn-primary(type="button",ng-click="startWorkorder()") 确认开始
                                        | &nbsp &nbsp
                                        a.btn.btn-default(type="button",href="#/detail/{{workorderid}}") 返回
        script(type="text/ng-template",id="completeWorkorder.html")
            div.row
                div.col-md-12
                    ul.breadcrumb
                        li
                            a(href="/home")
                                span.glyphicon.glyphicon-home
                                span 首页
                        li
                            a(href="#/list")
                                span 工单列表
                        li
                            a(href="#/detail/{{workorderid}}")
                                span 工单详情
                        li.active 完成工单
            nav.navbar.navbar-default
                div.navbar-header
                    a.navbar-brand(href="") 完成工单
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#detail/{{workorderid}}") 返回
                    li
                        | &nbsp &nbsp &nbsp &nbsp
            div.row
                div.col-md-12
                    div.panel.panel-primary
                        div.panel-heading 工单信息
                        div.panel-body
                            form.form-horizontal
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 订单编号:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.sn}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单名称:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.name}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单描述:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.descr}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="sn") 工单状态:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",value="{{data.workOrder.state}}",disabled)
                                div.form-group
                                    label.col-md-2.control-label(for="postscript") 附言:
                                    div.col-md-10
                                        input.form-control(type="text",id="sn",ng-model="postscript")


                                div.form-group
                                    div.col-sm-offset-2.col-md-10
                                        button.btn.btn-primary(type="button",ng-click="completeWorkorder()") 确认完成
                                        | &nbsp &nbsp
                                        a.btn.btn-default(type="button",href="#/detail/{{workorderid}}") 返回



        script(type="text/ng-template",id="deliverWorkorder.html")
            div.row
                div.col-md-12
                    //功能导航区域
                    div.row
                        div.col-md-12
                            ul.breadcrumb
                                li
                                    a(href="/home")
                                        span.glyphicon.glyphicon-home
                                        span 首页
                                li
                                    a(href="#list")
                                        span 工单列表
                                li
                                    a(href="#detail/{{orderid}}")
                                        span 工单详情
                                li.active 转交工单

                    nav.navbar.navbar-default
                        div.navbar-header
                            a.navbar-brand(href="") 转交工单
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#detail/{{workorderid}}") 返回
                            li
                                | &nbsp &nbsp &nbsp &nbsp

                    //工单转发--用户选择模块
                    npt-select-tree(name="selectAdviser",select-type="selectUser",on-select="onSelect(type,item,index)")

                    div.row
                        div.col-md-12
                            div.panel.panel-primary
                                div.panel-heading 转交信息
                                div.panel-body
                                    form.form-horizontal(name="deliverForm")
                                        div.form-group
                                            label.col-md-2.control-label(for="deliverName") 转交用户:
                                            div.col-md-10
                                                div.input-group
                                                    span.input-group-btn
                                                        button.btn.btn-primary(type="button",ng-click="openSelectUser()") 选择专属顾问
                                                    input.form-control(type="text",id="deliverName",name="deliverName",placeholder="请选择专属顾问",ng-model="deliverName",required,disabled)
                                                    //span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="deliverForm.deliverName.$dirty")
                                        div.form-group
                                            label.col-md-2.control-label(for = "postscript") 附言:
                                            div.col-md-10
                                                input.form-control(type="text",id="postscript",name="postscript",ng-model="postscript")
                                        div.form-group
                                            div.col-sm-offset-2.col-md-10
                                                button.btn.btn-primary(type="button",ng-click="deliver()") 确认转交
                                                | &nbsp &nbsp
                                                a.btn.btn-default(type="button",href="#/detail/{{workorderid}}") 返回