doctype html
html(lang="zh_CN",ng-app="LoginApp")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title 登录移办通
        link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
    body.container-fluid(style="background-color:#445160;",ng-controller="LoginController as vm")
        script(src="/node_modules/jquery/dist/jquery.min.js")
        script(src="/node_modules/angular/angular.min.js")
        script(src="/node_modules/angular-route/angular-route.min.js")
        script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="/js/auth/login.js")

        div.row(style="background-color:white;padding-top:10px;padding-bottom:10px")
            div.col-md-4.col-xs-6(style="border-right:1px solid #DCDCDC")
                div.row
                    div.col-md-2.col-xs-4.col-sm-2
                        img(src="/image/yun9logo.png",width="52.2",height="69.6")
                    div.col-md-10.col-xs-8.col-sm-10
                        h4 移办通
                        h5
                        a(href="http://m.yun9.com",style="color:black;") yun9.com
            div.col-md-8.col-xs-6
                div.pull-left
                    h4 登录
                    h5
                        a(href="/mobile/download",style="color:black;",target="_blank") 下载移办通

        div.row(style="padding-top:50px")
            div.col-md-12
                div.container(style="background-color:white;")
                    h4 请输入登录信息
                    if(error)
                        div.alert.alert-info
                            p #{error}
                    form.form.form-horizontal(style="padding:20px",action="/auth",method="post")
                        div.form-group
                            input#userno.form-control.col-md-12(name="userno",type="text",placeholder="用户名")
                        div.form-group
                            input#password.form-control.col-md-12(name="password",type="password",placeholder="密码")
                        div.form-group
                            span.form-control-static.col-md-6(style="padding-left:0;")
                                input(type="checkbox")
                                | &nbsp;
                                lable 记住密码
                                | &nbsp;&nbsp;
                                | &nbsp;&nbsp;
                                label
                                    <!--a(style="color:black;") 忘记密码?|-->
                                    a(style="color:red;", href="./joinUsByEmail") 免费注册
                        div.form-group
                            input.btn(style="background:#EF3138;color:white;",type="submit" value="登录")









